<div ng-show="loading" class="loading">
    <h1 class="lodingMessage">Loading Genesus Product Designer<img src="images/ajax-loader.gif"></h1>
</div>
<div class="col-xs-12 alert alert-warning alert-dismissible margin-top-0 dash-alert-launch hidden-sm hidden-md hidden-lg" role="alert">
    <button class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    It looks like you're about to use our label designer on a mobile device. While it will work just fine, it's much easier
    to design a high quality label using our designer on a larger screen.
    <br> -Austin (Co-Founder Genesus)
</div>
<div class="row clearfix" ng-cloak>
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 editor_section">
        <div id="content" class="tabing">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a ng-click="deactivateAll()" href="#Products" class="products" data-toggle="tab" style="padding-top:10px;">Templates</a></li>
                <li><a ng-click="addTextByAction()" href="#Text" class="text" data-toggle="tab" style="padding-top:10px;">Text</a></li>
                <li><a ng-click="deactivateAll()" href="#Graphics" class="graphics" data-toggle="tab" style="padding-top:10px;margin-right:0px;">Art</a></li>
            </ul>
            <div id="my-tab-content" class="tab-content action_tabs">
                <div class="tab-pane active clearfix" id="Products">
                  <div class="col-lg-10 col-lg-offset-1 col-xs-12">
                    <h1 style="font-size:18px;">Select a template to get started:</h1>
                  </div>
                    <div class="col-lg-10 col-lg-offset-1 col-xs-12 thumb_listing scrollme" rebuild-on="rebuild:me" ng-scrollbar is-bar-shown="barShown" ng-class="fabric.selectedObject ? 'activeControls' : ''">
                        <ul>
                            <li ng-repeat="prod in products | orderBy:predicate:reverse" ng-class="(defaultProductId == prod.id) ? 'selected' : ''" ng-if="hasCategory(prod) && hasFormula(prod)">
                                <a href="javascript:void(0);" ng-click="loadProduct(prod.name, prod.image, prod.id, prod.price, prod.currency);">
                                    <img data-ng-src="{{prod.image}}" alt=""></a>
                                <span class="product_cat">{{prod.category}}</span>
                                <span class="product_title">{{prod.name}}</span>
                                <span class="product_price">{{prod.price}} {{prod.currency}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-pane clearfix" id="Graphics">
                    <div class="graphic_options clearfix design-cat">
                        <ul>
                            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <div class="col-xs-12 col-sm-6 col-sm-offset-3 border-rad">
                                    <a class="" href="#clip_arts" aria-controls="clip_arts" role="tab" data-toggle="tab" ng-click="own_upload = false">
                                        <!--<i class="fa fa-camera-retro"></i>-->
                                        <span>Browse Artwork</span>
                                    </a>
                                </div>
                                <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 grey-back">
                                        <p class="no-margin">Or</p>
                                    </div>
                                </li>
                            </li>
                            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <div class="col-xs-12 col-sm-6 col-sm-offset-3 border-rad">
                                    <a class="" href="#upload_own" aria-controls="upload_own" role="tab" data-toggle="tab" ng-click="own_upload = true">
                                        <!--<i class="fa fa-cloud-upload"></i>-->
                                        <span>Upload Your Own Art</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content-3">
                        <div role="tabpanel" class="tab-pane fade" id="clip_arts" ng-if="own_upload == false">
                            <div class="graphic_types clearfix" ng-show="!graphic_icons">
                                <div ng-repeat="graphicsCategory in graphicsCategories" value="{{graphicsCategory}}" ng-click="loadByGraphicsCat(graphicsCategory)" ng-model="graphicsCategory">
                                    <div class="{{graphicsCategory.split(' ').join('') | lowercase}}"></div>
                                    <span>
                                        {{graphicsCategory}}
                                    </span>
                                </div>
                            </div>
                            <span ng-show="graphic_icons" class="back_to_graphic" ng-click="ShowGraphicIcons()">
                                <i class="fa fa-angle-left"></i> Back
                            </span>
                            <div class="graphic_icons lil-pad" ng-show="graphic_icons">
                                <div class="col-lg-12 thumb_listing scrollme" rebuild-on="rebuild:me" ng-scrollbar is-bar-shown="barShown" ng-class="fabric.selectedObject ? 'activeControls' : ''">
                                    <ul>
                                        <li ng-repeat="graphic in graphics">
                                            <a href="javascript:void(0);" ng-click='addShape(graphic)'><img data-ng-src="{{graphic}}" alt="" width="120px;"></a>
                                        </li>
                                    </ul>
                                    <a ng-if="loadMore" class="loadMore" ng-click="graphics_load_more(graphicsPage)">Load More</a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="upload_own" ng-if="own_upload == true">
                            <div class="col-lg-12 thumb_listing">
                                <div class="well">
                                    <form name="myForm" class="text-center">
                                        <div class="fileUpload btn btn-primary">
                                            <span>Choose File</span>
                                            <input type="file" ngf-select="onFileSelect(picFile);" ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" class="upload">
                                        </div>
                                        <input id="uploadFile" placeholdFile NameName disabled="disabled" />
                                        <span class="has-error" ng-show="myForm.file.$error.maxSize">File too large {{picFile.size / 1000000|number:1}}MB: max 2M</span>
                                        <div class="clearfix"></div>
                                        <span class="has-error" ng-show="myForm.file.$error.maxWidth">File width too large : Max Width 300px</span>
                                        <div class="clearfix"></div>
                                        <span class="has-error" ng-show="myForm.file.$error.maxHeight">File height too large : Max Height 300px</span>
                                        <div class="clearfix"></div>
                                        <span class="has-error" ng-show="uploadErrorMsg">{{uploadErrorMsg}}</span>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane clearfix" id="Text">
                    <div class="tab-content-3">
                        <div role="tabpanel" class="tab-pane fade in active" id="text_design">
                            <div class="col-lg-12 thumb_listing">
                                <div class="well">
                                    <div class="row form-group">
                                        <md-input-container flex>
                                            <label style="left:10px;">Enter text here</label>
                                            <textarea columns="1" id="textarea-text" style="text-align: {{ fabric.selectedObject.textAlign }}" ng-model="fabric.selectedObject.text"></textarea>
                                        </md-input-container>
                                        <div class="clearfix">
                                            <md-button class="md-raised md-cornered" ng-click="addText()" aria-label="Add Text"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Text</md-button>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade">
                            <div class="col-lg-12 thumb_listing">
                                <div class="well">
                                    <div class="row form-group">
                                        <md-input-container flex>
                                            <label>Enter words below</label>
                                            <textarea columns="1" id="textarea-text-word-cloud" style="text-align: {{ fabric.selectedObject.textAlign }}; cursor:default;" ng-model="fabric.selectedObject.textWordCloud"></textarea>
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 tab-content" ng-class="fabric.selectedObject ? 'activeControlsElem' : ''" ng-if='fabric.selectedObject.type' ng-switch='fabric.selectedObject.type'>
            <div class="close-circle"><i class="fa fa-angle-left" ng-click="deactivateAll();"><span>New Text Layer</span></i></div>
            <div class="well">
                <div class="row form-group" ng-show="fabric.selectedObject.type == 'text' || fabric.selectedObject.type == 'curvedText'">
                    <md-input-container flex>
                        <label>Enter text below</label>
                        <textarea columns="1" id="textarea-text" style="text-align: {{ fabric.selectedObject.textAlign }}" ng-model="fabric.selectedObject.text"></textarea>
                    </md-input-container>
                </div>
                <div class="row form-group" ng-show="fabric.selectedObject.type == 'text' || fabric.selectedObject.type == 'curvedText'" style="position: relative;">
                    <md-button class="md-raised md-cornered dropdown-toggle" data-toggle="dropdown" aria-label="Font Family"><span class='object-font-family-preview' style='font-family: "{{ fabric.selectedObject.fontFamily }}";'> {{ fabric.selectedObject.fontFamily }} </span> <span class="caret"></span></md-button>
                    <ul class="dropdown-menu">
                        <li ng-repeat='font in FabricConstants.fonts' ng-click='toggleFont(font.name);' style='font-family: "{{ font.name }}";'> <a>{{ font.name }}</a> </li>
                    </ul>
                </div>
                <div class="row row-margin lil-lil-pad">
                    <div class="row col-lg-6" title="Font size" ng-show="fabric.selectedObject.type == 'text' || fabric.selectedObject.type == 'curvedText'">
                        <md-input-container flex>
                            <label><i class="fa fa-text-height"></i> (Font size)</label>
                            <input type='number' class="" ng-model="fabric.selectedObject.fontSize" />
                        </md-input-container>
                    </div>
                    <div class="row col-lg-6 form-group input-group colorPicker2" ng-show="fabric.selectedObject.type != 'image' && fabric.selectedObject.type != 'path'" style="padding-top:20px;">
                        <md-input-container flex>
                            <label for="Color" style="padding-left:20px;">Color:</label>
                            <input id="text-color-picker" type="text" value="" class="" colorpicker ng-model="fabric.selectedObject.fill" ng-change="fillColor(fabric.selectedObject.fill);" />
                        </md-input-container>
                        <span onclick="$('#text-color-picker').trigger('click')" class="input-group-addon" style="border: medium none #000000; background-color: {{fabric.selectedObject.fill}}"><i></i></span>
                    </div>
                    <div class="row col-lg-6" title="Reverse" ng-show="fabric.selectedObject.type == 'curvedText'">
                        <md-checkbox ng-model="fabric.selectedObject.isReversed" aria-label="Reverse" ng-click="toggleReverse(fabric.selectedObject.isReversed);">Reverse </md-checkbox>
                    </div>
                </div>
                <div class='row form-group' ng-show="fabric.selectedObject.type == 'text' || fabric.selectedObject.type == 'curvedText'">
                    <md-button class="md-raised md-cornered" ng-class="{ active: fabric.isBold() }" ng-click="toggleBold()" aria-label="Bold"><i class='fa fa-bold'></i></md-button>
                    <md-button class="md-raised md-cornered" ng-class="{ active: fabric.isItalic() }" ng-click="toggleItalic()" aria-label="Italic"><i class='fa fa-italic'></i></md-button>
                    <md-button class="md-raised md-cornered" ng-class="{ active: fabric.isUnderline() }" ng-click="toggleUnderline()" aria-label="Underline"><i class='fa fa-underline'></i></md-button>
                    <md-button class="md-raised md-cornered" ng-class="{ active: fabric.isLinethrough() }" ng-click="toggleLinethrough()" aria-label="Strike through"><i class='fa fa-strikethrough'></i></md-button>
                </div>
                <div class="row form-group transparency" title="Radius" ng-show="fabric.selectedObject.type == 'curvedText'" style="margin-bottom: 0px;">
                    <md-input-container flex>
                        <label for="Radius">Radius:</label>
                        <input class='col-sm-12' title="Radius" type='range' min="50" max="200" value="100" ng-model="fabric.selectedObject.radius" ng-change="radius(fabric.selectedObject.radius);" />
                    </md-input-container>
                </div>
                <div class="row form-group transparency" title="Spacing" ng-show="fabric.selectedObject.type == 'curvedText'" style="margin-bottom: 35px;">
                    <md-input-container flex>
                        <label for="Spacing">Spacing:</label>
                        <input class='col-sm-12' title="Spacing" type='range' min="5" max="30" value="10" ng-model="fabric.selectedObject.spacing" ng-change="spacing(fabric.selectedObject.spacing);" />
                    </md-input-container>
                </div>
                <div class="col-sm-12 input-group cloud-options" ng-show="fabric.selectedObject.type == 'image'">
                    <label class="custom-label">Filters:</label>
                    <br>
                    <md-checkbox ng-model="fabric.selectedObject.isGrayscale" aria-label="Grayscale" ng-click="setImageFilter(fabric.selectedObject.isGrayscale, 0);">Grayscale</md-checkbox>
                    <md-checkbox ng-model="fabric.selectedObject.isSepia" aria-label="Sepia" ng-click="setImageFilter(fabric.selectedObject.isSepia, 1);">Sepia</md-checkbox>
                    <md-checkbox ng-model="fabric.selectedObject.isInvert" aria-label="Invert" ng-click="setImageFilter(fabric.selectedObject.isInvert, 2);">Invert</md-checkbox>
                    <md-checkbox ng-model="fabric.selectedObject.isEmboss" aria-label="Emboss" ng-click="setImageFilter(fabric.selectedObject.isEmboss, 3);">Emboss</md-checkbox>
                    <md-checkbox ng-model="fabric.selectedObject.isSharpen" aria-label="Sharpen" ng-click="setImageFilter(fabric.selectedObject.isSharpen, 4);">Sharpen</md-checkbox>
                </div>
            </div>
        </div>
        <!---->
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 canvas_section">
        <div class="row">
            <div class="canvas_image image-builder ng-isolate-scope">
                <div class='fabric-container'>
                    <div class="canvas-container-outer">
                        <canvas fabric='fabric'></canvas>
                    </div>
                    <div class="btn-group-vertical btn-group-two">
                        <div class="icon-vertical m-b-sm pull-right" style="float: left ! important;">
                            <ul>
                                <li>
                                    <a ng-click="copyItem()" href="#" class="fa fa-copy"></a>
                                    <md-tooltip md-visible="copy.showTooltip" md-direction="right">Copy</md-tooltip>
                                </li>
                                <li>
                                    <a ng-click="pasteItem()" href="#" class="fa fa-paste"></a>
                                    <md-tooltip md-visible="paste.showTooltip" md-direction="right">Paste</md-tooltip>
                                </li>
                                <li>
                                    <a ng-click="horizontalAlign()" href="#" class="fa fa-arrows-h"></a>
                                    <md-tooltip md-visible="horizontal.showTooltip" md-direction="right">Horizontal Align</md-tooltip>
                                </li>
                                <li>
                                    <a ng-click="verticalAlign()" href="#" class="fa fa-arrows-v"></a>
                                    <md-tooltip md-visible="vertical.showTooltip" md-direction="right">Vertical Align</md-tooltip>
                                </li>
                                <li>
                                    <a ng-click="{ active: flipObject() }" href="#" class="fa fa-exchange fa-2"></a>
                                    <md-tooltip md-visible="flip.showTooltip" md-direction="right">Flip</md-tooltip>
                                </li>
                                <li>
                                    <a ng-click="clearAll()" href="#" class="fa fa-trash"></a>
                                    <md-tooltip md-visible="clear.showTooltip" md-direction="right">Empty Canvas</md-tooltip>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="canvas_sub_image">
                <ul>
                    <li ng-repeat="prodImg in productImages">
                        <img ng-click='loadProduct(defaultProductTitle, prodImg, defaultProductId, defaultPrice, defaultCurrency, $index)' data-ng-src="{{prodImg}}" alt="" width="120px;">
                    </li>
                </ul>
            </div>-->
            <div class="col-xs-12 canvas_sub_image" ng-show="campaign_data.formula.back_image">
                <img style="display:none" ng-src="{{add_back_image_path(campaign_data.formula.back_image)}}">
                <center>
                    <ul class="no-pad-left button-switch">
                        <li ng-repeat="prodImg in productImages" style="display:inline-block;padding-right:0px;margin-right:-2px;">
                            <a ng-click='loadProduct(defaultProductTitle, prodImg, defaultProductId, defaultPrice, defaultCurrency, $index)' class="btn btn-gy btn-sm" style="border-top-right-radius:0px;border-bottom-right-radius:0px;">Front</a>
                        </li>
                        <li style="display:inline-block;padding-left:0px;margin-left:-2px;">
                            <a id="bottle-back-a" ng-click="loadProduct(defaultProductTitle, add_back_image_path(campaign_data.formula.back_image), defaultProductId, defaultPrice, defaultCurrency, $index+1)" class="btn btn-gy btn-sm" style="border-top-left-radius:0px;border-bottom-left-radius:0px;border-left:1px solid #ddd;">Back</a>
                        </li>
                    </ul>
                </center>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Facebook Pixel Code -->
<script>
fbq('init', '199108557182124');
fbq('track', 'Lead');
</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=199108557182124&ev=PageView&noscript=1" /></noscript>
<!-- End Facebook Pixel Code -->
