<!-- step goal-->
<div class="col-xs-12 col-sm-5 col-sm-offset-1" ng-show="launch_step_goal()">
    <div class="launch-step-goal">
        <div class="col-xs-12 no-pad-left">
            <label>Sales goal</label>
            <rzslider rz-slider-model="campaign_data.goal" rz-slider-options="goal_slider.options"></rzslider>
            <!--<input id="salesgoal" list="steplist" class="range-slide" type="range" min="0" max="100" step="25" ng-model="campaign_data.goal">
            <datalist id="steplist">
                <option>0</option>
                <option>25</option>
                <option>50</option>
                <option>75</option>
                <option>100</option>
            </datalist>-->
        </div>
        <div class="col-xs-12 no-pad-left lil-pad">
          <div class="col-xs-12 col-md-5 tab-content-style">
            <div class="col-xs-8 tab-content-rad">
                <label># of units</label>
            </div>
            <div class="col-xs-4 goal-output">
                <input type="text" ng-model="campaign_data.goal" placeholder="30" readonly="readonly"></input>
            </div>
          </div>
            <div class="col-xs-12 col-md-7">
                <h4 class="grey-info">Your goal is the number of units you're aiming to sell, but we'll print your campaign as long
                as you sell enough to generate profit.</h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 no-pad-left min-width-2">
            <label>Your Estimated Profit:</label>
            <h3>${{estimated_profit()}}+</h3>
        </div>
        <div class="col-xs-12 col-sm-8 no-pad-left lil-pad">
            <label>Supplement Options</label>
            <hr class="bor-bot">
        </div>
        <div class="col-xs-12 col-sm-8 no-pad-left">
            <div class="tab-content-1 col-xs-12">
                <label>Bottle (30 Servings, 60 Capsules)</label>
                <div class="col-xs-12">
                    <p>{{estimated_profit()/campaign_data.goal | currency}} profit/sale</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input class="input-width" type="number" ng-model="campaign_data.sale_price">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 no-pad-left" style="padding-top:10px;">
            <div class="tab-content-1 col-xs-12">
                <label>Proprietary Blend</label>
                <div class="col-xs-12">
                    <p>You can name this blend to make it distinctly yours.</p>
                </div>
                <div class="col-xs-12">
                    <input class="input-width" type="text" placeholder="Add your text here" ng-model="campaign_data.blend_name">
                </div>
            </div>
        </div>
        <div class="lil-pad col-xs-12 col-sm-8">
            <center>
                <div class="btn btn-wj btn-sm" ng-click="set_step('desc')">Continue</div>
            </center>
        </div>
    </div>
</div>
<!-- END step goal-->
<!-- step desc-->
<div class="col-xs-12 col-sm-5 col-sm-offset-1" ng-show="launch_step_desc()">
    <div class="col-xs-12 launch-step-desc">
        <div class="col-xs-12 lil-pad-bottom">
            <label>Campaign title</label>
            <h4 class="grey-info-2">Summarize your campaign in 40 characters or less.</h4>
            <input class="input-width border-rad" type="text" placeholder="" ng-model="campaign_data.title">
        </div>
        <div class="col-xs-12 lil-pad-bottom">
            <label>Description</label>
            <textarea class="input-width border-rad" ng-model="campaign_data.description"></textarea>
        </div>
        <div class="col-xs-12 lil-pad-bottom">
            <label>Campaign length</label>
            <h4 class="grey-info-2">U.S. orders will arrive 10-14 days after the end of the campagin.
            </h4>
            <select class="input-width border-rad" ng-model="campaign_data.length">
                <option value="3">3 days</option>
                <option value="4">4 days</option>
                <option value="5">5 days</option>
                <option value="6">7 days</option>
            </select>
        </div>
        <div class="col-xs-12">
            <label>Url</label>
            <h4 class="grey-info-2">This is where you'll send buyers to view your campaign.</h4>
            <input class="input-width border-rad" type="text" ng-model="campaign_data.slug">
        </div>
        <div class="col-xs-12 lil-pad text-center">
            <a ng-show="!__user.email" class="btn btn-wj btn-lg" ng-click="set_module('login')">Launch</a>
            <a ng-show="__user.email" class="btn btn-wj btn-lg" ng-click="submit_campaign(campaign_data)">Launch</a>
        </div>
    </div>
</div>
<!-- END step desc-->
