<!-- step create-->
<div class="tab-content-1 step1_2" ng-show="launch_step_create()">
    <div class="launch-step-create" style="margin-top:-10px;">
      <div class="form-group col-xs-12 pad-right-10 pad-left-10">
          <label>Made For</label>
          <select class="input-width goal-select" theme="selectize" ng-model="campaign_data.purpose" ng-change="purpose_change()" ng-options="purpose.name for purpose in purposes">
          </select>
      </div>
        <div class="form-group col-xs-12 pad-right-10 pad-left-10">
            <div class="formula-box">
                <div class="CLA_1" ng-class="{'formula-selected':campaign_data.formula == formula}" ng-repeat="formula in campaign_data.purpose.formulas" ng-click="formula_change(formula)">
                  <div style="display:table-row">
                    <div style="display:table-cell;position:relative;width:50px;padding:5px;">
                      <img ng-src="{{add_formula_path(formula)}}" alt="Genesus Bottle Image">
                    </div>
                    <div style="display:table-cell;position:relative;top:-20px;">
                      <h4>{{formula.name}}</h4>
                      <span ng-show="formula.benefit_1">&#8226 {{formula.benefit_1}}</span>
                      <span ng-show="formula.benefit_2">&#8226 {{formula.benefit_2}}</span>
                      <span ng-show="formula.benefit_3">&#8226 {{formula.benefit_3}}</span>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="launch-options">
            <div class="ing-ex" ng-show="campaign_data.formula">
                <h3>Base Cost @ 30 Bottles:</h3>
                <h2 ng-bind="campaign_data.formula.cost30 | currency"></h2>
            </div>
            <div class="ing-ex" ng-show="!campaign_data.formula">
                <h3>Base Cost @ 30 Bottles:</h3>
                <h2>$0</h2>
            </div>
        </div>
    </div>
    <div class="lil-pad">
        <!--<center>
            <div class="btn btn-gn btn-sm" ng-click="test(campaign_data)">Save Design and ajax submit form</div>
        </center>-->
        <center>
            <div class="btn btn-gn btn-sm" ng-click="set_step('goal')" style="width:100%;">Sell this</div>
        </center>
    </div>
</div>
<small class="small-text" ng-show="launch_step_create()">† These statements have not been evaluated by the FDA.</small>
<!-- step create END -->
