<div class="col-xs-12 alert alert-warning alert-dismissible margin-top-0 dash-alert-launch hidden-sm hidden-md hidden-lg" role="alert">
    <button class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    It looks like you're about to use our label designer on a mobile device. While it will work just fine, it's much easier to design a high quality label using our designer on a larger screen.
    <br> -Austin (Co-Founder Genesus)
</div>
<div class="col-xs-12" ng-show="launch_step_desc()" style="background-color:#f3f3f3;padding:10px;border:1px solid #ddd;border-radius:4px;">
      <div class="col-xs-12 no-pad-left no-pad-right" ng-repeat="purpose in purposes">
        <div class="col-xs-12 col-sm-4" ng-repeat="formula in purpose.formulas | limitTo: 3 " style="padding-bottom:15px;display:inline;" ng-click="formula_change(formula)">
          <div class="col-xs-12" ng-class="{'formula-selected':campaign_data.formula == formula}" style="background-color:#fff;cursor:pointer;border:1px solid #eee;border-radius:4px;padding-bottom:5px;">
            <div class="col-xs-12 pad-top-15">
              <center>
                <img class="img-responsive" ng-src="{{add_formula_path(formula)}}" alt="Genesus Bottle Image" style="max-height:150px;">
              </center>
            </div>
            <div class="col-xs-12">
              <h2 style="font-weight:600;text-align:center;margin-bottom:0px;font-size:18px;color:#444;margin-top:15px;">{{formula.name}}</h2>
              <center>
                <img ng-src="/plugin/design/images/ratings/{{formula.name}}.jpg" class="img-responsive" style="max-height:25px;">
              </center>
              <h4 style="text-align:center;color:#3AC395;font-weight:600;font-size:22px;margin-bottom:0px;">{{formula.cost30 | currency}}</h4>
              <h5 style="text-align:center;color:#777;margin-top:5px;font-weight:600;">Cost @ 20 Bottles</h5>
            </div>
          </div>
          <div class="col-xs-12 text-center create-link">
            <h5><a ng-if="formula.name == 'Green Tea'" href="http://genesus.co/campaign/green-tea" target="_blank">View Details</a></h5>
            <h5><a ng-if="formula.name == 'Raspberry Ketones'" href="http://genesus.co/campaign/natures-raspberry-ketones" target="_blank">View Details</a></h5>
            <h5><a ng-if="formula.name == 'Toner Complex'" href="http://genesus.co/campaign/natures-toner" target="_blank">View Details</a></h5>
            <h5><a ng-if="formula.name == 'Burner Complex'" href="http://genesus.co/campaign/natures-burner" target="_blank">View Details</a></h5>
            <h5><a ng-if="formula.name == 'Turmeric Complex'" href="http://genesus.co/campaign/raw-relief" target="_blank">View Details</a></h5>
            <h5><a ng-if="formula.name == 'Nootropic Complex'" href="http://genesus.co/campaign/brain-awake" target="_blank">View Details</a></h5>
            <h5><a ng-if="formula.name == 'Fiber Complex'" href="http://genesus.co/campaign/total-digestion-care" target="_blank">View Details</a></h5>
            <h5><a ng-if="formula.name == 'Supergreens Complex'" href="http://genesus.co/campaign/earth-grown-nutrients" target="_blank">View Details</a></h5>
            <h5><a ng-if="formula.name == 'Probiotic Complex'" href="http://genesus.co/campaign/total-probiotic" target="_blank">View Details</a></h5>
            <h5><a ng-if="formula.name == 'Cranberry'" href="http://genesus.co/campaign/cranberry" target="_blank">View Details</a></h5>
            <h5><a ng-if="formula.name == 'Sleep Complex'" href="http://genesus.co/campaign/sleeptech" target="_blank">View Details</a></h5>
            <h5><a ng-if="formula.name == 'Mushroom Complex'" href="http://genesus.co/campaign/shroom-defense" target="_blank">View Details</a></h5>
            <h5><a ng-if="formula.name == 'Primal Whey'" href="http://genesus.co/campaign/think-strong" target="_blank">View Details</a></h5>
            <h5><a ng-if="formula.name == 'CLA'" href="http://genesus.co/campaign/natures-cla" target="_blank">View Details</a></h5>
          </div>
        </div>
</div>
