<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header text-center">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add A Product</h4>
        </div>
        <div class="modal-body text-center">
          <p>We're expanding our product selection every day, but if you'd like us to offer a specific product,
          please <a href="/contact_us" style="color:#07B9FF;">contact us</a>, and we'll get back to you within 24 hours.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!-- step create-->
<div class="tab-content-1 step1_2" ng-show="launch_step_create()">
    <div class="launch-step-create" style="margin-top:-10px;">
      <div class="form-group col-xs-12 pad-right-10 pad-left-10">
          <label>Product Name</label>
              <input class="input-width border-rad input-border form-control" placeholder="ie. Jacob's Strength Blend" type="text" ng-model="campaign_data.slug">
      </div>
      <div class="form-group col-xs-12 pad-right-10 pad-left-10">
          <label>Made For</label>
          <select class="input-width goal-select" theme="selectize" ng-model="campaign_data.purpose" ng-change="purpose_change()" ng-options="purpose.name for purpose in purposes">
          </select>
      </div>
        <div class="form-group col-xs-12 pad-right-10 pad-left-10">
            <div class="formula-box">
                <div class="CLA_1" ng-class="{'formula-selected':campaign_data.formula == formula}" ng-repeat="formula in campaign_data.purpose.formulas" ng-click="formula_change(formula)">
                  <div style="display:table-row">
                    <div style="display:table-cell;position:relative;width:50px;padding:5px;padding-right:25px;left:10px;">
                      <img ng-src="{{add_formula_path(formula)}}" alt="Genesus Bottle Image">
                    </div>
                    <div style="display:table-cell;position:relative;top:-10px;">
                      <h4 style="font-weight:600;">{{formula.name}}</h4>
                      <img src="/img/stars.jpg" class="img-responsive" style="max-height:20px;position:relative;left:-3px;margin-top:0px;">
                      <h5 style="margin-top:0px;font-size:12px;margin-bottom:0px;">{{campaign_data.formula.servings}} Servings</h5>
                      <div class="text-center" style="position: relative;left: -80px;margin-right: -85px;margin-bottom:-10px;">
                      <span ng-show="formula.benefit_1" style="display:inline;font-size:12px;">{{formula.benefit_1}}</span>
                      <span ng-show="formula.benefit_2" style="display:inline;font-size:12px;">&#8226 {{formula.benefit_2}}</span>
                      <span ng-show="formula.benefit_3" style="display:inline;font-size:12px;">&#8226 {{formula.benefit_3}}</span>
                    </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="launch-options">
            <div class="ing-ex" ng-show="campaign_data.formula">
                <!--<h3>Cost Per Bottle:</h3>-->
                <h2>{{campaign_data.formula.recommended_price | currency}} <span style="font-size:14px;color:#777;">per bottle</span></h2>
            </div>
            <div class="ing-ex" ng-show="!campaign_data.formula">
                <!--<h3>Cost Per Bottle:</h3>-->
                <h2>$TBD <span style="font-size:14px;color:#777;">per bottle</span></h2>
            </div>
        </div>
    </div>
    <div class="lil-pad">
        <!--<center>
            <div class="btn btn-gn btn-sm" ng-click="test(campaign_data)">Save Design and ajax submit form</div>
        </center>-->
        <center>
          <!--<a ng-show="!__user.email" class="btn btn-gn btn-lg" ng-click="set_module('register','launch')" style="width:100%;">Launch</a>-->
          <!--<div class="btn btn-gn btn-lg" ng-click="submit_campaign(campaign_data)" style="width:100%;">Launch</div>-->
            <div class="btn btn-gn btn-sm" ng-click="set_step('goal')" style="width:100%;">Sell this</div>
        </center>
    </div>
</div>
<!--<small class="small-text" ng-show="launch_step_create()">† These statements have not been evaluated by the FDA.</small>-->
 <small ng-show="launch_step_create()" style="color:#777;"><a data-toggle="modal" data-target="#myModal" style="font-size:10px;cursor:pointer;">Looking for more products?</a></small>
<!-- step create END -->
