<!-- step goal-->
<div class="col-xs-12 col-sm-4 lil-pad-bottom" ng-show="launch_step_goal()">
    <div class="launch-step-goal launch-input">
        <div class="col-xs-12 no-pad-left">
            <label>Sales goal</label>
            <rzslider rz-slider-model="campaign_data.goal" rz-slider-options="goal_slider.options"></rzslider>
        </div>
        <div class="col-xs-12 no-pad-left lil-pad">
            <div class="col-xs-12 col-md-4 no-pad-left">
                <div class="unit-number">
                    <h4 class="unit-numbers"># of units</h4>
                    <h4 class="unit-numbers-2">{{campaign_data.goal}}</h4>
                </div>
            </div>
            <div class="col-xs-12 col-md-8">
                <h4 class="grey-info" style="font-weight:400;">Your goal is the number of units you’re aiming to sell and determines your base profit per bottle.</h4>
            </div>
        </div>
        <div class="col-xs-12 no-pad-left min-width-2 launch-options">
            <label>Estimated profit</label>
            <h3>${{estimated_profit() | number:0 }}+</h3>
        </div>
        <div class="col-xs-12 launch-options no-pad-left">
            <label>URL</label>
            <h4 class="grey-info-2" style="cursor:default;margin-top:0px;color:#777;font-size:14px;">This is where you'll send buyers to view your campaign.</h4>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">genesus.co/campaign/</span>
                <input class="input-width border-rad input-border form-control" type="text" ng-model="campaign_data.slug" aria-describedby="basic-addon2">
            </div>
        </div>
    </div>
</div>
<!-- END step goal-->
