<div class="container-fluid navbar-fixed-top">
    <header>
        <div class="col-xs-2">
            <div class="logo">
                <a href="/home"><img src="/img/test.png" width="200" style="padding-top:10px;"></a>
            </div>
        </div>
        <div class="col-xs-9">
            <nav class='hidden-xs'>
                <ul class="pull-right">
                    <li class="outline" style='cursor:pointer'>
                        <a class="btn btn-jj btn-lg new-campaign" href="/launch">Create &
                        Sell</a>
                    </li>
                    <li>
                        <a href="/launch">Login</a>
                    </li>
                </ul>
            </nav>
            <nav class='visible-xs'>
                <ul>
                    <li class="pull-right" uib-dropdown>
                        <a href uib-dropdown-toggle> Menu <span class="caret"></span></a>
                        <ul uib-dropdown-menu role='menu'>
                            <li>
                                <a href="/launch">Create & Sell</a>
                            </li>
                            <li>
                                <a href="/launch">Login</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</div>