<header>
    <div class="col-xs-2">
        <div class="logo">
            <span>
              <a href="/home">
                <img src="public/img/beta_logo.png" width='200' style="padding-top:10px;">
            </a>
          </span>
        </div>
    </div>
    <div class="col-xs-10">
        <nav class='hidden-xs'>
            <ul>
                <li style='cursor:pointer'><a href="/launch">Start Designing</a></li>
            </ul>
        </nav>
        <nav class='visible-xs'>
            <ul>
                <li style='float:right;' uib-dropdown>
                    <a href uib-dropdown-toggle> Menu <span class="caret"></span></a>
                    <ul uib-dropdown-menu role='menu'>
                        <li><a href="/launch">Start Designing</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
