<div id="footer">
    <footer>
        <div class="row">
            <div class="container col-xs-12" style="padding-bottom:25px;padding-top:15px;">
                <div class='col-xs-12 col-sm-6'>
                    <ul class="footer-nav" style="font-size:14px;">
                        <div class='col-xs-6 col-sm-3 pull-left'>
                            <li>
                                <h5 style="font-weight:600;cursor:default;"><a href="/faq">FAQ</a></h5>
                            </li>
                        </div>
                        <div class='col-xs-6 col-sm-2 pull-left'>
                            <li>
                                <h5 style="font-weight:600;cursor:default;"><a href="/terms">Terms</a></h5>
                            </li>
                        </div>
                        <div class='col-xs-6 col-sm-2 pull-left'>
                            <li>
                                <h5 style="font-weight:600;cursor:default;"><a href="/privacy">Privacy</a></h5>
                            </li>
                        </div>
                        <div class='col-xs-6 col-sm-2 pull-left'>
                            <li>
                                <h5 style="font-weight:600;cursor:default;"><a href="/faq">Make A Product</a></h5>
                            </li>
                        </div>
                        <div class='col-xs-6 col-sm-2 pull-left'>
                            <li>
                                <h5 style="font-weight:600;cursor:default;">Follow Us And Stay In Touch!</h5>
                            </li>
                            <li>
                                <a href="/contact_us" style="color:#8E8E8E">Facebook</a>
                            </li>
                            <li>
                                <a href="/contact_us" style="color:#8E8E8E;">Instagram</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
            <div class='col-xs-12 pull-left'>
                <span>
        <img src="img/us.jpg" class="img-responsive" style="max-height:50px;display:inline;">
      </span>
                <span class="glyphicon glyphicon-copyright-mark" style="font-size:10px;color:#8E8E8E;padding-left:25px;"><span style=
      "font-size:14px;padding-left:2px;color:#8E8E8E;">Genesus, LLC. <a href=
      "/terms" style="color:#8E8E8E;">Terms & Conditions</a> <a href="/privacy" style=
      "color:#8E8E8E;">Privacy Policy</a></span></span>
            </div>
        </div>
    </footer>
</div>
