<div id="footer">
    <footer>
        <div class="row">
            <div class="container col-xs-12" style="padding-bottom:25px;padding-top:15px;">
                <div class='col-xs-12 col-sm-6'>
                  <div class="col-xs-12 pull-left" style="padding-left:0px;">
                    <ul class="footer-nav" style="font-size:14px;padding-left:0px;">
                        <div class='col-xs-6 col-sm-2 pull-left'>
                            <li>
                                <h5 style="font-weight:600;cursor:default;"><a href="/faq">FAQ</a></h5>
                            </li>
                        </div>
                        <div class='col-xs-6 col-sm-2 pull-left'>
                            <li>
                                <h5 style="font-weight:600;cursor:default;"><a href="/terms">Terms</a></h5>
                            </li>
                        </div>
                        <div class='col-xs-6 col-sm-2 pull-left'>
                            <li>
                                <h5 style="font-weight:600;cursor:default;"><a href="/privacy">Privacy</a></h5>
                            </li>
                        </div>
                        <div class='col-xs-6 col-sm-3 pull-left'>
                            <li>
                                <h5 style="font-weight:600;cursor:default;"><a href="/faq">Make A Product</a></h5>
                            </li>
                        </div>

                    </ul>
                  </div>
                    <div class='col-xs-12 pull-left'>
                        <p style="font-size:14px;font-weight:300;">Email us at <strong>Alek@genesus.co</strong></p>
                        <p style="font-size:15px;">Genesus, 4136 Del Rey Ave, Marina Del Rey, CA, 90291</p>
                        <br>
                        <small class="small-text ng-scope" aria-hidden="false">† These statements have not been evaluated by the FDA.</small>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <ul class="footer-nav pull-right" style="font-size:14px;">
                    <div class='col-xs-10 col-xs-offset-1'>
                      <div class="col-xs-12">
                           <li class="text-center" style="padding-left:10px;padding-right:10px;background-color:#fff;border:1px solid #333; border-top-left-radius:4px;border-top-right-radius:4px;">
                               <h5 style="font-weight:600;cursor:default;">Follow Us And Stay In Touch!</h5>
                           </li>
                      </div>
                      <div class="col-xs-6" style="display:inline-block;padding-right:0px;">
                           <li class="text-center" style="border:1px solid #333; border-bottom-left-radius:4px;border-top:none;">
                               <a href="https://www.facebook.com/genesus.co/?fref=ts" target="_blank"><img src="/img/facebook.png" style="height:25px;"></a>
                           </li>
                         </div>
                         <div class="col-xs-6" style="display:inline-block;padding-left:0px;">
                           <li class="text-center" style="border:1px solid #333;border-bottom-right-radius:4px;border-top:none;border-left:none;">
                               <a href="https://www.instagram.com/genesusco/" target="_blank"><img src="/img/insta.png" style="height:25px;"></a>
                           </li>
                       </div>
                     </div>
                  </ul>
                </div>
            </div>

        </div>
    </footer>
</div>
