<div id="footer">
  <div class="row">
    <div class="hidden-xs container-fluid" style="background:#F5F2ED;">
      <img class="lil-pad" src="/img/footer_design.jpg" class="img-responsive" style="width:100%;">
    </div>
    <div class="hidden-sm hidden-md hidden-lg container-fluid" style="background:#F5F2ED;">
      <img class="lil-pad" src="/img/footer_design_small.jpg" class="img-responsive" style="width:100%;">
    </div>
  </div>
    <footer>
        <div class="row">
            <div class="container col-xs-12" style="padding-bottom:25px;padding-top:15px;">
                <div class='col-xs-12'>
                  <div class="col-xs-12 pull-left" style="padding-left:0px;padding-bottom:15px;">
                    <ul class="footer-nav" style="font-size:14px;padding-left:0px;">
                        <div class='col-xs-6 col-sm-2 col-sm-offset-2'>
                            <li style="text-align:left;">
                              <h3 style="color:#fff;">Genesus</h3>
                                <!--<h5 style="font-weight:400;cursor:default;padding-top:15px;">
                                  <a style="color:#C1C5CD;" href="/launch" target="_self">Make A Product</a>
                                </h5>-->
                                <!--<h5 style="font-weight:400;cursor:default;padding-top:15px;">
                                  <a style="color:#C1C5CD;" href="/how_it_works" target="_self">How It Works</a>
                                </h5>-->
                                <h5 style="font-weight:400;cursor:default;padding-top:15px;">
                                  <a style="color:#C1C5CD;" href="/why_genesus" target="_self">Why Genesus</a>
                                </h5>
                                <h5 style="font-weight:400;cursor:default;">
                                  <a  style="color:#C1C5CD;" href="/our_story" target="_self">Our Story</a>
                                </h5>
                                <h5 style="font-weight:400;cursor:default;">
                                  <a  style="color:#C1C5CD;" href="/non_gmo" target="_self">Non-GMO</a>
                                </h5>
                                <h5 style="font-weight:400;cursor:default;">
                                  <a  style="color:#C1C5CD;" href="/feeling_guarantee" target="_self">Feel The Difference</a>
                                </h5>
                                <!--<h5 style="font-weight:400;cursor:default;padding-top:15px;">
                                  <a style="color:#C1C5CD;" href="/selling" target="_self">Selling On Genesus</a>
                                </h5>-->
                            </li>
                        </div>
                        <div class='col-xs-6 col-sm-2'>
                            <li style="text-align:left;">
                              <h3 style="color:#fff;">About</h3>
                                <h5 style="font-weight:400;cursor:default;padding-top:15px;color:">
                                  <a style="color:#C1C5CD;" href="/contact_us" target="_self">Contact Us</a>
                                </h5>
                                <h5 style="font-weight:400;cursor:default;">
                                  <a  style="color:#C1C5CD;" href="/faq" target="_self">FAQ</a>
                                </h5>
                                <h5 style="font-weight:400;cursor:default;">
                                  <a  style="color:#C1C5CD;" href="/shipping" target="_self">Shipping</a>
                                </h5>
                                <h5 style="font-weight:400;cursor:default;">
                                  <a  style="color:#C1C5CD;" href="/sell" target="_self">Become An Owner</a>
                                </h5>

                            </li>
                        </div>
                        <div class="col-xs-12 col-sm-2 col-sm-offset-2">
                          <div class="col-xs-12">
                               <li class="text-left">
                                   <h3 style="color:#fff;cursor:default;">Follow Us</h3>
                               </li>
                          </div>
                          <div class="col-xs-3" style="display:inline-block;padding-left:0px;">
                               <li class="text-left">
                                   <a href="https://www.facebook.com/genesus.co/?fref=ts" target="_blank"><img src="/img/facebook.png" style="height:25px;"></a>
                               </li>
                             </div>
                             <div class="col-xs-3" style="display:inline-block;padding-left:0px;">
                               <li class="text-left">
                                   <a href="https://www.instagram.com/genesusco/" target="_blank"><img src="/img/insta.png" style="height:25px;"></a>
                               </li>
                           </div>
                        </div>
                    </ul>
                  </div>
                </div>
            </div>

        </div>
    </footer>
</div>
