<div class="container modal_actions col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Login
                    <div class='close_circle' ng-click='set_module()'>x</div>
                </div>
                <div class="panel-body">
                  <h5 style="text-align:center;">Don't have account? <a href="javascript:void(0)" ng-click="set_module('register',login_after)">Sign Up</a></h5>
                    <form class="form-horizontal" role="form" method="POST" ng-init="login_data = {}" ng-submit="login(login_data)">
                        <div class="form-group">
                            <!--<label for="email" class="col-md-4 control-label">E-Mail Address</label>-->
                            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                                <input id="email" type="email" placeholder="Email" class="form-control" name="email" ng-model="login_data.email">
                            </div>
                        </div>
                        <div class="form-group">
                            <!--<label for="password" class="col-md-4 control-label">Password</label>-->
                            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                                <input id="password" type="password" placeholder="Password" class="form-control" name="password" ng-model="login_data.password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="remember" ng-model="login_data.remember"> Remember Me
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                          <div class="col-xs-12">
                            <div class="col-xs-12 text-center">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-btn fa-sign-in"></i> Login
                                </button>
                              </div>
                            <!--<div class="col-xs-12 text-center">
                                <h5>Or log in with</h5>
                              </div>
                              <div class="col-xs-12 text-center">
                                <center>
                                <a href="/auth/facebook" target="_self">
                                  <img src="https://s3-us-west-2.amazonaws.com/tappyn/fblogin.jpg" class="img-responsive" style="max-height:40px;">
                                </a>
                              </center>
                            </div>-->
                                <!--<a class="btn btn-link" href="/password/reset">Forgot Your Password?</a>-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
