<div class="container-fluid navbar-fixed-top">
    <header>
        <div class="col-xs-2 text-center">
            <div class="logo">
                <a href="/home"><img src="https://s3-us-west-2.amazonaws.com/tappyn/liftlogo.jpg" height="50"></a>
            </div>
            <a href="/dashboard">dashboard</a>
        </div>
        <div class="col-xs-9">
            <nav class='hidden-xs'>
                <ul class="pull-right">
                    <li class="outline" style='cursor:pointer'>
                        <a class="btn btn-jj btn-lg new-campaign" href="/launch" target="_self">Create &
                        Sell</a>
                    </li>
                    <li ng-show="!__user.email">
                        <a href="javascript:void(0)" ng-click="set_module('login')">Login</a>
                    </li>
                    <li ng-show="!__user.email">
                        <a href="javascript:void(0)" ng-click="set_module('register')">Register</a>
                    </li>
                    <li ng-show="__user.email">
                        <p>hi {{__user.email}}</p>
                    </li>
                    <li ng-show="__user.email">
                        <a href="javascript:void(0)" ng-click="logout()">Logout</a>
                    </li>
                </ul>
            </nav>
            <nav class='visible-xs'>
                <ul>
                    <li class="pull-right" uib-dropdown>
                        <a href uib-dropdown-toggle> Menu <span class="caret"></span></a>
                        <ul uib-dropdown-menu role='menu'>
                            <li>
                                <a href="/launch">Create & Sell</a>
                            </li>
                            <li ng-show="!__user.email">
                                <a href="javascript:void(0)" ng-click="set_module('login')">Login</a>
                            </li>
                            <li ng-show="!__user.email">
                                <a href="javascript:void(0)" ng-click="set_module('register')">Register</a>
                            </li>
                            <li ng-show="__user.email">
                                <p>hi {{__user.email}}</p>
                            </li>
                            <li ng-show="__user.email">
                                <a href="javascript:void(0)" ng-click="logout()">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</div>
