<div class="container-fluid navbar-fixed-top">
    <header>
        <div class="col-xs-2 col-sm-2 text-center">
            <div class="logo-1">
                <a href="/home"><img src="https://s3-us-west-2.amazonaws.com/tappyn/genesus_logo.jpg" height="50px"></a>
            </div>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-8 col-md-offset-1">
            <nav class='hidden-xs'>
                <ul class="pull-right">
                    <li class="outline" style='cursor:pointer' ng-show="__user.email">
                        <a class="new-campaign btn btn-bl-sm" href="/launch" target="_self">MAKE A PRODUCT</a>
                    </li>
                    <li ng-show="!__user.email">
                        <a class="new-campaign" href="javascript:void(0)" ng-click="set_module('login')">Login</a>
                    </li>
                    <!--<li ng-show="!__user.email">
                        <a class="new-campaign" href="javascript:void(0)" ng-click="set_module('register')">Register</a>
                    </li>-->
                    <li ng-show="__user.email">
                        <a class="new-campaign" href="/dashboard">{{__user.email}}</a>
                    </li>
                    <li ng-show="__user.email">
                        <a class="new-campaign" href="javascript:void(0)" ng-click="logout()">Logout</a>
                    </li>
                </ul>
            </nav>
            <nav class='visible-xs'>
                <ul style="margin-bottom:0px;">
                    <li class="pull-right" uib-dropdown style="padding-top:3px;padding-right:5px;">
                        <a href uib-dropdown-toggle><center><img src="/img/menu.png" class="img-responsive" style="max-height:40px;"></center></a>
                          <ul uib-dropdown-menu role='menu'>
                            <!--<li>
                              <a style="color:#777;" href="/sell" target="_self">Become An Owner</a>
                            </li>-->
                            <li>
                              <a style="color:#777;" href="/contact_us" target="_self">Contact Us</a>
                            </li>
                            <li>
                              <a  style="color:#777;" href="/faq" target="_self">FAQ</a>
                            </li>
                            <li>
                              <a  style="color:#777;" href="/shipping" target="_self">Shipping</a>
                            </li>
                            <li>
                              <a  style="color:#777;" href="/drop_shipping" target="_self">Drop Shipping</a>
                            </li>
                            <li>
                              <a  style="color:#777;" href="/how_it_works" target="_self">How It Works</a>
                            </li>
                            <li>
                              <a style="color:#777;" href="/why_genesus" target="_self">Why Genesus</a>
                            </li>
                            <li>
                              <a  style="color:#777;" href="/our_story" target="_self">Our Story</a>
                            </li>
                            <li>
                              <a  style="color:#777;" href="/non_gmo" target="_self">Non-GMO</a>
                            </li>
                            <li>
                              <a  style="color:#777;" href="/feeling_guarantee" target="_self">Clean Guarantee</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    </div>
