<div class="payment-container modal_actions-payment col-xs-10 col-xs-offset-1 hidden-sm hidden-md hidden-lg payment-modal">
  <div>
    <div class="col-xs-12 modal-top text-center">
      <div class="col-xs-6">
        <h2><em>Secure Checkout</em></h2>
      </div>
      <div class="col-xs-6">
        <img class="img-responsive" src="img/norton.png" style="max-width:50px;display:inline-block;padding-top:5px;">
      </div>
    </div>
  <div class="col-xs-12 lil-pad-bottom shipping-label no-pad-left no-pad-right" style="border-bottom:1px solid #ddd;">
  <form method="POST" id="payment-form" ng-submit="stripe_get_token()">
    <div class="col-xs-12">
      <h4 style="font-family:'Dosis', sans-serif;font-size:14px;font-weight:500;color:#444;text-transform:uppercase;">Shipping</h4>
    </div>
    <div class="col-xs-12 no-pad-left no-pad-right">
      <label>Full Name</label>
        <div class="hidden-xs col-sm-12 pad-right-0">
          <input type="text" required="required" ng-model="__payment.full_name" style="display:block;width:100%;margin-bottom:5px;">
        </div>
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
          <input type="text" required="required" ng-model="__payment.full_name" style="display:block;width:100%;margin-bottom:5px;">
        </div>
      </div>
      <div class="col-xs-12 no-pad-left no-pad-right lil-pad-bottom" style="border-bottom:1px solid #ddd;">
        <label>Address Line 1 (We do not ship to P.O. Boxes or AFO/FPO addresses)</label>
          <div class="hidden-xs col-sm-4 pad-right-0">
            <input class="shipping-info" type="text" required="required" ng-model="__payment.street_address">
          </div>
          <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
            <input class="shipping-info" type="text" required="required" ng-model="__payment.street_address">
          </div>
            <label>Address Line 2</label>
            <div class="hidden-xs col-sm-4 pad-right-0 pad-left-5">
              <input class="shipping-info" type="text" ng-model="__payment.street_address2">
            </div>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
              <input class="shipping-info" type="text" ng-model="__payment.street_address2">
            </div>
            <label>City</label>
            <div class="hidden-xs col-sm-4 pad-right-0 pad-left-5">
              <input class="shipping-info" type="text" required="required" ng-model="__payment.street_city">
            </div>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
              <input class="shipping-info" type="text" required="required" ng-model="__payment.street_city">
            </div>
            <label>State</label>
            <div class="hidden-xs col-sm-4 pad-right-0">
              <input class="shipping-info" type="text" required="required" ng-model="__payment.state">
            </div>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
              <input class="shipping-info" type="text" required="required" ng-model="__payment.state">
            </div>
            <label>Country</label>
            <div class="hidden-xs col-sm-4 pad-right-0 pad-left-5">
              <input class="shipping-info" type="text" required="required" ng-model="__payment.country">
            </div>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
              <input class="shipping-info" type="text" required="required" ng-model="__payment.country">
            </div>
            <label>Zip Code</label>
            <div class="hidden-xs col-sm-4 pad-right-0 pad-left-5">
              <input class="shipping-info" type="text" required="required" ng-model="__payment.zipcode">
            </div>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
              <input class="shipping-info" type="text" required="required" ng-model="__payment.zipcode">
            </div>
          </div>
          <div class="col-xs-12 text-center" ng-show="__user.card_brand" style="padding-top:15px;">
            <button ng-click="submit_payment()">Use saved payment ({{__user.card_brand}} , last four digits: {{__user.card_last_four}})</button>
          </div>
          <div class="col-xs-12 payment-2">
            <div class="col-xs-12 col-sm-6 no-pad-left no-pad-right lil-pad">
              <h4 style="font-family:'Dosis', sans-serif;font-size:14px;font-weight:500;color:#444;text-transform:uppercase;">Order Summary</h4>
                <div class="col-xs-12 no-pad-left no-pad-right" ng-if="__payment.type == 'buy_campaign'">

                    <div class="col-xs-12 form-row pay-input no-pad-left no-pad-right pad-bottom-10">
                      <label style="padding-left:0px;">
                        <div class="col-xs-8 no-pad-left no-pad-right">
                          <input placeholder="Card Number" type="text" data-stripe="number">
                          <img class="img-responsive" src="img/credit-card-logos.png" style="padding-bottom:5px;max-height:20px;opacity:0.5;">
                        </div>
                        <div class="col-xs-3 col-xs-offset-1 no-pad-left no-pad-right">
                          <input placeholder="CVC" type="text" size="5" data-stripe="cvc" style="text-align:center;">
                        </div>
                      </label>
                    </div>
                    <div class="col-xs-12 form-row pay-input no-pad-left no-pad-right lil-pad-bottom" style="border-bottom:1px solid #ddd;">
                      <label style="padding-left:0px;">
                        <div class="col-xs-4 no-pad-left no-pad-right">
                          <input placeholder="(MM)" type="text" size="5" data-stripe="exp_month" style="text-align:center;">
                        </div>
                        <div class="col-xs-4 col-xs-offset-1 no-pad-left no-pad-right">
                          <input placeholder="(YY)" type="text" size="5" data-stripe="exp_year" style="text-align:center;">
                        </div>
                      </label>
                    </div>
                </div>
            <div class="col-xs-12 col-sm-6 no-pad-left no-pad-right lil-pad">
              <!--<div class="col-xs-12 col-sm-4">
                    <img class="img-responsive" ng-src="{{__payment.data.bottle_img}}" style="max-width:50px;display:inline-block;">
                  </div>
                  <div class="col-xs-12 col-sm-8">
                    <span style="font-size:10px;float:left;">{{__payment.data.title}}</span>
                    <span style="font-size:10px;float:right;">{{__payment.data.sale_price | currency}}</span>
                  </div>-->
                  <h4 style="font-family:'Dosis', sans-serif;font-size:14px;font-weight:500;color:#444;margin-top:0px;text-transform:uppercase;">Order Review (1 Item)</h4>
                  <div class="col-xs-12 no-pad-left no-pad-right">
                    <span style="font-size:12px;float:left;">{{__payment.data.formula.name}}</span>
                    <span style="font-size:12px;float:right;">{{__payment.data.sale_price | currency}}</span>
                  </div>
                  <div class="col-xs-12 no-pad-left no-pad-right" style="padding-top:5px;">
                    <img class="img-responsive" ng-src="{{__payment.data.bottle_img}}" style="max-width:50px;display:inline-block;float:left;">
                  </div>
                  <div class="col-xs-12 no-pad-left no-pad-right" style="padding-top:5px;">
                    <span style="float:left;font-size:12px;">Shipping:</span> <span style="float:right;font-size:12px;">$0.00</span>
                  </div>
                  <div class="col-xs-12 border-bottom no-pad-left no-pad-right lil-pad-bottom" style="padding-top:5px;">
                    <span style="float:left;font-size:12px;">Sub-Total:</span> <span style="float:right;font-size:12px;">{{__payment.data.sale_price | currency}}</span>
                  </div>
                  <div class="col-xs-12 lil-pad no-pad-left no-pad-right" style="padding-top:5px;">
                    <span style="float:left;font-size:18px;">Grand Total:</span> <span style="float:right;font-size:18px;color:#3AC395;">{{__payment.data.sale_price | currency}}</span>
                  </div>
                </div>
              </div>
                    <div class="col-xs-12 text-center lil-pad">
                      <input class="col-xs-12 col-sm-8 col-sm-offset-2 btn btn-gn btn-sm" type="submit" class="submit" value="Place Your Order" style="padding-top:5px;padding-bottom:5px;">
                      <span class="payment-errors col-xs-12" style="color:red;font-size:16px;"></span>
                    </div>
                  </div>
                </form>
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
                  <p style="font-size:10px;font-weight:200;">By clicking "Place Your Order", you agree to our <a href="/privacy" style="color:#3AC395;">Privacy Policy</a> and <a href="/terms" style="color:#3AC395;">Terms Of Service</a>.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="payment-container modal_actions-payment hidden-xs col-sm-6 col-sm-offset-3 payment-modal">
            <div>
              <div class="col-xs-12 modal-top text-center">
                <div class="col-xs-6">
                  <h2><em>Secure Checkout</em></h2>
                </div>
                <div class="col-xs-6">
                  <img class="img-responsive" src="img/norton.png" style="max-width:50px;display:inline-block;padding-top:5px;">
                </div>
              </div>
            <div class="col-xs-12 lil-pad-bottom shipping-label no-pad-left no-pad-right" style="border-bottom:1px solid #ddd;">
            <form method="POST" id="payment-form" ng-submit="stripe_get_token()">
              <div class="col-xs-12">
                <h4 style="font-family:'Dosis', sans-serif;font-size:14px;font-weight:500;color:#444;text-transform:uppercase;">Shipping</h4>
              </div>
              <div class="col-xs-12 no-pad-left no-pad-right">
                <label>Full Name</label>
                  <div class="hidden-xs col-sm-12 pad-right-0">
                    <input type="text" required="required" ng-model="__payment.full_name" style="display:block;width:100%;margin-bottom:5px;">
                  </div>
                  <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                    <input type="text" required="required" ng-model="__payment.full_name" style="display:block;width:100%;margin-bottom:5px;">
                  </div>
                </div>
                <div class="col-xs-12 no-pad-left no-pad-right lil-pad-bottom" style="border-bottom:1px solid #ddd;">
                  <label>Address Line 1 (We do not ship to P.O. Boxes or AFO/FPO addresses)</label>
                    <div class="hidden-xs col-sm-4 pad-right-0">
                      <input class="shipping-info" type="text" required="required" ng-model="__payment.street_address">
                    </div>
                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                      <input class="shipping-info" type="text" required="required" ng-model="__payment.street_address">
                    </div>
                      <label>Address Line 2</label>
                      <div class="hidden-xs col-sm-4 pad-right-0 pad-left-5">
                        <input class="shipping-info" type="text" required="required" ng-model="__payment.street_address2">
                      </div>
                      <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                        <input class="shipping-info" type="text" required="required" ng-model="__payment.street_address2">
                      </div>
                      <label>City</label>
                      <div class="hidden-xs col-sm-4 pad-right-0 pad-left-5">
                        <input class="shipping-info" type="text" required="required" ng-model="__payment.street_city">
                      </div>
                      <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                        <input class="shipping-info" type="text" required="required" ng-model="__payment.street_city">
                      </div>
                      <label>State</label>
                      <div class="hidden-xs col-sm-4 pad-right-0">
                        <input class="shipping-info" type="text" required="required" ng-model="__payment.state">
                      </div>
                      <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                        <input class="shipping-info" type="text" required="required" ng-model="__payment.state">
                      </div>
                      <label>Country</label>
                      <div class="hidden-xs col-sm-4 pad-right-0 pad-left-5">
                        <input class="shipping-info" type="text" required="required" ng-model="__payment.country">
                      </div>
                      <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                        <input class="shipping-info" type="text" required="required" ng-model="__payment.country">
                      </div>
                      <label>Zip Code</label>
                      <div class="hidden-xs col-sm-4 pad-right-0 pad-left-5">
                        <input class="shipping-info" type="text" required="required" ng-model="__payment.zipcode">
                      </div>
                      <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                        <input class="shipping-info" type="text" required="required" ng-model="__payment.zipcode">
                      </div>
                    </div>
                    <div class="col-xs-12 text-center" ng-show="__user.card_brand" style="padding-top:15px;">
                      <button ng-click="submit_payment()">Use saved payment ({{__user.card_brand}} , last four digits: {{__user.card_last_four}})</button>
                    </div>
                    <div class="col-xs-12 payment-2">
                      <div class="col-xs-12 col-sm-6 no-pad-left no-pad-right lil-pad">
                        <h4 style="font-family:'Dosis', sans-serif;font-size:14px;font-weight:500;color:#444;text-transform:uppercase;">Order Summary</h4>
                          <div class="col-xs-12 no-pad-left no-pad-right" ng-if="__payment.type == 'buy_campaign'">

                              <div class="col-xs-12 form-row pay-input no-pad-left no-pad-right pad-bottom-10">
                                <label style="padding-left:0px;">
                                  <div class="col-xs-8 no-pad-left no-pad-right">
                                    <input placeholder="Card Number" type="text" data-stripe="number">
                                    <img class="img-responsive" src="img/credit-card-logos.png" style="padding-bottom:5px;max-height:20px;opacity:0.5;">
                                  </div>
                                  <div class="col-xs-3 col-xs-offset-1 no-pad-left no-pad-right">
                                    <input placeholder="CVC" type="text" size="5" data-stripe="cvc" style="text-align:center;">
                                  </div>
                                </label>
                              </div>
                              <div class="col-xs-12 form-row pay-input no-pad-left no-pad-right lil-pad-bottom" style="border-bottom:1px solid #ddd;">
                                <label style="padding-left:0px;">
                                  <div class="col-xs-4 no-pad-left no-pad-right">
                                    <input placeholder="(MM)" type="text" size="5" data-stripe="exp_month" style="text-align:center;">
                                  </div>
                                  <div class="col-xs-4 col-xs-offset-1 no-pad-left no-pad-right">
                                    <input placeholder="(YY)" type="text" size="5" data-stripe="exp_year" style="text-align:center;">
                                  </div>
                                </label>
                              </div>
                          </div>
                      <div class="col-xs-12 col-sm-6 no-pad-left no-pad-right lil-pad">
                        <!--<div class="col-xs-12 col-sm-4">
                              <img class="img-responsive" ng-src="{{__payment.data.bottle_img}}" style="max-width:50px;display:inline-block;">
                            </div>
                            <div class="col-xs-12 col-sm-8">
                              <span style="font-size:10px;float:left;">{{__payment.data.title}}</span>
                              <span style="font-size:10px;float:right;">{{__payment.data.sale_price | currency}}</span>
                            </div>-->
                            <h4 style="font-family:'Dosis', sans-serif;font-size:14px;font-weight:500;color:#444;margin-top:0px;text-transform:uppercase;">Order Review (1 Item)</h4>
                            <div class="col-xs-12 no-pad-left no-pad-right">
                              <span style="font-size:12px;float:left;">{{__payment.data.formula.name}}</span>
                              <span style="font-size:12px;float:right;">{{__payment.data.sale_price | currency}}</span>
                            </div>
                            <div class="col-xs-12 no-pad-left no-pad-right" style="padding-top:5px;">
                              <img class="img-responsive" ng-src="{{__payment.data.bottle_img}}" style="max-width:50px;display:inline-block;float:left;">
                            </div>
                            <div class="col-xs-12 no-pad-left no-pad-right" style="padding-top:5px;">
                              <span style="float:left;font-size:12px;">Shipping:</span> <span style="float:right;font-size:12px;">$0.00</span>
                            </div>
                            <div class="col-xs-12 border-bottom no-pad-left no-pad-right lil-pad-bottom" style="padding-top:5px;">
                              <span style="float:left;font-size:12px;">Sub-Total:</span> <span style="float:right;font-size:12px;">{{__payment.data.sale_price | currency}}</span>
                            </div>
                            <div class="col-xs-12 lil-pad no-pad-left no-pad-right" style="padding-top:5px;">
                              <span style="float:left;font-size:18px;">Grand Total:</span> <span style="float:right;font-size:18px;color:#3AC395;">{{__payment.data.sale_price | currency}}</span>
                            </div>
                          </div>
                        </div>
                              <div class="col-xs-12 text-center lil-pad">
                                <input class="col-xs-12 col-sm-8 col-sm-offset-2 btn btn-gn btn-sm" type="submit" class="submit" value="Place Your Order" style="padding-top:5px;padding-bottom:5px;">
                                <span class="payment-errors col-xs-12" style="color:red;font-size:16px;"></span>
                              </div>
                            </div>
                          </form>
                          <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
                            <p style="font-size:10px;font-weight:200;">By clicking "Place Your Order", you agree to our <a href="/privacy" style="color:#3AC395;">Privacy Policy</a> and <a href="/terms" style="color:#3AC395;">Terms Of Service</a>.</p>
                          </div>
                        </div>
                      </div>
                    </div>
