.container-fluid {
  padding:0px;
}

/**
.row {
    margin: 0;
}
**/

header {
    height: 60px;
    padding: 7px 0;
    background: #fff;
    border-bottom: 1px solid #CCC;
}

.header-row {
    overflow: hidden;
}

header .logo-1 {
    float: none;
}

header .logo-1 a {
    display: block;
}

header nav {
    width: 100%;
}

header nav ul {
    list-style: none;
    padding-top: 2px;
}

header nav ul li a {
    text-decoration: none !important;
    color: #333;
}

header nav ul li a:hover {
    color: #07B9FF;
    cursor:pointer;
    /*border-bottom: 1px solid #07B9FF*/
}

header nav ul li.login-li {
    float: right;
    margin: -5px 0 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    font-size: 16px;
    padding: 10px 26px;
    font-weight: 600;
}

header nav ul li .btn:hover {
    color: #07B9FF;
}

h4 {
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1;
    color: #333;
}

label {
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 40px;
}

small {
    color: #8E8E8E;
    font-size: 100%;
}

hr {
    border: 0;
    margin: 40px 10px !important;
    border-top: 2px solid #e6e6e6;
}

.home-hr hr {
  border: 0;
   height: 1px;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
    width: 75%;
}

a:focus {
    color:#333;
}

strong {
  font-weight: 500;
}

.hero-bg {
  background:#222;
  height:100%;
  max-height:468px;
  width:100%;
  clear:both;
  margin-bottom:100px;
  background-color:#fff;
  background-size:cover;
}

  @media (max-width:640px) {
    .hero-bg {
    background:url(https://s3-us-west-2.amazonaws.com/tappyn/liftbannermobile.jpg) no-repeat center center;
    background-size:cover;
      }
  }

  @media (min-width:641px) and (max-width:1024px) {
    .hero-bg {
    background:url(https://s3-us-west-2.amazonaws.com/tappyn/liftbanner.jpg) no-repeat center center;
    background-size:cover;
      }
  }

  @media (min-width:1025px) and (max-width:1500px) {
    .hero-bg {
    background:url(https://s3-us-west-2.amazonaws.com/tappyn/liftbanner.jpg) no-repeat center center;
    background-size:cover;
      }
  }

  @media (min-width:1501px){
    .hero-bg {
    background:url(https://s3-us-west-2.amazonaws.com/tappyn/liftbanner.jpg) no-repeat center center;
    background-size:cover;
      }
  }

.testimonials h2 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 100;
    font-size: 30px;
    cursor: default;
}

.hero-content {
position: relative;
 display: -webkit-box;
 display: -moz-box;
 display: -ms-box;
 display: box;
 -webkit-box-orient: vertical;
 -moz-box-orient: vertical;
 -ms-box-orient: vertical;
 box-orient: vertical;
 -webkit-box-pack: center;
 -moz-box-pack: center;
 -ms-box-pack: center;
 box-pack: center;
 height: 100%;
}

.hero-content h2 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 37px;
    cursor: default;
}

.hero-content h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 60px;
    color:#07B9FF;
    cursor: default;
}

@media (min-width:641px) {
.hero-content h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 60px;
    margin-top: 50px;
    color:#07B9FF;
    cursor: default;
    }
}

@media (max-width:640px) {
  .hero-content h3 {
    color:#333 !important;
  }
}

.hero-content h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color:#646772;
    cursor: default;
}

.hero-content .btn-banner {
    font-size: 18px;
    line-height: 50px;
}

.btn-gy {
    background: #fff;
    color: #6c7478;
    font-weight: 400;
    border: 1px solid #6c7478;
    font-size: 16px;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
}

.btn-gy:hover {
    background: #6c7478;
    color: #fff;
    border: 1px solid #6c7478;
    font-family: 'Roboto', sans-serif;
}

.btn-gy:focus {
    color: #fff;
    background: #6c7478;
    border: 1px solid #6c7478;
    font-family: 'Roboto', sans-serif;
}

.btn-gy:active {
    color: #fff;
    background: #6c7478;
    border: 1px solid #6c7478;
    font-family: 'Roboto', sans-serif;
}

.btn-gn {
  color: #fff;
  background: #70CE66;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.btn-gn:hover {
    background: #fff;
    color: #70CE66;
    border: 1px solid #70CE66;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Roboto', sans-serif;
}

.btn-gn:focus {
    color: #70CE66;
    background: #fff;
    border: 1px solid #70CE66;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Roboto', sans-serif;
}

.btn-wj {
  color: #fff;
  background: #70CE66;
  border: 1px solid #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.btn-wj:hover {
  color: #70CE66;
  background: #fff;
  border: 1px solid #70CE66;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.btn-wj:focus {
  color: #70CE66;
  background: #fff;
  border: 1px solid #70CE66;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.btn-bl {
  color: #fff;
  background: #4BAEE8;
  border: 1px solid #4BAEE8;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.btn-bl:hover {
    background: #fff;
    color: #4BAEE8;
    border: 1px solid #4BAEE8;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Roboto', sans-serif;
}

.btn-bl:focus {
    color: #4BAEE8;
    background: #fff;
    border: 1px solid #4BAEE8;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Roboto', sans-serif;
}

.btn-secondary {
    background: #F4F6F5;
    color: #777;
    border: 1px solid #F4F6F5;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
}

.btn-secondary:hover {
    background: #F4F6F5;
    color: #777;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.new-campaign {
    display:inline;
    font-size:16px;
    font-weight:400;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.pull-right {
  float:right;
}

.lil-pad {
  padding-top: 25px;
}

.home-section h2 {
  font-size: 50px;
  font-weight: 300;
  cursor: default;
}

.home-section h3 {
  font-size: 30px;
  font-weight: 300;
  cursor: default;
}

.home-section h5 {
  font-size: 14px;
  font-weight: 200;
  cursor: default;
  line-height: 1.6;
  color: #646772;
}

.home-section h4 a {
  color:#07B9FF;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
}

.home-section img {
  max-height: 300px;
}

.home-section h4 a:hover {
  color:#0076A3;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
}

.home-arrow {
  top:3px;
  padding-left: 10px;
}

.text-center {
  text-align: center;
}

.lil-pad-bottom {
  padding-bottom: 25px;
}

.home-lap h3 {
  font-size:48px;
  font-weight:200;
}

.home-lap h5 {
  font-weight:200;
  font-size:16px;
  color:#646772;
  line-height:1.6;
}

.home-lap span {
  color:#07b9ff;
  font-size:52px;
}

.home-lap img {
  max-height: 450px;
}

.home-lap p {
  font-size:12px;
  font-weight:200;
  color:#646772;
}

.made-by h5 {
  font-weight:200;
  font-size:16px;
  color:#646772;
  line-height:1.6;
}

.discover h2 {
  font-size:30px;
  font-weight:600;
}

.discover h5 {
  color:#646772;
}

.home-ex {
  padding-bottom: 25px;
}

.home-ex h5 {
  font-size: 18px;
  font-weight: 300;
  cursor: default;
  line-height: 1.3;
}

.home-ex img {
  max-height: 75px;
}

.big-pad {
  padding-top: 75px;
}

.big-pad-bottom {
  padding-bottom: 100px;
}

img.img-test {
  max-height: 450px;
  min-height: 450px;
}

img.img-woman {
  max-height: 400px;
}

/** Footer **/

footer {
    background: #F3F2F0;
    font-size: 12px;
    padding: 50px 0;
}

.footer-nav {
    list-style: none;
    line-height: 3em;
}

.footer-nav li a {
    color: #8E8E8E;
    text-decoration: none;
}

.footer-nav li a:hover {
    text-decoration: underline;
}

.footer-banner {
  background:#F3F2F0;
}

.footer-banner img {
  max-height:200px;
}

/** Footer End **/

.close_circle {
    background: #aaa;
    border-radius: 25px;
    font-size: 14px;
    color: #fff;
    height: 20px;
    line-height: 18px;
    width: 20px;
    position: absolute;
    right: 25px;
    top: 10px;
    cursor: pointer;
    text-align: center;
}

.darken {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999999;
    background-color: rgba(0, 0, 0, 0.6);
}

.darken {
    -webkit-transition: all linear 0.6;
    transition: all linear 0.3s;
}

.darken.ng-hide {
    opacity: 0;
}

.modal_actions.ng-hide {
    opacity: 0;
}

.modal_actions {
    z-index: 100000000 !important;
    position: fixed !important;
    height: 100%;
    opacity: 1;
    transform-style: preserve-3d;
}

.modal_actions-payment {
    z-index: 100000000 !important;
    position: fixed !important;
    opacity: 1;
    transform-style: preserve-3d;
}

.campaign-icons a {
  color:#777;
}

.campaign-icons a span:hover {
  text-decoration: none;
  color: #4BAEE8;
}

.campaign-icons a:hover {
  text-decoration: none;
}

.up-down-pad {
  padding: 30px 0 10px;
  border-bottom: 1px solid hsla(0, 0%, 80%, 0.61);
}

@media (min-width:1200px) {
.button-switch {
  padding-left: 65px !important;
  }
}

.launch-current-step {
  color: #07B9FF !important;
  padding-left: 25px;
  font-size: 14px;
  font-weight: 400;
  cursor: default;
}

.step-default {
  color:#777;
  padding-left: 25px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.step-default a {
  color:#777;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  float: right;
}

@media (max-width: 767px) {
  .step-default a {
    color:#777;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    float: right;
    padding-top: 25px;
  }

  .step-default a:hover {
    text-decoration: none;
    color:#333;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    float: right;
    padding-top: 25px;
  }

  .launch-current-step {
    color: #07B9FF !important;
    padding-left: 25px;
    font-size: 14px;
    font-weight: 400;
    cursor: default;
    padding-top: 25px;
  }

  .dash-background {
    background-color:#F5F7F6;
  }

  .step-default {
    color:#777;
    padding-left: 25px;
    font-size: 14px;
    font-weight: 400;
    cursor: default;
    padding-top: 25px;
  }
}

.step-default a:hover {
  text-decoration: none;
  color:#333;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  float: right;
}

.step-number {
  background-color: #07B9FF !important;
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px 2px 6px;
}

.step-number-default {
  background-color: #777;
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px 2px 6px;
}

.progress {
  margin-bottom: 0px;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px !important;
  background-color: #F4F5F7 !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.tab-content-3 {
  padding: 10px !important;
  background-color: #F4F5F7 !important;
}

.tab-content-1 {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #F4F5F7;
  border-radius: 4px;
}

.tab-content-style {
  border-radius: 6px;
  border:1px solid #ddd;
  padding-left: 0px;
  padding-right: 0px;
}

.tab-content-rad {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #F4F5F7;
}

.goal-output {
  padding-right: 0px;
  padding-left: 0px;
}

.goal-output input {
  font-size: 16px;
  font-weight: 600;
  border: none;
}

.tab-content-rad label {
  color:#8d999e;
  margin-bottom: 0px;
  font-size: 15px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background-color:#F4F5F7;
  font-weight: 600;
  font-size: 16px;
}

.nav-tabs>li a {
  color:#777;
  font-weight: 400;
  font-size: 18px;
}

.lil-lil-pad {
  padding-top: 10px;
}

.input-width {
  width: 100% !important;
  padding: 5px;
}

.input-width-1 {
  width: 100% !important;
}

.tab-select {
  margin-right: 10px;
  width: 60%;
}

.tab-select-1 {
  border:none !important;
  background-color: #F4F5F7 !important;
}

/**@media (max-width: 1252px) {
  .tab-select {
    margin-right: 10px;
    width: 100%;
    margin-bottom: 10px;
  }
}**/

.step1_1 {
  max-width: 322.5px !important;
}

.step1_2 {
  min-width: 250.5px !important;
}

.design-img {
  max-height: 500px;
}

.ingredients {
    background-color: #FEFEFE;
    overflow: auto;
    max-height: 285px;
    border: 1px solid #d8dddf;
}

.formula-box {
  max-height:300px;
  overflow:auto;
  border:1px solid #ddd;
  border-radius:4px;
  background: #ddd;
}

.CLA_1 {
  border: 2px solid #ddd;
  cursor: pointer;
  min-height: 90px;
  background-color: #fff;
}

.CLA_1 h4 {
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 0px;
  padding-left: 5px;
  width: 100%;
}

.CLA_1 span {
  font-size: 10px;
  display: block;
  margin-left: 60px;
  margin-top: -50px;
  padding-bottom: 5px;
  padding-right: 5px;
}

.CLA_1 img {
  display: inline-block;
  height:50px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.CLA_1 h5 {
  font-weight: 300;
  font-size: 14px;
  padding: 0 0 0 10px;
  color: #777;
  margin-top: 0px;
}

.ing-ex h5 {
  color: #98989A;
}

.ing-ex h3 {
  color:#7C7C7E;
  font-size: 16px;
  font-weight: 600;
}

.ing-ex h2 {
  font-size: 36px;
    font-weight: 600;
    text-align: left;
    color: #2A77A3;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #07B9FF;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #07B9FF;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #07B9FF;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #07B9FF;
}
input[type=range]::-ms-fill-upper {
  background: #07B9FF;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

.range-slide {
  margin:15px 0 25px;
  min-width: 200px;
  max-width: 537.5px;
}

.no-pad-left {
  padding-left: 0px;
}

@media (max-width:992px) {
  .grey-info {
    color: #8d999e;
      font-size: 12px;
      line-height: 1.3;
      margin-top: 10px !important;
  }
}

.grey-info {
  color: #8d999e;
    font-size: 12px;
    line-height: 1.3;
    margin-top: 0px;
}

.grey-info-2 {
  color: #777;
    font-size: 12px;
    line-height: 1.3;
}

.grey-info-2 a:hover {
  text-decoration: none;
  cursor:pointer;
}

.min-width-2 {
  min-width: 200px;
}

.min-width-2 h3 {
  font-size: 42px;
  font-weight: 600;
  color: #8bbf4f;
  margin-top: 10px;
}

.bor-bot {
  margin: 0px 0px 10px !important;
}

.tab-content-1 p {
  color: #777;
    font-size: 12px;
    margin: 0px;
}

.tab-content-1 label {
  font-size: 14px;
  font-weight: 600;
}

.btn-group-1 {
  float:none !important;
  padding-bottom: 25px;
}

.btn-primary-1 {
    color: #333;
    background-color: #fff;
    border-color: #333;
    font-family: 'Roboto', sans-serif;
}

.btn-primary-1.active {
    color: #fff;
    background-color: #6C7477;
    border-color: #6C7477;
    font-family: 'Roboto', sans-serif;
}

.btn-primary-1:hover {
    color: #fff;
    background-color: #6C7477;
    border-color: #6C7477;
    font-family: 'Roboto', sans-serif;
}

.bigger-pad {
  padding-top: 55px;
}

.tabing .nav-tabs > li.active > a, .tabing .nav-tabs > li.active > a:focus, .tabing .nav-tabs > li.active > a:hover {
  background: #F4F5F7 !important;
    color: #3a2800 !important;
    border-radius: 4px 4px 0 0;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.tabing .nav-tabs {
  border-bottom: 1px solid #ddd !important;
  text-align: center;
}

.border-rad {
  border-radius: 4px;
}

.grey-back {
  background: #F4F5F7 !important;
}

.no-margin {
  margin: 0px;
}

.input-border {
  border: 1px solid #ddd;
}

.tooltip-inner {
  background-color: #6c7478;
  color: #fff;
  border: 1px solid #6c7478;
}

.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}

.form-control[readonly] {
  background-color: #fff;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #6c7478;
  border-width: 5px 5px 0;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #07B9FF;
  background-color: #fff;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: #fff;
}

a:hover {
  color: #07B9FF;
}

a {
  color: #333;
}

.dash-nav {
  text-align: center;
  border-right: 1px solid #ddd;
  padding-bottom: 800px;
}

.dash-nav li {
  text-align:left;
}

.dash-nav li a img {
  height:25px;
}

.dash-campaigns h2 {
  margin-top: 10px;
  font-size: 18px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.dash-cat a {
  font-size: 12px;
  color: #ccc;
}

.dash-campaigns h3 {
  margin-top: 10px;
  font-size: 18px;
  padding-left: 10px;
}

.dash-campaigns hr {
  margin-top: 0px !important;
  margin-bottom: 10px !important;
  border-top: 1px solid #ddd;
  margin-left: -15px !important;
  margin-right: -15px !important;
}

.campaign-overview {
  background-color: #fff;
  border:1px solid #ddd;
  border-radius: 4px;
  margin-left: 25px;
}

.overview-data h4 {
  font-size:28px;
  font-weight: 600;
  color: #333;
  border-right: 1px solid #ddd;
}

.overview-data-2 h4 {
  font-size:28px;
  font-weight: 600;
  color: #333;
  border-right: none;
}

.overview-data h5 {
  font-size:12px;
  color: #ccc;
}

.campaign-hr {
  margin-left: 25px;
}

.campaign-hr hr {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  border-top: 1px solid #ddd;
  margin-right: 25px !important;
}

.dash-bor {
  border-right: 1px solid #ddd;
}

.tooltip > p {
   text-align:left;
 }

 .tooltip-inner {
   text-align: left;
 }

 .margin-bottom-0 {
   margin-bottom:0px;
 }

.dash-alert a {
  cursor:pointer;
  color:#4BAEE8;
}

.campaign-section {
  cursor:pointer;
}

.campaign-section h2 {
  color:#4BAEE8;
}

.campaign-overview h3 {
  margin-right:-15px;
  margin-left:-15px;
  font-size:16px;
  padding:10px 0px 10px 25px;
  color:#777;
}

 .bordered {
  border: dashed 4px #D91E18;

  /* Individual border image properties */
  border-image-source: url("/img/red-border.png");
  border-image-slice: 2;
  border-image-repeat: round;

  /* or use the shorthand border-image */
  border-image: url("/img/red-border.png") 2 round;
}

.canvas-container-outer {
  border: none;
}

.faq-head {
  background-color: #83dcff;
}

.faq-head h3 {
  color:#fff;
  font-size:44px;
  font-weight: 600;
}

.dash-a a {
  color:#07B9FF;
  cursor: default;
}

.nav-pills>li>a {
  border-radius: 4px;
  cursor: pointer;
}

.dash-style-standard {
  margin-top:-25px;
  background-color:#fff;
}

.dash-style {
  background-color:#F5F7F6;
  margin-left:-15px;
  padding-bottom:500px;
}

.nav-highlight a {
  color:#07B9FF;
}

.nav-highlight a:hover {
  color:#0698D1;
}

.products-style-1 option {
  border: 1px solid #d8dddf;
  background-color: #fff;
  height: 50px;
  width: 56px;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  border-radius: 4px;
}

.products-style option {
  border: 1px solid #d8dddf;
  background-color: #fff;
  height: 86px;
}

.campaign-info h2 {
  font-size: 38px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 600;
  color: #434343;
  cursor: default;
}

.campaign-info h4 {
  font-size: 14px;
  color: #555F6D;
  font-weight: 400;
}

.campaign-info h4 span {
  color: #71CE66;
}

.campaign-info h3 {
  color: #71CE66;
  margin-top: 10px;
  cursor: default;
}

.progress-bar {
  background-color: #71CE66;
}

.campaign-info h5 {
  font-size: 16px;
  color: #555F6D;
  font-weight: 600;
}

.campaign-share p {
  font-size: 12px;
  color: #777;
}

.social-box {
  border: 1px solid #ddd;
  background-color: #F5F7F6;
  display: inline-block;
  padding: 0px 25px 0px 25px;
  border-radius: 4px;
}

.social-box:hover {
  border: 1px solid #ddd;
  background-color: #ddd;
  display: inline-block;
  padding: 0px 25px 0px 25px;
  border-radius: 4px;
  cursor: pointer;
}

.social-box h5 {
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
}

.social-box a:hover {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

.social-box span img {
  max-height: 15px;
  display: inline-block;
  position: relative;
  top: -3px;
}

.campaign-desc h2 {
  font-size: 24px;
}

.campaign-desc h4 {
  font-size: 14px;
}

.campaign-desc span {
  font-weight: 400;
  color: #777;
}

.pic-desc h3 {
  font-size: 16px;
  margin: 0px 0px 5px;
  color: #777;
}

.smalltext{
    padding-top: 0px;
    font-size: 14px;
		color:#777;
		cursor: default;
    display: block;
}

.numtext {
  display: block;
}

.contest-share {
  padding-top: 15px;
}

.contest-share p {
  font-size: 12px;
  color: #777;
  cursor: default;
}

.descript {
  cursor:default;
}

.descript h2 {
  font-size: 26px;
  margin-bottom: 0px;
  font-weight: 600;
}

.descript h3 {
  color:#434343;
  font-size:32px;
  font-weight:600;
}

.descript h4 {
  font-size:16px;
  font-weight:400;
  color:#555F6D;
  line-height:1.47;
}

.descript h5 {
  font-size:14px;
  font-weight: 600;
  color: #777;
}

.descript p {
  font-size:14px;
  color: #555F6D;
}

.owner-insta {
  cursor: default;
}

.owner-insta h3 {
  color:#434343;
  font-size:32px;
  font-weight:600;
}

.owner-insta h4 {
  color:#555F6D;
  font-size:28px;
  font-weight:300;
}

.owner-insta h5 {
  color:#555F6D;
  font-size:18px;
  font-weight:300;
}

.owner-insta h5 a {
  color:#51A1F4;
  font-size:20px;
}

.owner-insta h5 a span {
  color:#51A1F4;
}

.blue-row {
  background-color: #24BCD3;
}

.newsletter {
  background: #F3F2F0;
}

.launch-options {
  cursor: default;
}

.launch-options-bottle label {
  font-weight:300;
}

.blurb-desc h6 {
  margin-top:5px;
  font-size:10px;
  color:#777;
}

.goal-desc {
  height:50px;
  width:50px;
  cursor:pointer;
  background-size:cover;
  font-size:0px;
  float:left;
  border-radius:4px;
  border: 2px solid #ddd;
  margin: 3px;
}

.laptop {
  max-height:350px;
}

.dash-campaign-title h5 {
  margin-bottom: 0px;
  padding-top:7px;
  float:left;
}

.dash-campaign-goal h5 {
  margin-bottom: 0px;
  color:#777;
  padding-top:7px;
}

.dash-campaign-goal p {
  font-size:10px;
  color:#777;
}

.dash-campaign-status h5 {
  margin-bottom: 0px;
  color:#777;
  padding-top:7px;
}

.dash-campaign-status p {
  font-size:10px;
  color:#777;
}

.dash-na h5 {
  color:#777;
  padding-top:7px;
}

.edit-icon {
  margin-top:10px;
  padding-top:7px;
}

.delete-alert {
  cursor:pointer;
}

.delete-icon {
  padding-top:7px;
}

.dash-settings h2 {
  border-bottom:1px solid #ddd;
  margin-right:-15px;
  margin-left:-15px;
  font-size:16px;
  padding:10px 0px 20px 25px;
  color:#777;
}

.dash-settings label {
  font-weight:400;
}

.dash-location small {
  display:block;
  font-size:10px;
}

.text-left {
  text-align:left;
}

.sale-price input {
  font-size: 14px;
}

.login-head {
  background-color: #fff !important;
  border: none;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.login-body {
  padding-top: 0px;
}

.login-button button {
  padding: 10px 25px 10px 25px;
  background-color: #07B9FF;
  border-color: #07B9FF;
}

.login-input input {
  height: 40px;
}

.login-body h5 {
  margin-top:0px;
  padding-bottom: 15px;
  font-size:16px;
}

.login-body h5 a {
  color: #07B9FF;
}

.current-payout img {
  max-height:350px;
}

.current-payout h2 {
  border-bottom:1px solid #ddd;
  margin-right:-15px;
  margin-left:-15px;
  font-size:16px;
  padding:10px 0px 20px 25px;
  color:#777;
}

.current-payout h4 {
  font-size:14px;
}

.current-payout h4 a {
  color:#4BAEE8;
}

.current-payout label {
  font-weight:400;
}

.dash-profile-pic img {
  max-height:150px;
}

.dash-payouts h2 {
  font-size:16px;
}

.no-border {
  border:none;
}

.pad-left-0 {
  padding-left:0px;
}

.pad-left-5 {
  padding-left: 5px;
}

.pad-right-0 {
  padding-right: 0px;
}

.pad-bottom-10 {
  padding-bottom:10px;
}

.pad-bottom-250 {
  padding-bottom: 250px;
}

.pad-top-50 {
  padding-top:50px;
}

.pad-top-100 {
  padding-top:100px;
}

.pad-left-50 {
  padding-left:50px;
}

.launch-terms small {
  font-size:10px;
  color:#777;
  display:block;
  width:200px;
  padding-top:5px;
}

.unit-number input {
  border-left:1px solid #ccc;
  font-size: 14px;
}

.design-cat li {
  float:none;
  display:inline;
}

.science {
  cursor: default;
}

.science h2 {
  color:#fff;
  font-weight: 300;
}

.science h4 {
  color:#F0E9E9;
  line-height: 1.3;
  font-weight: 200;
  font-size: 14px;
}

.science img {
  max-width:300px;
}

.d-key h4 {
  color:#fff;
  font-size: 22px;
  font-weight: 300;
}

.d-key h5 {
  color:#F0E9E9;
  font-weight: 200;
  line-height: 1.3;
}

.case-study {
  font-size:14px !important;
  font-weight:300;
}

.small-text {
  font-size:10px;
  color:#777;
}

.science-small-text {
  font-size:10px;
  color:#fff;
}

.nutrition-facts {
  width:100%;
  max-width:1200px;
}

.d-key a {
  color: #F0E9E9;
}

.d-key a:hover {
  color: #fff;
}

.bio-info {
  border:5px solid #24BCD3;
  border-radius:4px;
  cursor: default;
}

.bio-info a {
  font-size:14px;
  font-weight:500;
  color:#555F6D;
}

.bio-info h4 {
  color:#434343;
  margin-top:0px;
  margin-bottom:0px;
  font-size:22px;
  font-weight:600;
}

.bio-info h5 {
  line-height:1.3;
  color:#434343;
  font-size:14px;
}

.bio-info p {
  color:#434343;
  font-weight:300;
  font-size:16px;
}

.bio-pic {
  padding-top:15px;
  background-color:#fff;
}

.bio-pic img {
  max-width:200px;
  padding-bottom:15px;
}

.timer-box {
  margin-bottom: 10px;
}

.payment-modal {
    background-color: #fff;
    border-radius: 4px;
}

.modal-top {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #F5F5F5;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom: 1px solid #ddd;
}

.modal-top h2 {
    font-size: 16px;
    margin-top: 10px;
    font-weight:600;
}

.payment-container {
    padding-left: 0px;
    padding-right: 0px;
}

.payment-2 h3 {
    font-size: 16px;
    color: #777;
    margin-top: 10px;
}

.border-bottom {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.payment-border {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.pay-input input {
    max-width: 100%;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 6px;
    font-size: 12px;
    /**color:#777;**/
}

.pay-input textarea {
    max-width: 100%;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 6px;
    font-size: 12px;
    color:#777;
}

.pay-input label {
  font-size: 13px;
  color: #777;
  font-weight: 400;
}

.shipping-label label {
  font-size: 13px;
  color: #777;
  font-weight: 400;
  padding-top:15px;
  padding-left:15px;
}

.shipping-label input {
    max-width: 100%;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 6px;
    font-size: 12px;
    /**color:#777;**/
}

.shipping-label textarea {
    max-width: 100%;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 6px;
    font-size: 12px;
    color:#777;
}

.pay-button {
  padding-top:15px;
}

.pay-button button {
  padding-top:5px;
  padding-bottom:5px;
}

.campaign-date {
  cursor: default;
}

.campaign-date h4 {
  font-size:18px;
  font-weight:300;
}

.campaign-date h4 span {
  font-weight:400;
  color:#555F6D;
}

.pay-button button:hover {
  padding-top:5px;
  padding-bottom:5px;
}

.launch-input input {
    max-width: 100%;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 6px;
    font-size: 12px;
    color:#777;
}

.campaign-brand-name {
  display:inline-block;
  padding-left:15px;
}

.campaign-brand-name h5 {
  margin-top:0px;
  margin-bottom:0px;
  font-size:22px;
  font-weight:600;
  color:#434343;
  cursor:default;;
}

.campaign-brand-pic {
  background-color:#fff;
  display:inline-block;
  border-radius:4px;
  padding:5px;
}

.campaign-top {
  background-color:#F3F3F3;
  padding:10px;
  margin-top:10px;
  border-radius:4px;
}

.margin-top-25 {
  margin-top:25px;
}

.formula-description h4 {
  color:#555F6D;
  font-size:18px;
  font-weight:400;
  line-height:1.2;
  cursor: default;
}

.campaign-benefits {
  padding-top:10px;
  padding-bottom:10px;
  cursor: default;
}

.campaign-benefits img {
  max-height: 30px;
}

.campaign-benefits h5 {
  color:#555F6D;
  font-size:12px;
}

.campaign-price h3 span {
  color: #555F6D;
  font-size:16px;
  font-weight:300;
}

.campaign-progress {
  padding-top: 15px;
  cursor: default;
}

.campaign-button button {
  padding-top:10px;
  padding-bottom:10px;
}

.campaign-button button:hover {
  padding-top:10px;
  padding-bottom:10px;
}

.campaign-guarantee img {
  height:50px;
}

.campaign-guarantee span {
  cursor: default;
}

.campaign-guarantee span a {
  color:#1DC068;
  cursor: pointer;
}

.launch-input textarea {
    max-width: 100%;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 6px;
    font-size: 12px;
    color:#777;
}

.launch-input label {
  font-size: 13px;
  color: #333;
  font-weight: 600;
}

.margin-right-10 {
  margin-right:10px;
}

.fivemarbottom {
    margin-bottom: 5px;
}

#clockdiv {
    font-family: sans-serif;
    color: #333;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
    cursor: default;
}
@media (min-width: 1423px) {
  #clockdiv > timer > div {
      padding: 5px;
      border-radius: 4px;
      background: #fff;
      display: inline-block;
      border: 1px solid #ddd;
      cursor: default;
  }
}
@media (min-width: 1150px) and (max-width: 1422px) {
#clockdiv > timer > div {
    padding: 2px;
    border-radius: 4px;
    background: #fff;
    display: inline-block;
    border: 1px solid #ddd;
    cursor: default;
  }
  .numtext {
    font-size: 18px;
  }
  .smalltext {
    font-size: 12px;
  }
}

@media (max-width: 1149px) {
  #clockdiv > timer > div {
      padding: 2px;
      border-radius: 4px;
      background: #fff;
      display: inline-block;
      border: 1px solid #ddd;
      cursor: default;
    }
    .numtext {
      font-size: 14px;
    }
    .smalltext {
      font-size: 10px;
    }
}

#clockdiv > timer > div > span {
    padding: 0px 15px 0px 15px;
    border-radius: 3px;
    background: #fff;
    cursor: default;
    color #434343;
    font-weight: 400;
}

.payment-back {
  padding-left: 10px;
  margin-top: -20px;
  position: relative;
  top: -10px;
  cursor: pointer;
}

.shipping-info {
  margin-bottom: 5px;
  margin-right: 10px;
}

.purpose-selected {
  border:2px solid #07B9FF;
  border-radius: 4px;
}

.formula-selected {
  border:2px solid #07B9FF;
  border-radius: 4px;
}
