.container-fluid {
  padding:0px;
}

.row {
    margin: 0;
}

header {
    height: 75px;
    padding: 10px 0;
    background: #fff;
    border-bottom: 1px solid #CCC;
}

.header-row {
    overflow: hidden;
}

header .logo {
    float: left;
}

header .logo a {
    display: block;
}

header nav {
    width: 100%;
}

header nav ul {
    padding-top: 15px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none !important;
    color: #333;
}

header nav ul li a:hover {
    color: #06883F;
    /**border-bottom: 1px solid #06883F;**/
}

header nav ul li.login-li {
    float: right;
    margin: -5px 0 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    font-size: 16px;
    padding: 0 26px;
    font-weight: 400;
}

header nav ul li .btn:hover {
    color: #019F6E;
}

h4 {
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1;
    color: #333;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 75px;
}

small {
    color: #8E8E8E;
    font-size: 100%;
}

hr {
    border: 0;
    margin: 40px 10px !important;
    border-top: 2px solid #e6e6e6;
}

a:focus {
    color:#333;
}

.hero-bg {
  background:#222;
  height:100%;
  max-height:468px;
  width:100%;
  clear:both;
  position:absolute;
  margin-bottom:200px;

  background:url(https://dl.dropboxusercontent.com/u/24098368/responsive-hero-bg-1.jpg) no-repeat center center;
  background-size:cover;
}

  @media (min-width:641px) and (max-width:1024px) {
    background:url(https://dl.dropboxusercontent.com/u/24098368/responsive-hero-bg-2.jpg) no-repeat center center;
    background-size:cover;
  }

  @media (min-width:1025px) and (max-width:1500px) {
    background:url(https://dl.dropboxusercontent.com/u/24098368/responsive-hero-bg-3.jpg) no-repeat center center;
    background-size:cover;
  }

  @media (min-width:1501px){
    background:url(https://dl.dropboxusercontent.com/u/24098368/responsive-hero-bg-4.jpg) no-repeat center center;
    background-size:cover;
  }




.hero-content {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  height: 100%;
}

h2 {
  color:#fff;
  font-size:3em;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  margin:0 0 20px;
}

a.btn {
  text-decoration:none;
  color:#005c9e;
  font-size:1.2em;
  border:1px solid #fff;
  padding:10px 20px;
  background:rgba(255,255,255,0.9);
  border-radius:5px;
}
