<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 text-center">
			<div class="col-xs-12">
            <img class="img-responsive pull-right" ng-src="{{(campaign_data.bottle_type == 'back' && campaign_data.formula.back_image)? add_back_image_path(campaign_data.formula.back_image) :campaign_data.bottle_img}}" alt="Image Of Custom Supplement">
        </div>
			<div class="campaign-user-photo col-xs-12 col-sm-4">
        <div ng-show="campaign_data.formula.back_image">
            <ul>
			</div>
			<div class="col-xs-12 col-sm-4">
			</div>
			<div class="col-xs-12 col-sm-4">
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 campaign-info">
			<div class="col-xs-12">
				<h2>{{campaign_data.title}}</h2>
				<h4>{{campaign_data.description}}</h4>
				<h3>{{campaign_data.sale_price | currency}}</h3>
                <li>
				<h4><span class="glyphicon glyphicon-leaf"></span> {{campaign_data.formula.name}}</h4>
			</div>
			<div class="col-xs-12 col-sm-8 campaign-progress lil-pad">
				<uib-progressbar class="progress-striped active" value="purchase_count" max='campaign_data.goal'></uib-progressbar>
				<h5 class="text-center">{{campaign_data.goal_count}} of {{campaign_data.goal}} sold</h5>
			</div>
			<div class="col-xs-12 col-sm-8 text-center campaign-button">
                    <button class="btn btn-gy btn-sm" ng-click="campaign_data.bottle_type = 'front'">Front</a>
			</div>
			<div class="col-xs-12 col-sm-8 text-center">
				<!--Start Clock-->
				<div id="clockdiv">
  				<div>
                </li>
                <li style="margin-left:-5px;">
  				</div>
  				<div>
    				<span class="hours"></span>
    				<div class="smalltext">Hours</div>
  				</div>
  				<div>
                    <button class="btn btn-gy btn-sm" ng-click="campaign_data.bottle_type = 'back'">Back</a>
                </li>
  				</div>
  				<div>
    				<span class="seconds"></span>
            </ul>
  				</div>
				</div>
				<!--End Clock-->
			</div>
			<div class="col-xs-12 col-sm-8 text-center campaign-share lil-pad">
				<div>
				<p><em>Share this campaign on</em></p>
        </div>
				<div class="social-box">
					<a>
						<span><img src="img/facebook.png"></span>
						<h5>Facebook</h5>
					</a>
				</div>
				<div class="social-box">
					<a>
						<span><img src="img/twitter.png"></span>
						<h5>Twitter</h5>
					</a>
				</div>
			</div>

		</div>
	</div>
	<hr>
	<div class="row">
	<div class="container">
        <div class="col-xs-12 col-sm-6 campaign-info">
		<div class="col-xs-12">
            <h2>{{campaign_data.title}}</h2>
		</div>
		<div class="col-xs-12">
            <h4>{{campaign_data.description}}</h4>
		</div>
            <h3>{{campaign_data.sale_price | currency}}</h3>
			<h4><span>Shipping Info</span></h4>
			<h4>Orders are printed and shipped when the time expires. You can expect your package to arrive around 4-7 business days
            <h4>{{campaign_data.purpose.name}}</h4>
		</div>
		<div class="col-xs-12">
            <h4>{{campaign_data.formula.name}}</h4>
		</div>
		<div class="col-xs-12">
            <rzslider rz-slider-model="campaign_data.goal_count" rz-slider-options="{floor: 0,ceil: campaign_data.goal, showSelectionBar: true,readOnly: true}"></rzslider>
			<h4>If you're not 100% satisfied, let us know and we'll make it right.</h4>
		</div>
            <div>{{campaign_data.goal_count}} / {{campaign_data.goal}}</div>
	<div class="col-xs-12 col-sm-4">
            <div>end at : {{campaign_data.end_at}}</div>
            <div>
		<div class="col-xs-12 text-center">
                <timer countdown="100000" interval="1000"> {{ddays}} day{{daysS}}, {{hhours}} hour{{hoursS}}, {{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}</timer>
            </div>
	</div>

	</div>
</div>

	<div class="ingredients">
            <div class="contest-share">
                <div class="contest-share-socials">
                    <div class="addthis_sharing_toolbox" data-title="{{campaign_data.title}}" data-description="{{campaign_data.description}}" data-media="{{campaign_data.bottle_img}}"></div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="col-xs-12">
        Ingredients
        <div class="ingredients">
            <div ng-repeat="(key,ingredient) in campaign_data.formula.ingredients" class="CLA_1">
                <span class="glyphicon glyphicon-info-sign" style="top: 32px;left: 180px;font-size: 10px;color:#777;"></span>
                <h4 uib-tooltip-template="'ingredient_tooltip.html'" tooltip-placement="top"><img style="width:50px;padding-right:5px;" ng-src="{{add_ingredient_path(ingredient)}}">{{ingredient}}</h4>
                <p>study_name:{{campaign_data.formula.study_name[key]}}</p>
                <p>study_url:{{campaign_data.formula.study_url[key]}}</p>
            </div>
        </div>
        <hr> owner: photo: <img ng-src="{{campaign_data.user.profile.photo}}"> email : {{campaign_data.user.email}} Brand Name: {{campaign_data.user.profile.brand_name}} Biography: {{campaign_data.user.profile.biography}} Website: {{campaign_data.user.profile.website}} First Name {{campaign_data.user.profile.first_name}} Instagram {{campaign_data.user.profile.instagram}}
        <button ng-click="buy_campaign()">buy</button>
        <br>
        <div class="ng-hide">
            {{campaign_data}}
        </div>
    </div>
</div>
<style>
#clockdiv{
    font-family: sans-serif;
    color: #333;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
		padding-top: 15px;
		cursor: default;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 4px;
    background: #fff;
    display: inline-block;
		border: 1px solid #ddd;
		cursor: default;
}

#clockdiv div > span{
    padding: 0px 15px 0px 15px;
    border-radius: 3px;
    background: #fff;
    display: inline-block;
		cursor: default;
}

.smalltext{
    padding-top: 0px;
    font-size: 14px;
		color:#777;
		cursor: default;
}
</style>
<script type="text/ng-template" id="ingredient_tooltip.html">
    <span ng-bind="campaign_data.formula.description[key]"></span>
</script>
<script type="text/javascript">
function getTimeRemaining(endtime) {
  var t = Date.parse(endtime) - Date.parse(new Date());
var addthis_config = addthis_config || {};
addthis_config.data_track_addressbar = false;
addthis_config.data_track_clickback = false;
addthis_share = {
  return {
    passthrough: {
    'days': days,
        twitter: {
    'minutes': minutes,
    'seconds': seconds
  };
}

function initializeClock(id, endtime) {
            via: "TheRealFabel"
  var daysSpan = clock.querySelector('.days');
  var hoursSpan = clock.querySelector('.hours');
  var minutesSpan = clock.querySelector('.minutes');
        }

  function updateClock() {
    var t = getTimeRemaining(endtime);

    daysSpan.innerHTML = t.days;
    hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

    if (t.total <= 0) {
      clearInterval(timeinterval);
    }
  }

  updateClock();
  var timeinterval = setInterval(updateClock, 1000);
}

var deadline = new Date(Date.parse(new Date()) + 15 * 24 * 60 * 60 * 1000);
initializeClock('clockdiv', deadline);
</script>
