<script src="/instashow/instashow/jquery.instashow.packaged.js"></script>
<script src="cfgen-form-2/js/form.js"></script>
<link href="cfgen-form-2/css/form.css" rel="stylesheet" type="text/css">
<div class="container-fluid margin-top-25" style="padding-top:100px;">
    <!--<div class="container campaign-top" ng-if="campaign_data.user.profile.brand_name">
        <div class="campaign-brand-pic" ng-show="campaign_data.user.profile.photo">
            <img ng-src="{{campaign_data.user.profile.photo}}" alt="Genesus Brand Image" style="max-width:75px;">
        </div>
        <div class="campaign-brand-name">
            <h5>{{campaign_data.user.profile.brand_name}}</h5>
        </div>
    </div>-->
    <div class="row">
        <div class="col-xs-12 col-sm-6 text-center lil-pad">
            <div class="col-xs-12 lil-pad-bottom">
                <center>
                    <img class="img-responsive" ng-src="{{(campaign_data.bottle_type == 'back' && campaign_data.formula.back_image)? add_back_image_path(campaign_data.formula.back_image) :campaign_data.bottle_img}}" alt="Image Of Custom Supplement" style="max-height:350px;">
                </center>
            </div>
            <div class="col-xs-12 contest-share">
                <div class="col-xs-12 text-center">
                    <p><em>Share this campaign on</em></p>
                </div>
                <div class=" col-xs-12 text-center contest-share-socials">
                    <div class="addthis_inline_share_toolbox" data-title="{{campaign_data.title}}" data-description="{{campaign_data.formula.formula_desc}}" data-media="{{campaign_data.bottle_img}}"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-3 lil-pad" style="text-align:left;">
                <h5 style="font-size:10px;">Shipping Info</h5>
                <p style="font-size:10px;">Orders are packaged and shipped when the time expires. You can expect your package to arrive around 4-7 business days after the campaign finishes.</p>
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-3" style="text-align:left;">
                <p style="font-size:10px;">Shipping is completely free if an order is placed before the campaign ends.</p>
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-3" style="text-align:left;">
                <h5 style="font-size:10px;">Return Policy</h5>
                <p style="font-size:10px;">If you're not 100% satisfied, let us know and we'll make it right.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 campaign-info lil-pad">
            <div class="col-xs-12 col-sm-10">
                <h2 style="font-size:52px;">{{campaign_data.title}}</h2>
            </div>
            <div class="col-xs-12 col-sm-10 formula-description">
                <h4>{{campaign_data.formula.formula_desc}}</h4>
              </div>
              <div class="col-xs-12 col-sm-6 campaign-benefits">
                <div class="col-xs-4" ng-if="campaign_data.formula.benefit_1">
                  <center class="pull-right">
                    <img ng-src="{{add_benefit1_path(benefit_1)}}" alt="Genesus product benefit 1">
                    <h5 style="font-size:14px;">{{campaign_data.formula.benefit_1}}</h5>
                  </center>
                </div>
              <div class="col-xs-4" ng-if="campaign_data.formula.benefit_2">
                <center class="pull-right">
                    <img ng-src="{{add_benefit2_path(benefit_2)}}" alt="Genesus product benefit 1">
                    <h5 style="font-size:14px;">{{campaign_data.formula.benefit_2}}</h5>
                </center>
              </div>
              <div class="col-xs-4" ng-if="campaign_data.formula.benefit_3">
                <center class="pull-right">
                    <img ng-src="{{add_benefit3_path(benefit_3)}}">
                    <h5 style="font-size:14px;">{{campaign_data.formula.benefit_3}}</h5>
                </center>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 text-center" ng-if="campaign_data.user.profile.brand_name">
              <div class="col-xs-12">
                <div class="campaign-brand-pic" ng-show="campaign_data.user.profile.photo" style="padding-bottom:5px;">
                    <img ng-src="{{campaign_data.user.profile.photo}}" alt="Genesus Brand Image" style="max-width:57px;">
                </div>
                <div class="campaign-brand-name text-center">
                    <h5 style="color:#555F6D;font-size:18px;font-weight:300;margin-right:-50px;margin-left:-50px;">{{campaign_data.user.profile.brand_name}}</h5>
                </div>
              </div>
              </div>
            <div class="col-xs-12 col-sm-10 campaign-price">
                <h3>{{campaign_data.sale_price | currency}} <span>& FREE Shipping</span></h3>
                <h5 style="font-size:14px;color:#777;margin-top:0px;font-weight:300;">({{campaign_data.formula.servings}} Servings)</h5>
            </div>
            <div class="col-xs-12 col-sm-10 campaign-progress">
                <uib-progressbar class="active" value="campaign_data.goal_count" max='campaign_data.goal'></uib-progressbar>
                <h5 class="text-center">{{campaign_data.goal_count}} of {{campaign_data.goal}} sold</h5>
            </div>
            <div class="col-xs-12 col-sm-10 text-center campaign-button">
                <button class="col-xs-12 btn btn-wj btn-sm btn-buy" ng-click="buy_campaign()">Buy It Now</a>
            </div>
            <div class="col-xs-12 col-sm-8 campaign-date">
                <h4>Available until <span>{{campaign_data.end_at | dayName}}!</span></h4>
            </div>
            <div class="col-xs-12 col-sm-10">
                <div class="col-xs-12" id="clockdiv">
                    <timer countdown="100000" interval="1000">
                        <div class="timer-box">
                            <span class="numtext">{{ddays}}</span> <span class="smalltext">Day{{daysS}}</span>
                        </div>
                        <div class="timer-box">
                            <span class="numtext">{{hhours}}</span> <span class="smalltext">Hour{{hoursS}}</span>
                        </div>
                        <div class="timer-box">
                            <span class="numtext">{{mminutes}}</span> <span class="smalltext">Minute{{minutesS}}</span>
                        </div>
                        <div class="timer-box">
                            <span class="numtext">{{sseconds}}</span> <span class="smalltext">Second{{secondsS}}</span>
                        </div>
                    </timer>
                </div>
            </div>
            <div class="col-xs-12 col-sm-10 text-center campaign-guarantee">
                <img src="https://s3-us-west-2.amazonaws.com/tappyn/keepit.jpg" alt="Genesus Guarantee"> <span>Keep It</span>™<span>&nbsp;</span><span><a href="/faq" target="_blank">MONEY BACK GUARANTEE</a></span>
            </div>

        </div>
    </div>
    <!--End Row-->
    <hr>
    <div class="row">
        <div class="container">
            <div class="col-xs-12 col-sm-8 descript">
                <h3 style="margin-top:0px;">About</h3>
                <div class="col-xs-12 no-pad-left">
                    <h4 style="font-size:28px;">{{campaign_data.blurb}}</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 bio-info" ng-if="campaign_data.user.profile.brand_name">
                <div class="col-xs-12 text-center bio-pic" ng-show="campaign_data.user.profile.photo">
                    <img ng-src="{{campaign_data.user.profile.photo}}" alt="Genesus User Profile Picture">
                </div>
                <!--<div class="col-xs-12 text-center" ng-show="campaign_data.user.profile.brand_name">
                    <h4>{{campaign_data.user.profile.brand_name}}</h4>
                </div>-->
                <div class="col-xs-12 text-center" ng-show="campaign_data.user.profile.brand_city || campaign_data.user.profile.brand_state">
                    <p>{{campaign_data.user.profile.brand_city}} {{campaign_data.user.profile.brand_state}}</p>
                </div>
                <div class="col-xs-12" ng-show="campaign_data.user.profile.brand_description">
                    <h5 style="font-size:16px;font-weight:300;">{{campaign_data.user.profile.brand_description}}</h5>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div ng-show="campaign_data.user.profile.instagram">

        <div class="row">
            <div class="container" style="padding-bottom:40px;">
                <div class="col-xs-12 owner-insta">
                    <h3>Meet The Owner</h3>
                    <h4>{{campaign_data.user.profile.brand_name}}</h4>
                    <h5><a href="https://www.instagram.com/{{campaign_data.user.profile.instagram}}/" target="_blank">@<span>{{campaign_data.user.profile.instagram}}</span></a></h5>
                    <div id="my-instashow"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row blue-row">
        <div class="container science">
            <!--<div class="col-xs-4 lil-pad hidden-xs">
                <img src="img/science.png" class="img-responsive" alt="Genesus Science">
            </div>-->
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <h2 style="font-weight:600;">The Science Behind {{campaign_data.title}}</h2>
                </div>
                <div class="col-xs-12">
                    <h4 style="font-weight:300;font-size:28px;color:#fff;">A clinically driven design process means only the best ingredients make the cut.</h4>
                </div>

                <div class="col-xs-12 d-key lil-pad lil-pad-bottom">
                    <div class="col-xs-12" ng-repeat="(key,ingredient) in campaign_data.formula.ingredients">
                      <div class="col-xs-12 col-sm-3" style="display:inline-block;">
                        <img class="img-responsive" style="max-width:250px;padding-right:5px;float:right;" ng-src="{{add_ingredient_path(ingredient)}}">
                      </div>
                      <div class="col-xs-12 col-sm-9 ing-images" style="display:inline-block;max-width:600px;">
                        <h4>{{ingredient}}</h4>
                        <h5 ng-bind="campaign_data.formula.description[key]"></h5>
                        <h4 class="case-study">The Clinical Studies To Support It</h4>
                        <h5>{{campaign_data.formula.study_name[key]}}</h5>
                        <h5><a href="{{campaign_data.formula.study_url[key]}}" target="_blank">{{campaign_data.formula.study_url[key]}}</a></h5>
                      </div>
                    </div>
                </div>
            </div>
            <small class="science-small-text">† This statement has not been evaluated by the FDA.<br>This product is not intended to diagnose, treat, cure, or prevent any disease.</small>
        </div>
    </div>
    <div class="row lil-pad-bottom" ng-show="campaign_data.formula">
      <div class="container-fluid">
        <img src="https://s3-us-west-2.amazonaws.com/tappyn/campaign-banner.jpg" class="img-responsive" alt="Genesus Quality Banner">
        <hr>
      </div>
      <div class="container">
        <h2 style="font-weight:600;">Transparent Labeling</h2>
        <h4 style="font-weight:300;font-size:28px;">We are committed to providing customers with what they need to make informed nutrition decisions.</h4>
      </div>
        <div class="container-fluid" style="padding-top:50px;">
        <center>
            <img class="nutrition-facts" ng-src="{{add_nutrition_path(campaign_data.formula)}}" class="img-responsive" alt="Genesus Nutrition Facts">
        </center>
      </div>
    </div>
    <div class="row newsletter">
        <div class="col-xs-12 text-center">
            <h3 style="font-weight:300;">Get the most innovated products delivered to your inbox daily.</h3>
        </div>
        <div class="col-xs-12 col-sm-4 col-sm-offset-4 lil-pad text-center">
            <div class="cfgen-form-container" id="cfgen-form-2">
                <div class="cfgen-form-content">
                    <div class="cfgen-e-c">
                        <label class="cfgen-label" id="cfgen-element-2-3-label"><span class="cfgen-label-value"></span><span class="cfgen-required">*</span></label>
                        <div class="cfgen-e-set" id="cfgen-element-2-3-set-c">
                            <div class="cfgen-input-group" id="cfgen-element-2-3-inputgroup-c">
                                <div class="cfgen-input-c" id="cfgen-element-2-3-input-c">
                                    <input type="text" class="cfgen-type-email cfgen-form-value " name="cfgen-element-2-3" id="cfgen-element-2-3" placeholder="Your Email Address">
                                </div>
                            </div>
                        </div>
                        <div class="cfgen-clear"></div>
                    </div>
                    <div class="cfgen-e-c">
                        <div class="cfgen-e-set" id="cfgen-element-2-5-set-c">
                            <div class="cfgen-input-group" id="cfgen-element-2-5-inputgroup-c">
                                <div class="cfgen-input-c" id="cfgen-element-2-5-input-c">
                                    <input type="submit" class="cfgen-submit" name="cfgen-element-2-5" id="cfgen-element-2-5" value="Subscribe">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cfgen-loading"></div>
                </div>
                <!-- cfgen-form-content -->
            </div>
            <!-- cfgen-form-container -->
        </div>
    </div>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-580c34729ce0967a"></script>
