<div class="container-fluid">
	<div class="col-xs-12 col-sm-6">
		design image:<img ng-src="{{campaign_data.bottle_img}}">
	</div>
	<div class="col-xs-12 col-sm-6">
	title:{{campaign_data.title}}
	descrition:{{campaign_data.description}}

	sale price:{{campaign_data.sale_price | currency}}
	purpose:{{campaign_data.purpose.name}}
	formula:{{campaign_data.formula.name}}
	goal: {{campaign_data.goal_count}} / {{campaign_data.goal}}
</div>
	<hr>
	<div class="col-xs-12">
	Ingredients
	<div class="ingredients">
        <div ng-repeat="(key,ingredient) in campaign_data.formula.ingredients" class="CLA_1">
          <span class="glyphicon glyphicon-info-sign" style="top: 32px;left: 180px;font-size: 10px;color:#777;"></span>
            <h4 uib-tooltip-template="'ingredient_tooltip.html'" tooltip-placement="top"><img style="width:50px;padding-right:5px;" ng-src="{{add_ingredient_path(ingredient)}}">{{ingredient}}</h4>
        </div>
    </div>
    <hr>
	owner:
	photo: <img ng-src="{{campaign_data.user.profile.photo}}">
	email : {{campaign_data.user.email}}
	Brand Name: {{campaign_data.user.profile.brand_name}}
	Biography: {{campaign_data.user.profile.biography}}
	Website: {{campaign_data.user.profile.website}}
    <button ng-click="buy_campaign()">buy</button>
	<br>

	<div class="ng-hide">
		{{campaign_data}}
	</div>
</div>

</div>
<script type="text/ng-template" id="ingredient_tooltip.html">
    <span ng-bind="campaign_data.formula.description[key]"></span>
</script>
