<div class="container-fluid dash-background">
    <div class="col-xs-12 col-sm-2 lil-pad dash-style-standard">
        <ul class="nav nav-pills nav-stacked dash-nav lil-pad">
            <li role="presentation" ng-class="{'dash-a' : dash_view == 'campaigns'}" ng-click="dash_set('campaigns')">
                <a><img src="https://s3-us-west-2.amazonaws.com/tappyn/Campaigns.jpg" alt="Genesus Dashboard Icons"> Campaigns</a>
            </li>
            <li role="presentation" ng-class="{'dash-a' : dash_view == 'settings'}" ng-click="dash_set('settings')">
                <a><img src="https://s3-us-west-2.amazonaws.com/tappyn/Storefront.jpg" alt="Genesus Dashboard Icons"> Profile</a>
            </li>
            <li role="presentation" ng-class="{'dash-a' : dash_view == 'payouts'}" ng-click="dash_set('payouts')">
                <a><img src="https://s3-us-west-2.amazonaws.com/tappyn/Payouts.jpg" alt="Genesus Dashboard Icons"> Payouts</a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-10 lil-pad dash-campaigns dash-style pad-top-50">
        <div class="campaign-section" id="campaigns" ng-show="dash_view == 'campaigns'">
            <div class="alert alert-warning alert-dismissible margin-bottom-0 dash-alert" role="alert" ng-show="!profile_data.brand_description">
                <button class="close" data-dismiss="alert" type="button">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                Thanks for launching your campaign! It looks like you are still missing some information in your <a ng-click="dash_set('settings')">profile</a> that would help buyers get to know you.
                <br> -Austin (Co-Founder Genesus)
            </div>
            <br>
            <h2>Campaigns</h2>
            <div class="col-xs-12 col-sm-10 campaign-overview">
                <h3>Overview</h3>
                <hr>
                <div class="col-xs-12 col-sm-4 text-center overview-data">
                    <h4>$0</h4>
                    <h5>Products Ordered</h5>
                </div>
                <div class="col-xs-12 col-sm-4 text-center overview-data">
                    <h4>$0</h4>
                    <h5>Profit</h5>
                </div>
                <div class="col-xs-12 col-sm-4 text-center overview-data-2">
                    <h4>$0</h4>
                    <h5>To Be Paid</h5>
                </div>
                <div class="col-xs-12 text-center dash-cat pad-bottom-10">
                    <div class="col-xs-3 col-sm-2 col-sm-offset-4 dash-bor">
                        <a>Today</a>
                    </div>
                    <div class="col-xs-3 col-sm-2 dash-bor">
                        <a>Yesterday</a>
                    </div>
                    <div class="col-xs-3 col-sm-2 dash-bor">
                        <a>Active</a>
                    </div>
                    <div class="col-xs-3 col-sm-2">
                        <a>All Time</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 campaign-hr lil-pad-bottom">
                <hr>
            </div>
            <div class="col-xs-12 col-sm-10 campaign-overview text-center" ng-repeat="campaign in campaigns">
                <div class="col-xs-12 col-sm-2 dash-campaign-title">
                    <!--<h5 style="margin-bottom: 0px;"><a href="/campaign/{{campaign.slug}}">{{campaign.purpose.name}} - {{campaign.formula.name}}</a></h5>-->
                    <h5><a href="/campaign/{{campaign.slug}}" style="color:#4BAEE8;">{{campaign.title}}</a></h5>
                </div>
                <div class="col-xs-12 col-sm-2 dash-campaign-goal">
                    <h5>{{campaign.goal_count}}/{{campaign.goal}}</h5>
                    <p>Sold</p>
                </div>
                <div class="col-xs-12 col-sm-2 dash-campaign-status">
                    <!--<h5 style="margin-bottom: 0px;color:#777;" ng-bind="campaign.status | capitalize"></h5>-->
                    <h5>Draft</h5>
                    <p></p>
                </div>
                <div class="col-xs-12 col-sm-2 dash-na">
                    <h5>N/A</h5>
                </div>
                <div class="col-sm-2 hidden-xs">
                </div>
                <div class="col-xs-12 col-sm-2 campaign-icons">
                    <a ng-click="dash_set('edit',campaign)" style="cursor:pointer;">
                        <span class="glyphicon glyphicon-pencil edit-icon"></span>
                    </a>
                    <a class="delete-alert" onClick="alert('Please contact us at alek@genesus.co to complete the deletion of your campaign!')">
                        <span class="glyphicon glyphicon-trash delete-icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div ng-show="dash_view == 'settings'" id="settings">
            <div class="col-xs-12 col-sm-10 campaign-overview pay-input dash-settings">
                <h2>Change Your Info</h2>
                <div class="col-xs-12 col-sm-4 lil-lil-pad">
                    <label>Name</label>
                    <input class="col-xs-12" type="text" ng-model="profile_data.brand_name">
                </div>
                <div class="col-xs-12 col-sm-4 lil-lil-pad">
                    <label>Instagram</label>
                    <input class="col-xs-12" type="text" placeholder="Instagram Handle Without '@'" ng-model="profile_data.instagram">
                    <h6><small>Make sure your Instagram account is set to public!</small></h6>
                </div>
                <div class="col-xs-12 col-sm-8 lil-lil-pad">
                    <label>Biography</label>
                    <textarea class="col-xs-12" id="text" name="text" ng-model="profile_data.brand_description" maxlength="200"></textarea>
                    <h6 class="pull-right" id="count_message"></h6>
                </div>
                <div class="col-xs-12 col-sm-8 lil-lil-pad dash-location">
                    <label>Location</label>
                    <div class="col-xs-12 col-sm-4 pad-left-0">
                        <input type="text" ng-model="profile_data.brand_city">
                        <small>City</small>
                    </div>
                    <div class="col-xs-12 col-sm-4 pad-left-0">
                        <input type="text" ng-model="profile_data.brand_state">
                        <small>State</small>
                    </div>
                    <div class="col-xs-12 col-sm-4" style="padding-left:0px;">
                        <input type="text" ng-model="profile_data.brand_zip">
                        <small>Zip</small>
                    </div>
                </div>
                <div class="col-xs-12 lil-lil-pad dash-profile-pic">
                    <label>Profile Picture</label>
                    <input accept="image/*" class="inputfile no-border" id="profile-photo" name="file" type="file">
                    <h6><small>*Upload square images for best results.</small></h6>
                    <img ng-src="{{profile_data.old_photo}}">
                </div>
                <div class="col-xs-12 lil-pad text-center lil-pad-bottom">
                    <button class="btn btn-bl btn-sm" ng-click="update_profile(profile_data)">Update</button>
                </div>
            </div>
        </div>
        <div class="dash-payouts" ng-show="dash_view == 'payouts'" id="payouts">
            <h2>Payouts</h2>
            <div class="col-xs-12 col-sm-10 campaign-overview current-payout">
                <h2>Current Payout Amount</h2>
                <div class="col-xs-12 col-sm-4 lil-lil-pad lil-pad-bottom">
                    <h4>Please <a href="contact_us">contact us</a> for your payout.</h4>
                </div>
            </div>
        </div>
        <div ng-show="dash_view == 'edit'" id="edit">
            <div class="col-xs-12 launch-input">
                <div class="col-xs-12 col-sm-10 campaign-overview lil-pad-bottom current-payout">
                    <h2>Campaign {{campaign_data.slug | capitalize}}</h2>
                    <div class="col-xs-12 col-sm-6">
                        <div class="col-xs-12 lil-lil-pad">
                            <label>Product Name</label>
                            <input class="input-width border-rad input-border" type="text" ng-model="campaign_data.title">
                        </div>
                        <div class="col-xs-12 lil-lil-pad">
                            <label>Blurb</label>
                            <textarea class="input-width border-rad input-border" id="text" name="text" maxlength="1500" rows="6" ng-model="campaign_data.blurb"></textarea>
                            <h6 class="pull-right" ng-bind="(1500-campaign_data.blurb.length) + ' characters remaining'"></h6>
                        </div>
                        <div class="col-xs-12 lil-pad text-left lil-pad-bottom">
                            <button class="btn btn-bl btn-sm" ng-click="update_campaign(campaign_data)">Save Changes</button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <center>
                            <img class="img-responsive" ng-src="{{campaign_data.bottle_img}}" alt="Image Of Custom Supplement">
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
