<div class="container-fluid" style="background-color:#F5F7F6;">
    <div class="col-xs-12 col-sm-2 lil-pad dash-style-standard">
        <ul class="nav nav-pills nav-stacked dash-nav lil-pad">
            <li role="presentation" ng-class="{'dash-a' : dash_view == 'campaigns'}" ng-click="dash_set('campaigns')" style="text-align:left;">
                <a> <img src="https://s3-us-west-2.amazonaws.com/tappyn/Campaigns.jpg" style="height:25px;"> Campaigns</a>
            </li>
            <!--<li role="presentation"><a href="#">Payouts</a></li>-->
            <li role="presentation" ng-class="{'dash-a' : dash_view == 'settings'}" ng-click="dash_set('settings')" style="text-align:left;">
                <a><img src="https://s3-us-west-2.amazonaws.com/tappyn/Storefront.jpg" style="height:25px;"> Profile</a>
            </li>
            <li role="presentation" ng-class="{'dash-a' : dash_view == 'payouts'}" ng-click="dash_set('payouts')" style="text-align:left;">
                <a><img src="https://s3-us-west-2.amazonaws.com/tappyn/Payouts.jpg" style="height:25px;"> Payouts</a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-10 lil-pad dash-campaigns dash-style" style="padding-top:50px;">
        <div id="campaigns" ng-show="dash_view == 'campaigns'">
            <div class="alert alert-warning alert-dismissible" role="alert" style="margin-bottom:0px;">
                <button class="close" data-dismiss="alert" type="button">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                Thanks for saving your campaign! We're still developing the buy side of your campaign, so please sit tight and we'll send you an e-mail when your campaigns are ready to go live.
                <br> -Austin (Co-Founder Genesus)
            </div>
            <br>
            <h2 style="font-size:16px;">
              Campaigns
            </h2>
            <div class="col-xs-12 col-sm-10 campaign-overview">
                <h3 style="margin-right:-15px;margin-left:-15px;font-size:16px;padding:10px 0px 10px 25px;color:#777;">
                  Overview
                </h3>
                <hr>
                <div class="col-xs-12 col-sm-4 text-center overview-data">
                    <h4>$0</h4>
                    <h5>Products Ordered</h5>
                </div>
                <div class="col-xs-12 col-sm-4 text-center overview-data">
                    <h4>$0</h4>
                    <h5>Profit</h5>
                </div>
                <div class="col-xs-12 col-sm-4 text-center overview-data">
                    <h4 style="border-right:none;">$0</h4>
                    <h5>To Be Paid</h5>
                </div>
                <div class="col-xs-12 text-center dash-cat" style="padding-bottom:10px;">
                    <div class="col-xs-3 col-sm-2 col-sm-offset-4 dash-bor">
                        <a>Today</a>
                    </div>
                    <div class="col-xs-3 col-sm-2 dash-bor">
                        <a>Yesterday</a>
                    </div>
                    <div class="col-xs-3 col-sm-2 dash-bor">
                        <a>Active</a>
                    </div>
                    <div class="col-xs-3 col-sm-2">
                        <a>All Time</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 campaign-hr" style="padding-bottom:25px;">
                <hr>
            </div>
            <div class="col-xs-12 col-sm-10 campaign-overview text-center" ng-repeat="campaign in campaigns">
                <div class="col-xs-12 col-sm-2 campaign-icons">
                    <!--<h5 style="margin-bottom: 0px;"><a href="/campaign/{{campaign.slug}}">{{campaign.purpose.name}} - {{campaign.formula.name}}</a></h5>-->
                    <h5 style="margin-bottom: 0px;padding-top:7px;float:left;"><a href="/campaign/{{campaign.slug}}">{{campaign.title}}</a></h5>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <h5 style="margin-bottom: 0px;color:#777;padding-top:7px;">{{campaign.goal_count}}/{{campaign.goal}}</h5>
                    <p style="font-size:10px;color:#777;">Sold</p>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <!--<h5 style="margin-bottom: 0px;color:#777;" ng-bind="campaign.status | capitalize"></h5>-->
                    <h5 style="margin-bottom: 0px;color:#777;padding-top:7px;">Draft</h5>
                    <p style="font-size:10px;color:#777;"></p>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <h5 style="color:#777;padding-top:7px;">N/A</h5>
                </div>
                <div class="col-sm-2 hidden-xs">
                </div>
                <div class="col-xs-12 col-sm-2 campaign-icons">
                    <a ng-click="dash_set('edit',campaign)" style="cursor:pointer;">
                        <span class="glyphicon glyphicon-pencil" style="margin-top:10px;padding-top:7px;"></span>
                    </a>
                    <a onClick="alert('Please contact us at alek@genesus.co to complete the deletion of your campaign!')" style="cursor:pointer;">
                        <span class="glyphicon glyphicon-trash" style="padding-top:7px;"></span>
                    </a>
                </div>
            </div>
        </div>
        <div ng-show="dash_view == 'settings'" id="settings">
            <div class="col-xs-12 col-sm-10 campaign-overview pay-input">
                <h2 style="border-bottom:1px solid #ddd;margin-right:-15px;margin-left:-15px;font-size:16px;padding:10px 0px 20px 25px;color:#777;">
                Change Your Info
              </h2>
                <div class="col-xs-12 col-sm-4 lil-lil-pad">
                    <label style="font-weight:400;">Brand / Public Name</label>
                    <input class="col-xs-12" type="text" ng-model="profile_data.brand_name">
                </div>
                <div class="col-xs-12 col-sm-4 lil-lil-pad">
                    <label style="font-weight:400;">Brand / Public Instagram</label>
                    <input class="col-xs-12" type="text" placeholder="Instagram Handle Without '@'" ng-model="profile_data.instagram">
                    <h6><small>Make sure your Instagram account is set to public!</small></h6>
                </div>
                <div class="col-xs-12 col-sm-8 lil-lil-pad">
                    <label style="font-weight:400;">Brand / Personal Biography</label>
                    <textarea class="col-xs-12" id="text" name="text" ng-model="profile_data.brand_description" maxlength="200"></textarea>
                    <h6 class="pull-right" id="count_message"></h6>
                </div>
                <div class="col-xs-12 col-sm-8 lil-lil-pad">
                    <label style="font-weight:400;">Brand Location</label>
                    <div class="col-xs-12 col-sm-4" style="padding-left:0px;">
                        <input type="text" ng-model="profile_data.brand_city">
                        <small style="display:block;font-size:10px;">City</small>
                    </div>
                    <div class="col-xs-12 col-sm-4" style="padding-left:0px;">
                        <input type="text" ng-model="profile_data.brand_state">
                        <small style="display:block;font-size:10px;">State</small>
                    </div>
                    <div class="col-xs-12 col-sm-4" style="padding-left:0px;">
                        <input type="text" ng-model="profile_data.brand_zip">
                        <small style="display:block;font-size:10px;">Zip</small>
                    </div>
                </div>
                <div class="col-xs-12 lil-lil-pad">
                    <label style="font-weight:400;">Brand Profile Picture</label>
                    <input accept="image/*" class="inputfile" id="profile-photo" name="file" type="file" style="border:none;">
                    <h6><small>*Upload square imagages for best results</small></h6>
                    <img ng-src="{{profile_data.old_photo}}" style="max-height:150px;">
                </div>
                <div class="col-xs-12 lil-pad text-center lil-pad-bottom">
                    <button class="btn btn-bl btn-sm" ng-click="update_profile(profile_data)">Update</button>
                </div>
            </div>
        </div>
        <div ng-show="dash_view == 'payouts'" id="payouts">
            <h2 style="font-size:16px;">
            Payouts
          </h2>
            <div class="col-xs-12 col-sm-10 campaign-overview">
                <h2 style="border-bottom:1px solid #ddd;margin-right:-15px;margin-left:-15px;font-size:16px;padding:10px 0px 20px 25px;color:#777;">
                Current Payout Amount
              </h2>
                <div class="col-xs-12 col-sm-4 lil-lil-pad lil-pad-bottom">
                    <h4 style="font-size:14px;">Please <a href="contact_us" style="color:#4BAEE8;">contact us</a> for your payout.</h4>
                </div>
            </div>
        </div>
        <div ng-show="dash_view == 'edit'" id="edit">
            <div class="col-xs-12 launch-input">
                <div class="col-xs-12 col-sm-10 campaign-overview lil-pad-bottom">
                    <h2 style="border-bottom:1px solid #ddd;margin-right:-15px;margin-left:-15px;font-size:16px;padding:10px 0px 20px 25px;color:#777;">
                Campaign {{campaign_data.slug | capitalize}}
              </h2>
                    <div class="col-xs-12 col-sm-6">
                        <div class="col-xs-12 lil-lil-pad">
                            <label style="font-weight:400;">Product Name</label>
                            <input class="input-width border-rad input-border" type="text" ng-model="campaign_data.title">
                        </div>
                        <div class="col-xs-12 lil-lil-pad">
                            <label style="font-weight:400;">Blurb</label>
                            <textarea class="input-width border-rad input-border" id="text" name="text" maxlength="200" rows="6" ng-model="campaign_data.blurb"></textarea>
                            <h6 class="pull-right" ng-bind="(200-campaign_data.blurb.length) + ' remaining'"></h6>
                        </div>
                        <div class="col-xs-12 lil-pad text-center lil-pad-bottom" style="text-align:left;">
                            <button class="btn btn-secondary btn-sm" ng-click="dash_set('campaigns')" style="margin-right:10px;">Cancel</button>
                            <button class="btn btn-bl btn-sm" ng-click="update_campaign(campaign_data)">Save Changes</button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <center>
                            <img class="img-responsive" ng-src="{{campaign_data.bottle_img}}" alt="Image Of Custom Supplement" style="max-height:350px;">
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
