<script src="cfgen-form-2/js/form.js"></script>
<link href="cfgen-form-2/css/form.css" rel="stylesheet" type="text/css">
<div class="container-fluid hidden-sm hidden-md hidden-lg" style="background-color:#37495F;">
	<div class="col-xs-12" style="padding:15px;">
		<h3 style="font-family:'Dosis', sans-serif;color:#fff;">Get an EXTRA 15% OFF your next order. Plus get FREE shipping.</h3>
	</div>
</div>
<div class='container-fluid'>
		<!-- Hero Banner -->
		<section class="hero-bg pad-bottom-200">
			<div class="container hidden-xs" style="margin-left:50px;margin-right:50px;">
			<div class="col-xs-12 col-sm-11 text-left lil-pad">
				<div class="col-xs-12 col-sm-6 col-sm-offset-1">
					<h1 style="font-size:86px;font-family:'Dosis', sans-serif;padding-bottom:35px;color:#fff;">Let your body breathe.</h1>
						<hr style="border-top:5px solid #3AC395;margin-top:10px !important;margin-bottom:10px !important;width:25%;margin-left:0px !important;padding-bottom:25px;">
				</div>
				<div class="col-xs-12 col-sm-8 col-sm-offset-1">
					<div class="hidden-xs col-sm-12 no-pad-left">
					<h3 style="font-weight:400;font-size:32px;line-height:1.3;color:#fff;">Get Organic & Non GMO Versions of Your Favorite Products Delivered to Your Door.</h3>
				</div>
				</div>
				<div class='col-xs-12 col-sm-6 col-sm-offset-2 lil-pad'>
					<a href="/store" target="_self" class="btn btn-bl btn-lg">START SHOPPING</a>
				</div>
				</div>
			</div><!-- Hero Banner End -->
		</section>
		<section class="hidden-xs">
			<div class="row">
				<div class='container home-section-buy' style="padding-bottom:50px;">
					<div class="col-xs-12">
						<div class="col-xs-12 col-sm-4">
							<div class="col-xs-3">
								<h3><img src="/img/Shop_Healthy.jpg" class="img-responsive" style="display:inline;width:100%;"></h3>
							</div>
							<div class="col-xs-9">
								<h3 style="line-height:1.3;">Shop 50 Top Organic & Non GMO health Products.</h3>
								<h4 style="line-height:1.3;">Browse through products you already love - but healthier.</h4>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="col-xs-3">
								<h3><img src="/img/Clinically_Studied.jpg" class="img-responsive" style="display:inline;width:100%;"></h3>
							</div>
							<div class="col-xs-9">
								<h3 style="line-height:1.3;">Curated by clinical studies and sustainable origin.</h3>
								<h4 style="line-height:1.3;">Choose the type of nutrition that you believe in.</h4>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="col-xs-3">
								<h3><img src="/img/Delivered.jpg" class="img-responsive" style="display:inline;width:100%;"></h3>
							</div>
							<div class="col-xs-9">
								<h3 style="line-height:1.3;">Delivered to Your Door.</h3>
								<h4 style="line-height:1.3;">Skip the store: We'll ship it all right to you.</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="hidden-sm hidden-md hidden-lg">
			<div class="row">
				<div class="container-fluid" style="background-color:#F6F3EE;">
					<div class="col-xs-12 text-center lil-pad lil-pad-bottom">
				  <h2 style="color:#777;font-size:34px;font-weight:400;font-family:'Dosis', sans-serif;">LET YOUR BODY BREATHE.</h2>
					<h3 style="color:#777;font-size:24px;font-weight:400;">Now here's what to do next.</h3>
				</div>
				</div>
			</div>
		</section>
		<section class="hidden-xs">
			<div class="row">
				<div class='container-fluid home-section' style="background-color:#F5F2ED;">
					<div class="col-xs-12">
						<div class="col-xs-12 text-center lil-pad lil-pad-bottom">
							<h3 style="font-family:'Dosis', sans-serif;font-size:28px;font-weight:400;margin-top:5px;">SHOP BY YOUR LIFESTYLE</h3>
						</div>
						<div class="col-xs-12 col-sm-4 col-sm-offset-2 text-center lil-pad" style="margin-right:5px;margin-bottom:5px;">
							<a href="/store" target="_self">
								<div class="col-xs-12 train">
									<h4 style="font-family:'Dosis', sans-serif;font-weight:400;padding-top:100px;">TRAIN</h4>
								</div>
							</a>
						</div>
						<div class="col-xs-12 col-sm-4 text-center lil-pad" style="margin-left:5px;margin-bottom:5px;">
							<a href="/store" target="_self">
								<div class="col-xs-12 maintain">
									<h4 style="font-family:'Dosis', sans-serif;font-weight:400;padding-top:100px;">MAINTAIN</h4>
								</div>
							</a>
						</div>
						<div class="col-xs-12 col-sm-4 col-sm-offset-2 text-center lil-pad lil-pad-bottom" style="margin-right:5px;margin-top:5px;">
							<a href="/store" target="_self">
								<div class="col-xs-12 relieve">
									<h4 style="font-family:'Dosis', sans-serif;font-weight:400;padding-top:100px;">RELIEVE</h4>
								</div>
							</a>
						</div>
						<div class="col-xs-12 col-sm-4 text-center lil-pad lil-pad-bottom" style="margin-left:5px;margin-top:5px;">
							<a href="/store" target="_self">
								<div class="col-xs-12 drive">
									<h4 style="font-family:'Dosis', sans-serif;font-weight:400;padding-top:100px;">DRIVE</h4>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="hidden-sm hidden-md hidden-lg">
			<div class="row">
				<div class="container-fluid" style="background-color:#fff;">
				<div class="col-xs-12 text-center">
					<div class="col-xs-12" style="border-bottom:1px solid #ddd;">
						<div class="col-xs-12">
							<h3 style="color:#3AC395;font-family:'Dosis', sans-serif;">EXTRA 15% OFF</h3>
						</div>
						<div class="col-xs-12">
							<h4 style="color:#777;line-height:1.3;font-size:14px;font-weight:400;">Get an extra 20% off your first order. Shop now!</h4>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="col-xs-12">
							<h3 style="color:#3AC395;font-family:'Dosis', sans-serif;">FREE SHIPPING</h3>
						</div>
						<div class="col-xs-12">
							<h4 style="color:#777;line-height:1.3;font-size:14px;font-weight:400;">On your order. No minimum!</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
		<section class="hidden-xs">
			<div class="row lil-pad-bottom">
				<div class="container-fluid home-section">
					<div class="col-xs-12">
						<div class="col-xs-12 text-center lil-pad-bottom lil-pad">
							<h3 style="font-family:'Dosis', sans-serif;font-size:28px;font-weight:400;">GOOD FOR YOU NOW AND IN THE FUTURE</h3>
						</div>
						<div class="col-xs-12 col-sm-4 text-center lil-pad">
							<div class="col-xs-6">
								<center>
								<img src="/img/Muscle_Milk.jpg" class="img-responsive" style="max-width:150px;">
							</center>
								<h4 style="font-size:22px;color:#777;">Conventional</h4>
								<br>
								<h4 style="font-size:18px;color:#777;">Heavy Metals</h4>
								<h4 style="font-size:18px;color:#777;">GMO's</h4>
								<h4 style="font-size:18px;color:#777;">Artificial Ingredients</h4>
							</div>
							<div class="col-xs-6">
								<center>
								<img src="/img/Protein_Home.jpg" class="img-responsive" style="max-width:150px;">
							</center>
								<h4 style="color:#444;font-size:22px;font-weight:400;">Primed Protein</h4>
								<br>
								<h4 style="color:#3AC395;font-size:18px;font-weight:400;">Organic</h4>
								<h4 style="color:#3AC395;font-size:18px;font-weight:400;">Non-GMO</h4>
								<h4 style="color:#3AC395;font-size:18px;font-weight:400;">Natural Ingredients</h4>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 text-center lil-pad">
							<div class="col-xs-6">
								<center>
								<img src="/img/Toner.jpg" class="img-responsive" style="max-width:150px;">
							</center>
								<h4 style="font-size:22px;color:#777;">Conventional</h4>
								<br>
								<h4 style="font-size:18px;color:#777;">Contains Dairy</h4>
								<h4 style="font-size:18px;color:#777;">Preservatives</h4>
								<h4 style="font-size:18px;color:#777;">Artificial Ingredients</h4>
							</div>
							<div class="col-xs-6">
								<center>
								<img src="/img/Toner_Complex_Home (1).jpg" class="img-responsive" style="max-width:150px;">
							</center>
								<h4 style="color:#444;font-size:22px;font-weight:400;">Tone</h4>
								<br>
								<h4 style="color:#3AC395;font-size:18px;font-weight:400;">Gluten Free</h4>
								<h4 style="color:#3AC395;font-size:18px;font-weight:400;">No-Preservatives</h4>
								<h4 style="color:#3AC395;font-size:18px;font-weight:400;">All Natural</h4>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 text-center lil-pad">
							<div class="col-xs-6">
								<center>
								<img src="/img/NatureMade_Cranberry.jpg" class="img-responsive" style="max-width:150px;">
							</center>
								<h4 style="font-size:22px;color:#777;">Conventional</h4>
								<br>
								<h4 style="font-size:18px;color:#777;">Contains Soy</h4>
								<h4 style="font-size:18px;color:#777;">Contains Gluten</h4>
								<h4 style="font-size:18px;color:#777;">Artificial Colors</h4>
							</div>
							<div class="col-xs-6">
								<center>
								<img src="/img/Cramberry.jpg" class="img-responsive" style="max-width:150px;">
							</center>
								<h4 style="color:#444;font-size:22px;font-weight:400;">Cranberry</h4>
								<br>
								<h4 style="color:#3AC395;font-size:18px;font-weight:400;">Organic</h4>
								<h4 style="color:#3AC395;font-size:18px;font-weight:400;">Gluten Free</h4>
								<h4 style="color:#3AC395;font-size:18px;font-weight:400;">No Artificial Colors</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="hidden-xs">
			<div class="row">
				<div class="container-fluid lil-pad-bottom" style="background-color:#F5F2ED;">
					<div class="col-xs-12">
						<div class="col-xs-12 text-center lil-pad-bottom lil-pad">
							<h3 style="font-family:'Dosis', sans-serif;font-size:28px;font-weight:400;">SHOP BY YOUR VALUES</h3>
						</div>
						<div class="col-xs-12 lil-pad-bottom" ng-repeat="purpose in purposes|limitTo:1">
							<div class="col-xs-12 col-sm-3" ng-repeat="formula in purpose.formulas|limitTo:4" style="border:1px solid #eee;border-radius:4px;padding-bottom:15px;cursor:default;display:inline;background-color:#fff;">
								<div class="col-xs-12" style="padding-top:15px;">
									<center>
										<a ng-if="formula.name == 'Supergreens Complex'" href="http://genesus.co/campaign/supergreens-complex" target="_self">
											<img class="img-responsive" style="max-height:150px;height:150px;" ng-src="{{add_label_path(formula)}}">
										</a>
										<a ng-if="formula.name == 'Burner Complex'" href="http://genesus.co/campaign/burner-complex" target="_self">
											<img class="img-responsive" style="max-height:150px;height:150px;" ng-src="{{add_label_path(formula)}}">
										</a>
										<a ng-if="formula.name == 'Toner Complex'" href="http://genesus.co/campaign/toner-complex" target="_self">
											<img class="img-responsive" style="max-height:150px;height:150px;" ng-src="{{add_label_path(formula)}}">
										</a>
										<a ng-if="formula.name == 'Primal Whey'" href="http://genesus.co/campaign/primal-whey" target="_self">
											<img class="img-responsive" style="max-height:150px;height:150px;" ng-src="{{add_label_path(formula)}}">
										</a>
									</center>
								</div>
								<div class="col-xs-12 text-center">
								<h3 style="font-size:18px;margin-bottom:5px;">{{formula.name}}</h3>
								<h5 style="margin-bottom:0px;margin-top:0px;color:#777;">{{formula.servings}} Servings</h5>
								<center>
									<img src="/img/stars.jpg" class="img-responsive" style="max-height:30px;height:30px;margin-top:0px;">
								</center>
								<!--<h5 style="color:#777;" ng-bind="formula.description"></h5>-->
							</div>
							<div class="col-xs-12 text-center" style="text-transform:uppercase;">
								<span ng-show="formula.benefit_1" style="display:inline;font-size:10px;font-weight:600;">{{formula.benefit_1}}</span>
								<span ng-show="formula.benefit_2" style="display:inline;font-size:10px;font-weight:600;">&#8226 {{formula.benefit_2}}</span>
								<span ng-show="formula.benefit_3" style="display:inline;font-size:10px;font-weight:600;">&#8226 {{formula.benefit_3}}</span>
							</div>
							<div class="col-xs-12 text-center lil-pad-bottom">
								<span style="color:#777;font-size:14px;text-decoration:line-through;">{{formula.recommended_price | currency}}</span>
								<span style="color:#3AC395;font-size:16px;">{{formula.cost30 | currency}}</span>
								<span style="color:#3AC395;font-size:16px;">(Save {{formula.margin}}%)</span>
							</div>
							<div class="col-xs-12 text-center">
								<a ng-if="formula.name == 'Green Tea'" href="http://genesus.co/campaign/green-tea" target="_self" class="btn btn-bl btn-sm">BUY IT</a>
								<a ng-if="formula.name == 'Raspberry Ketones'" href="http://genesus.co/campaign/raspberry-ketones" target="_self" class="btn btn-bl btn-sm">BUY IT</a>
								<a ng-if="formula.name == 'Toner Complex'" href="http://genesus.co/campaign/toner-complex" target="_self" class="btn btn-bl btn-sm">BUY IT</a>
								<a ng-if="formula.name == 'Burner Complex'" href="http://genesus.co/campaign/burner-complex" target="_self" class="btn btn-bl btn-sm">BUY IT</a>
								<a ng-if="formula.name == 'Turmeric Complex'" href="http://genesus.co/campaign/turmeric-complex" target="_self" class="btn btn-bl btn-sm">BUY IT</a>
								<a ng-if="formula.name == 'Nootropic Complex'" href="http://genesus.co/campaign/nootropic" target="_self" class="btn btn-bl btn-sm">BUY IT</a>
								<a ng-if="formula.name == 'Fiber Complex'" href="http://genesus.co/campaign/fiber-complex" target="_self" class="btn btn-bl btn-sm">BUY IT</a>
								<a ng-if="formula.name == 'Supergreens Complex'" href="http://genesus.co/campaign/supergreens-complex" target="_self" class="btn btn-bl btn-sm">BUY IT</a>
								<a ng-if="formula.name == 'Probiotic Complex'" href="http://genesus.co/campaign/probiotic-complex" target="_self" class="btn btn-bl btn-sm">BUY IT</a>
								<a ng-if="formula.name == 'Cranberry'" href="http://genesus.co/campaign/cranberry" target="_self" class="btn btn-bl btn-sm">BUY IT</a>
								<a ng-if="formula.name == 'GABA Complex'" href="http://genesus.co/campaign/sleep-complex" target="_self" class="btn btn-bl btn-sm">BUY IT</a>
								<a ng-if="formula.name == 'Mushroom Complex'" href="http://genesus.co/campaign/mushroom-complex" target="_self" class="btn btn-bl btn-sm">BUY IT</a>
								<a ng-if="formula.name == 'Primal Whey'" href="http://genesus.co/campaign/primal-whey" target="_self" class="btn btn-bl btn-sm">BUY IT</a>
								<a ng-if="formula.name == 'CLA'" href="http://genesus.co/campaign/cla" target="_self" class="btn btn-bl btn-sm">BUY IT</a>
							</div>
					</div>
					<div class="col-xs-12">
						<h4 class="pull-right"><a href="/store" target="_self" style="font-size: 22px;font-weight: 400;color: #3AC395;text-decoration:none;">See More<span aria-hidden="true" class="glyphicon glyphicon-arrow-right home-arrow"></span></a></h4>
					</div>
				</div>
			</div>
		</section>
		<section class="hidden-sm hidden-md hidden-lg">
			<div class="row">
				<div class="container-fluid lil-pad-bottom" style="background-color:#F5F2ED;">
					<div class="col-xs-12">
						<div class="col-xs-12 text-center lil-pad-bottom lil-pad">
							<h3 style="font-family:'Dosis', sans-serif;font-size:28px;font-weight:400;">TOP NON GMO SELLERS</h3>
						</div>
						<div class="col-xs-12 lil-pad-bottom" ng-repeat="purpose in purposes">
							<div class="col-xs-12 no-pad-left">
								<h2 style="font-family:'Dosis', sans-serif;font-size:24px;">{{purpose.name}}</h2>
							</div>
							<div class="col-xs-6 col-sm-3" ng-repeat="formula in purpose.formulas" style="border:1px solid #eee;border-radius:4px;padding-bottom:15px;cursor:default;display:inline;background-color:#fff;">
								<div class="col-xs-12" style="padding-top:15px;">
									<center>
										<a ng-if="formula.name == 'Green Tea'" href="http://genesus.co/campaign/green-tea" target="_self">
											<img class="img-responsive" style="max-height:150px;height:75px;" ng-src="{{add_label_path(formula)}}">
										</a>
										<a ng-if="formula.name == 'Raspberry Ketones'" href="http://genesus.co/campaign/raspberry-ketones" target="_self">
											<img class="img-responsive" style="max-height:150px;height:75px;" ng-src="{{add_label_path(formula)}}">
										</a>
										<a ng-if="formula.name == 'Toner Complex'" href="http://genesus.co/campaign/toner-complex" target="_self">
											<img class="img-responsive" style="max-height:150px;height:75px;" ng-src="{{add_label_path(formula)}}">
										</a>
										<a ng-if="formula.name == 'Burner Complex'" href="http://genesus.co/campaign/burner-complex" target="_self">
											<img class="img-responsive" style="max-height:150px;height:75px;" ng-src="{{add_label_path(formula)}}">
										</a>
										<a ng-if="formula.name == 'Turmeric Complex'" href="http://genesus.co/campaign/turmeric-complex" target="_self">
											<img class="img-responsive" style="max-height:150px;height:75px;" ng-src="{{add_label_path(formula)}}">
										</a>
										<a ng-if="formula.name == 'Nootropic Complex'" href="http://genesus.co/campaign/nootropic" target="_self">
											<img class="img-responsive" style="max-height:150px;height:75px;" ng-src="{{add_label_path(formula)}}">
										</a>
										<a ng-if="formula.name == 'Fiber Complex'" href="http://genesus.co/campaign/fiber-complex" target="_self">
											<img class="img-responsive" style="max-height:150px;height:75px;" ng-src="{{add_label_path(formula)}}">
										</a>
										<a ng-if="formula.name == 'Supergreens Complex'" href="http://genesus.co/campaign/supergreens-complex" target="_self">
											<img class="img-responsive" style="max-height:150px;height:75px;" ng-src="{{add_label_path(formula)}}">
										</a>
										<a ng-if="formula.name == 'Probiotic Complex'" href="http://genesus.co/campaign/probiotic-complex" target="_self">
											<img class="img-responsive" style="max-height:150px;height:75px;" ng-src="{{add_label_path(formula)}}">
										</a>
										<a ng-if="formula.name == 'Cranberry'" href="http://genesus.co/campaign/cranberry" target="_self">
											<img class="img-responsive" style="max-height:150px;height:75px;" ng-src="{{add_label_path(formula)}}">
										</a>
										<a ng-if="formula.name == 'GABA Complex'" href="http://genesus.co/campaign/sleep-complex" target="_self">
											<img class="img-responsive" style="max-height:150px;height:75px;" ng-src="{{add_label_path(formula)}}">
										</a>
										<a ng-if="formula.name == 'Mushroom Complex'" href="http://genesus.co/campaign/mushroom-complex" target="_self">
											<img class="img-responsive" style="max-height:150px;height:75px;" ng-src="{{add_label_path(formula)}}">
										</a>
										<a ng-if="formula.name == 'Primal Whey'" href="http://genesus.co/campaign/primal-whey" target="_self">
											<img class="img-responsive" style="max-height:150px;height:75px;" ng-src="{{add_label_path(formula)}}">
										</a>
										<a ng-if="formula.name == 'CLA'" href="http://genesus.co/campaign/cla" target="_self">
											<img class="img-responsive" style="max-height:150px;height:75px;" ng-src="{{add_label_path(formula)}}">
										</a>
									</center>
								</div>
								<div class="col-xs-12 text-center">
								<h3 style="font-size:18px;margin-bottom:5px;height:38px;">{{formula.name}}</h3>
								<h5 style="margin-bottom:0px;margin-top:0px;color:#777;">{{formula.servings}} Servings</h5>
								<center>
									<img src="/img/stars.jpg" class="img-responsive" style="max-height:30px;height:30px;margin-top:0px;">
								</center>
								<!--<h5 style="color:#777;" ng-bind="formula.description"></h5>-->
							</div>
							<div class="col-xs-12 text-center" style="text-transform:uppercase;height:60px;">
								<span ng-show="formula.benefit_1" style="display:inline;font-size:10px;font-weight:600;">{{formula.benefit_1}}</span>
								<span ng-show="formula.benefit_2" style="display:inline;font-size:10px;font-weight:600;">&#8226 {{formula.benefit_2}}</span>
								<span ng-show="formula.benefit_3" style="display:inline;font-size:10px;font-weight:600;">&#8226 {{formula.benefit_3}}</span>
							</div>
							<div class="col-xs-12 text-center lil-pad-bottom">
								<span style="color:#777;font-size:14px;text-decoration:line-through;">{{formula.recommended_price | currency}}</span>
								<span style="color:#3AC395;font-size:16px;">{{formula.cost30 | currency}}</span>
								<span style="color:#3AC395;font-size:16px;">(Save {{formula.margin}}%)</span>
							</div>
							<div class="col-xs-12 text-center">
								<a ng-if="formula.name == 'Green Tea'" href="http://genesus.co/campaign/green-tea" target="_self" class="btn btn-bl-sm btn-sm">BUY IT</a>
								<a ng-if="formula.name == 'Raspberry Ketones'" href="http://genesus.co/campaign/raspberry-ketones" target="_self" class="btn btn-bl-sm btn-sm">BUY IT</a>
								<a ng-if="formula.name == 'Toner Complex'" href="http://genesus.co/campaign/toner-complex" target="_self" class="btn btn-bl-sm  tn-sm">BUY IT</a>
								<a ng-if="formula.name == 'Burner Complex'" href="http://genesus.co/campaign/burner-complex" target="_self" class="btn btn-bl-sm btn-sm">BUY IT</a>
								<a ng-if="formula.name == 'Turmeric Complex'" href="http://genesus.co/campaign/turmeric-complex" target="_self" class="btn btn-bl-sm btn-sm">BUY IT</a>
								<a ng-if="formula.name == 'Nootropic Complex'" href="http://genesus.co/campaign/nootropic" target="_self" class="btn btn-bl-sm btn-sm">BUY IT</a>
								<a ng-if="formula.name == 'Fiber Complex'" href="http://genesus.co/campaign/fiber-complex" target="_self" class="btn btn-bl-sm btn-sm">BUY IT</a>
								<a ng-if="formula.name == 'Supergreens Complex'" href="http://genesus.co/campaign/supergreens-complex" target="_self" class="btn btn-bl-sm btn-sm">BUY IT</a>
								<a ng-if="formula.name == 'Probiotic Complex'" href="http://genesus.co/campaign/probiotic-complex" target="_self" class="btn btn-bl-sm btn-sm">BUY IT</a>
								<a ng-if="formula.name == 'Cranberry'" href="http://genesus.co/campaign/cranberry" target="_self" class="btn btn-bl-sm btn-sm">BUY IT</a>
								<a ng-if="formula.name == 'GABA Complex'" href="http://genesus.co/campaign/sleep-complex" target="_self" class="btn btn-bl-sm btn-sm">BUY IT</a>
								<a ng-if="formula.name == 'Mushroom Complex'" href="http://genesus.co/campaign/mushroom-complex" target="_self" class="btn btn-bl-sm btn-sm">BUY IT</a>
								<a ng-if="formula.name == 'Primal Whey'" href="http://genesus.co/campaign/primal-whey" target="_self" class="btn btn-bl-sm btn-sm">BUY IT</a>
								<a ng-if="formula.name == 'CLA'" href="http://genesus.co/campaign/cla" target="_self" class="btn btn-bl-sm btn-sm">BUY IT</a>
							</div>
					</div>

				</div>
			</div>
			<div class="col-xs-12">
				<h4 class="pull-right"><a href="/store" target="_self" style="font-size: 22px;font-weight: 400;color: #3AC395;text-decoration:none;">See More<span aria-hidden="true" class="glyphicon glyphicon-arrow-right home-arrow"></span></a></h4>
			</div>
		</section>
			<section class="hidden-xs">
				<div class="row lil-pad-bottom">
					<div class="container home-section">
						<div class="col-xs-12">
							<div class="col-xs-12 text-center lil-pad-bottom lil-pad">
								<h3 style="font-family:'Dosis', sans-serif;font-size:28px;font-weight:400;">MILLIONS OF PEOPLE LOVE GENESUS</h3>
							</div>
							<div class="col-xs-12 col-sm-4">
								<div class="col-xs-12">
									<center>
									<img src="/img/Healthy_Eaters.jpg" class="img-responsive" style="max-width:300px;border-radius:4px;">
								</center>
									<h3 style="font-size:24px;font-weight:400;">Healthy Eaters</h3>
									<h4 style="color:#777;line-height:1.3;">Whether you're looking for gluten free products or Non GMO, you'll find it all here much easier.</h4>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4">
								<div class="col-xs-12">
									<center>
									<img src="/img/Aware_Atheletes.jpg" class="img-responsive" style="max-width:300px;border-radius:4px;">
								</center>
									<h3 style="font-size:24px;font-weight:400;">Aware Athletes</h3>
									<h4 style="color:#777;line-height:1.3;">Find high-quality ingredients and inspiring, new ways to optimize your exercise.</h4>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4">
								<div class="col-xs-12">
									<center>
									<img src="/img/Busy_Professionals.jpg" class="img-responsive" style="max-width:300px;border-radius:4px;">
								</center>
									<h3 style="font-size:24px;font-weight:400;">Busy Professionals</h3>
									<h4 style="color:#777;line-height:1.3;">Got your hands full? We got you. Shop, save, and get back to what's most important.</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="hidden-xs">
				<div class="row">
					<div class="container-fluid lil-pad-bottom" style="background-color:#F5F2ED;">
						<div class="col-xs-12">
							<div class="col-xs-12 text-center lil-pad">
								<h3 stle="font-size:28px;font-weight:400;">Ready to get started?</h3>
							</div>
							<div class="col-xs-12 text-center">
								<h2 style="color:#3AC395;font-size:46px;font-family:'Dosis', sans-serif;">TRY GENESUS TODAY</h2>
							</div>
							<div class='col-xs-12 lil-pad text-center lil-pad-bottom'>
								<a href="/store" target="_self" class="btn btn-bl btn-lg">START SHOPPING</a>
							</div>
						</div>
					</div>
				</div>
			</section>
    <!-- Hero Banner -->
    <!--<section class="footer-banner">
			<center>
				<img alt="Genesus Companies" class="img-responsive" src="https://s3-us-west-2.amazonaws.com/tappyn/foot-note.jpg">
			</center>
		</section>-->
</div>
