<div class='container-fluid'>
    <div class="col-xs-12 up-down-pad">
        <div class="col-xs-12 col-sm-7 col-sm-offset-1">
            <span class="step-default" ng-class="{ 'launch-current-step' : launch_step_create() }"><span class="step-number-default" ng-class="{ 'step-number' : launch_step_create() }">1</span> Create</span>
            <span class="step-default" ng-class="{ 'launch-current-step' : launch_step_goal() }"><span class="step-number-default" ng-class="{ 'step-number' : launch_step_goal() }">2</span> Set a goal</span>
            <span class="step-default" ng-class="{ 'launch-current-step' : launch_step_desc() }"><span class="step-number-default" ng-class="{ 'step-number' : launch_step_desc() }">3</span> Add a description</span>
        </div>
        <div class="col-xs-12 col-sm-3">
            <span class="step-default">
                <a ng-click="save_draft()">
                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save
                </a>
            </span>
        </div>
    </div>
    <!--{{campaign_data}}-->
    <div class="col-xs-12 lil-pad launch-main">
        <div class="col-xs-12 col-sm-3 step1_1" ng-show="launch_step_create()">
            <!-- step create-->
            <div class="launch-step-create">
                <form name="outerForm" class="tab-form-demo">
                    <uib-tabset active="activeForm" class="tabl-link">
                        <uib-tab index="0" heading="Text">
                            <ng-form name="nestedForm">
                                <div class="form-group lil-lil-pad">
                                    <label>Enter text below</label>
                                    <input class="input-width" type="text" placeholder="Add your text here" ng-model="campaign_data.name">
                                </div>
                                <div class="form-group">
                                    <label>Chose a font</label>
                                    <select class="tab-select" ng-model="campaign_data.font" ng-change="refresh_bottle()">
                                        <option ng-repeat="font in fonts" ng-value="font.value" ng-bind="font.name"></option>
                                    </select>
                                    <input type="color" list="colors-font" ng-model="campaign_data.font_color" />
                                    <datalist id="colors-font">
                                        <option>#ff0000</option>
                                        <option>#ff7700</option>
                                        <option>#C0C0C0</option>
                                        <option>#808080</option>
                                        <option>#000000</option>
                                        <option>#FFFF00</option>
                                        <option>#800080</option>
                                        <option>#FF00FF</option>
                                        <option>#0000FF</option>
                                        <option>#000080</option>
                                    </datalist>
                                </div>
                            </ng-form>
                        </uib-tab>
                        <uib-tab index="1" heading="Art">
                             <input type="file" ng-file-select="amazon_upload($files,'art')" accept="image/*" />
                        </uib-tab>
                    </uib-tabset>
                </form>
            </div>
        </div>
        <!-- END step create-->
        <!-- step goal-->
        <div class="col-xs-12 col-sm-3 col-sm-offset-1" ng-show="launch_step_goal()">
        <div class="launch-step-goal">
        <div class="col-xs-12 no-pad-left">
            <label>Sales goal</label>
                <input id="salesgoal" list="steplist" class="range-slide" value="30" onchange="rangevalue.value=value" type="range" min="0" max="100" step="1" ng-model="campaign_data.goal">

                <datalist id="steplist">

    <option>0</option>
    <option>25</option>
    <option>50</option>
    <option>75</option>
    <option>100</option>
</datalist>
</div>
<div class="col-xs-12 col-sm-6 tab-content-style">
    <div class="col-xs-8 tab-content-rad">
        <label># of units</label>
    </div>
<div class="col-xs-4 goal-output">
                <input type="number" id="rangevalue" ng-model="campaign_data.units" placeholder="30"></input>
            </div>
        </div>
        <div class="col-xs-12 min-width-2 no-pad-left">
            <h4 class="grey-info">Your goal is the number of units you're aiming to sell, but we'll print your campaign as long
            as you sell enough to generate profit.</h4>
        </div>
        <div class="col-xs-12 no-pad-left min-width-2">
            <label>Your Estimated Profit:</label>
            <h3>$811+</h3>
        </div>
        <div class="col-xs-12 no-pad-left lil-pad">
            <label>Supplement Options</label>
            <hr class="bor-bot">
        </div>
        <div class="col-xs-12 no-pad-left">
            <div class="tab-content-1 col-xs-12">
                <label>Bottle (30 Servings, 60 Capsules)</label>
                <div class="col-xs-12">
                <p>$9.41 profit/sale</p>
            </div>
            <div class="col-xs-12">
                <input class="input-width" type="number" ng-model="campaign_data.sale_price">
            </div>
            </div>
        </div>
        <div class="col-xs-12 no-pad-left">
            <div class="tab-content-1 col-xs-12">
                <label>Proprietary Blend</label>
                <div class="col-xs-12">
                <p>You can name your custom blend to prevent copying of your formula</p>
            </div>
            <div class="col-xs-12">
                <input class="input-width" type="text" placeholder="Add your text here" ng-model="campaign_data.blend_name">
            </div>
            </div>
        </div>
        </div>
    </div>
        <!-- END step goal-->
        <!-- step desc-->
        <div class="col-xs-12 col-sm-3 col-sm-offset-1" ng-show="launch_step_desc()">
        <div class="col-xs-12 launch-step-desc">
            <div class="col-xs-12 lil-pad-bottom">
            <label>Campaign title</label>
            <h4 class="grey-info-2">Summarize your campaign in 40 characters or less.</h4>
                <input class="input-width" type="text" placeholder="" ng-model="campaign_data.title">
            </div>
            <div class="col-xs-12 lil-pad-bottom">
            <label>Description</label>
                <textarea class="input-width" ng-model="campaign_data.description"></textarea>
            </div>
            <div class="col-xs-12 lil-pad-bottom">
            <label>Campaign length</label>
            <h4 class="grey-info-2">U.S. orders will arrive 10-14 days after the end of the campagin.
            <span><a>Learn More</a></span></h4>
                <select class="input-width" ng-model="campaign_data.font">
                    <option value="3">3 days</option>
                    <option value="4">4 days</option>
                    <option value="5">5 days</option>
                    <option value="6">7 days</option>
                </select>
            </div>
            <div class="col-xs-12">
            <label>Url</label>
            <h4 class="grey-info-2">This is where you'll send buyers to view your campaign.</h4>
                <input class="input-width" type="text" ng-model="campaign_data.url">
            </div>
            <div class="col-xs-12 lil-pad text-center">
            <a class="btn btn-wj btn-lg" ng-click="submit_campaign(campaign_data)">Launch</a>
        </div>
        </div>
    </div>
        <!-- END step desc-->
        <div id="bottle-div" class="col-xs-12 col-sm-6">
            <center class="bottle-out">
                <img class="img-responsive design-img" src="https://s3-us-west-2.amazonaws.com/tappyn/Bottle.jpg" alt="Create your own supplement">
                <div class="bottle-art" ng-show="campaign_data.art"><img ng-src="{{campaign_data.art}}"></div>
                <div class="bottle-text" ng-show="campaign_data.name" ng-bind="campaign_data.name"></div>
            </center>
            <div class="col-xs-12 text-center">
                <div class="col-xs-12 btn-group-1">
                    <label class="btn btn-primary-1" ng-model="checkModel.front" uib-btn-checkbox>Label</label>
                    <label class="btn btn-primary-1" ng-model="checkModel.back" uib-btn-checkbox>Formula</label>
                </div>
            <div class="col-xs-12" ng-show="launch_step_goal()">
                <a class="btn btn-wj btn-sm" ng-click="set_step('desc')">Continue</a>
            </div>
        </div>
    </div>
        <div class="col-xs-12 col-sm-3 tab-content-1 step1_2" ng-show="launch_step_create()">
            <!-- step create-->
            <div class="launch-step-create" >
                <div class="form-group lil-lil-pad">
                    <label>Purpose</label>
                    <select class="tab-select input-width" ng-model="campaign_data.purpose">
                        <option value="Weight Management">Weight Management</option>
                        <option value="Wellness">Wellness</option>
                        <option value="Strength">Strength</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Formula</label>
                    <select class="tab-select input-width" ng-model="campaign_data.formula">
                        <option ng-show="campaign_data.purpose =='Weight Management'" value="Green Coffee Bean Extract">Green Coffee Bean Extract</option>
                        <option ng-show="campaign_data.purpose =='Weight Management'" value="Raspberry Ketone Burner">Raspberry Ketone Burner</option>
                        <option ng-show="campaign_data.purpose =='Weight Management'" value="Garcinia Cambogia">Garcinia Cambogia (60% Standardized)</option>
                        <option ng-show="campaign_data.purpose =='Weight Management'" value="Safflower Oil">Safflower Oil (CLA)</option>
                        <option ng-show="campaign_data.purpose =='Weight Management'" value="African Mango Cleanse">African Mango Cleanse</option>
                        <option ng-show="campaign_data.purpose =='Weight Management'" value="Rasberry Ketone Cleanse">Rasberry Ketone Cleanse</option>
                        <option ng-show="campaign_data.purpose =='Weight Management'" value="GABA Sleep Aid">GABA Sleep Aid</option>

                        <option ng-show="campaign_data.purpose =='Wellness'" value="Probiotic 1150">Probiotic 1150</option>
                        <option ng-show="campaign_data.purpose =='Wellness'" value="Omega-3">Omega-3 from Chile </option>
                        <option ng-show="campaign_data.purpose =='Wellness'" value="Krill Oil">Krill Oil</option>
                        <option ng-show="campaign_data.purpose =='Wellness'" value="One Tab Daily">One Tab Daily</option>
                        <option ng-show="campaign_data.purpose =='Wellness'" value="Multivitamin 2000">Multivitamin 2000</option>
                        <option ng-show="campaign_data.purpose =='Wellness'" value="Multivatmin 2400">Multivatmin 2400</option>
                        <option ng-show="campaign_data.purpose =='Wellness'" value="Whole Foods Mutli">Whole Foods Mutli</option>
                        <option ng-show="campaign_data.purpose =='Wellness'" value="Life's Vitality Mutli">Life's Vitality Mutli</option>
                        <option ng-show="campaign_data.purpose =='Wellness'" value="Turmeric Complex with Bioperine">Turmeric Complex with Bioperine</option>
                        <option ng-show="campaign_data.purpose =='Wellness'" value="Sleep Formula 786">Vitamin C</option>
                        <option ng-show="campaign_data.purpose =='Wellness'" value="Sleep Formula 786">Calcium</option>
                        <option ng-show="campaign_data.purpose =='Wellness'" value="Sleep Formula 786">B Complex</option>

                        <option ng-show="campaign_data.purpose =='Strength'" value="L-Glutamine">L-Glutamine</option>
                        <option ng-show="campaign_data.purpose =='Strength'" value="L-Arginine">L-Arginine</option>
                        <option ng-show="campaign_data.purpose =='Strength'" value="L-Carnitine">L-Carnitine (Tartrate)</option>
                        <option ng-show="campaign_data.purpose =='Strength'" value="Ginger Root">Ginger Root </option>
                        <option ng-show="campaign_data.purpose =='Strength'" value="Ginsing Complex">Ginsing Complex</option>
                        <option ng-show="campaign_data.purpose =='Strength'" value="Nitro Pump">Nitro Pump</option>
                        <option ng-show="campaign_data.purpose =='Strength'" value="Creatine Monohydrate (700)">Creatine Monohydrate (700)</option>
                        <option ng-show="campaign_data.purpose =='Strength'" value="Creatine Monohydrate (2500)">Creatine Monohydrate (2500)</option>

                    </select>
                </div>
                <div ng-show="campaign_data.formula">
                    <div class="ingredients">
                        <div class="CLA_1" ng-if="campaign_data.formula == 'Green Coffee Bean Extract'">
                            <h4>Green Coffee Bean Extract</h4>
                            <h5>Weight Loss &#183 Energy</h5>
                            <h5>800 mg</h5>
                        </div>

                        <div class="CLA_1" ng-if="campaign_data.formula == 'Raspberry Ketone Burner'">
                            <h4>Raspberry Ketones</h4>
                            <h5>Weight Loss &#183 Energy</h5>
                            <h5>600 mg</h5>
                        </div>
                        <div class="CLA_1" ng-if="campaign_data.formula == 'Raspberry Ketone Burner'">
                            <h4>African Mango</h4>
                            <h5>Weight Loss &#183 Energy</h5>
                            <h5>--</h5>
                        </div>
                        <div class="CLA_1" ng-if="campaign_data.formula == 'Raspberry Ketone Burner'">
                            <h4>Acai Fruit</h4>
                            <h5>Weight Loss &#183 Energy</h5>
                            <h5>--</h5>
                        </div>
                        <div class="CLA_1" ng-if="campaign_data.formula == 'Raspberry Ketone Burner'">
                            <h4>Green Tea</h4>
                            <h5>Weight Loss &#183 Energy</h5>
                            <h5>--</h5>
                        </div>
                        <div class="CLA_1" ng-if="campaign_data.formula == 'Raspberry Ketone Burner'">
                            <h4>Resveratrol</h4>
                            <h5>Weight Loss &#183 Energy</h5>
                            <h5>--</h5>
                        </div>
                        <div class="CLA_1" ng-if="campaign_data.formula == 'Raspberry Ketone Burner'">
                            <h4>Kelp</h4>
                            <h5>Weight Loss &#183 Energy</h5>
                            <h5>--</h5>
                        </div>

                        <div class="CLA_1" ng-if="campaign_data.formula == 'Garcinia Cambogia'">
                            <h4>Potassium</h4>
                            <h5>Weight Loss &#183 Energy</h5>
                            <h5>50 mg</h5>
                        </div>
                        <div class="CLA_1" ng-if="campaign_data.formula == 'Garcinia Cambogia'">
                            <h4>Calcium</h4>
                            <h5>Weight Loss &#183 Energy</h5>
                            <h5>50 mg</h5>
                        </div>
                        <div class="CLA_1" ng-if="campaign_data.formula == 'Garcinia Cambogia'">
                            <h4>Calcium</h4>
                            <h5>Weight Loss &#183 Energy</h5>
                            <h5>200 mcg</h5>
                        </div>
                        <div class="CLA_1" ng-if="campaign_data.formula == 'Garcinia Cambogia'">
                            <h4>Garcinia Cambogia</h4>
                            <h5>Weight Loss &#183 Energy</h5>
                            <h5>1000 mg</h5>
                        </div>

                        <div class="CLA_1" ng-if="campaign_data.formula == 'Safflower Oil'">
                            <h4>CLA</h4>
                            <h5>Weight Loss &#183 Energy</h5>
                            <h5>1000 mg</h5>
                        </div>

                        <div class="CLA_1" ng-if="campaign_data.formula == 'African Mango Cleanse'">
                            <h4>African Mango</h4>
                            <h5>Weight Loss &#183 Energy</h5>
                            <h5>800 mg</h5>
                        </div>
                        <div class="CLA_1" ng-if="campaign_data.formula == 'African Mango Cleanse'">
                            <h4>Flax Seed</h4>
                            <h5>Weight Loss &#183 Energy</h5>
                            <h5>--</h5>
                        </div>
                        <div class="CLA_1" ng-if="campaign_data.formula == 'African Mango Cleanse'">
                            <h4>Oat Bran</h4>
                            <h5>Weight Loss &#183 Energy</h5>
                            <h5>--</h5>
                        </div>
                        <div class="CLA_1" ng-if="campaign_data.formula == 'African Mango Cleanse'">
                            <h4>Cayenne Pepper</h4>
                            <h5>Weight Loss &#183 Energy</h5>
                            <h5>--</h5>
                        </div>
                        <div class="CLA_1" ng-if="campaign_data.formula == 'African Mango Cleanse'">
                            <h4>Licorice</h4>
                            <h5>Weight Loss &#183 Energy</h5>
                            <h5>--</h5>
                        </div>
                        <div class="CLA_1" ng-if="campaign_data.formula == 'African Mango Cleanse'">
                            <h4>Ginger</h4>
                            <h5>Weight Loss &#183 Energy</h5>
                            <h5>--</h5>
                        </div>
                        <div class="CLA_1" ng-if="campaign_data.formula == 'African Mango Cleanse'">
                            <h4>Prune Juice</h4>
                            <h5>Weight Loss &#183 Energy</h5>
                            <h5>--</h5>
                        </div>
                        <div class="CLA_1" ng-if="campaign_data.formula == 'African Mango Cleanse'">
                            <h4>Aloe Vera</h4>
                            <h5>Weight Loss &#183 Energy</h5>
                            <h5>--</h5>
                        </div>
                        <div class="CLA_1" ng-if="campaign_data.formula == 'African Mango Cleanse'">
                            <h4>Golden Seal</h4>
                            <h5>Weight Loss &#183 Energy</h5>
                            <h5>--</h5>
                        </div>
                    </div>
                    <div class="ing-ex text-center">
                        <h5>All quantities per serving.</h5>
                        <h3>Base Cost @ 30 Bottles:</h3>
                        <h2>$5.75</h2>
                    </div>
                </div>
            </div>
            <div class="lil-pad">
                <center>
                    <a class='btn btn-wj btn-sm' ng-click="set_step('goal')">Continue</a>
                </center>
            </div>
        </div>
    </div>
</div>
