<div class="container-fluid navbar-fixed-top">
    <header>
        <div class="col-xs-2 col-sm-2 text-center">
            <div class="logo-1">
                <a href="/home"><img src="https://s3-us-west-2.amazonaws.com/tappyn/genesus_logo.jpg" height="50px"></a>
            </div>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-8 col-md-offset-1">
            <nav class='hidden-xs'>
                <ul class="pull-right">
                    <li class="outline" style='cursor:pointer' ng-show="__user.email">
                        <a class="new-campaign btn btn-bl-sm" href="/launch" target="_self">MAKE A PRODUCT</a>
                    </li>
                    <li ng-show="!__user.email">
                        <a class="new-campaign" href="javascript:void(0)" ng-click="set_module('login')">Login</a>
                    </li>
                    <!--<li ng-show="!__user.email">
                        <a class="new-campaign" href="javascript:void(0)" ng-click="set_module('register')">Register</a>
                    </li>-->
                    <li ng-show="__user.email">
                        <a class="new-campaign" href="/dashboard">{{__user.email}}</a>
                    </li>
                    <li ng-show="__user.email">
                        <a class="new-campaign" href="javascript:void(0)" ng-click="logout()">Logout</a>
                    </li>
                </ul>
            </nav>
            <nav class='visible-xs'>
                <ul style="margin-bottom:0px;">
                    <li class="pull-right" uib-dropdown style="padding-top:3px;padding-right:5px;">
                        <a href uib-dropdown-toggle><center><img src="/img/menu.png" class="img-responsive" style="max-height:40px;"></center></a>
                          <ul uib-dropdown-menu role='menu'>
                            <!--<li>
                              <a style="color:#777;" href="/sell" target="_self">Become An Owner</a>
                            </li>-->
                            <li>
                              <a style="color:#777;" href="/contact_us" target="_self">Contact Us</a>
                            </li>
                            <li>
                              <a  style="color:#777;" href="/faq" target="_self">FAQ</a>
                            </li>
                            <li>
                              <a  style="color:#777;" href="/shipping" target="_self">Shipping</a>
                            </li>
                            <li>
                              <a  style="color:#777;" href="/drop_shipping" target="_self">Drop Shipping</a>
                            </li>
                            <li>
                              <a  style="color:#777;" href="/how_it_works" target="_self">How It Works</a>
                            </li>
                            <li>
                              <a style="color:#777;" href="/why_genesus" target="_self">Why Genesus</a>
                            </li>
                            <li>
                              <a  style="color:#777;" href="/our_story" target="_self">Our Story</a>
                            </li>
                            <li>
                              <a  style="color:#777;" href="/non_gmo" target="_self">Non-GMO</a>
                            </li>
                            <li>
                              <a  style="color:#777;" href="/feeling_guarantee" target="_self">Clean Guarantee</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    </div>
<div class="container-fluid non_gmo">
  <div class="hidden-xs col-sm-12 text-center" style="padding-top:125px;">
    <h1 style="font-family:'Dosis', sans-serif;font-size:72px;font-weight:400;color:#fff;">NON-GMO</h3>
  </div>
  <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-center pad-top-100">
    <h1 style="font-family:'Dosis', sans-serif;font-size:22px;font-weight:400;color:#fff;margin-top:10px;">NON-GMO</h3>
  </div>
</div>
<div class="container-fluid hidden-xs" style="background-color:#F6F3EE;">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center lil-pad lil-pad-bottom">
    <h2 style="font-family:'Dosis', sans-serif;">YOUR RIGHT TO KNOW</h2>
    <h3 style="color:#777;font-size:18px;font-weight:400;text-align:left;">Genesus is passionately committed to creating a world that is free of genetically modified organsims, or GMOs. We believe everyone has a right to know what they are consuming and what chemicals
    are used in the supplements that they consume every day. That's why we have carefully screened our products to ensure we do carry as few GMO supplements as possible. We also focus on providing USDA Certified Organic options wherever they exist. Genetically Modified Organisms are prohibited under the USDA Organic Guidelines.</h3>
  </div>
  <div class="col-xs-12 lil-pad-bottom">
    <div class="col-xs-6 col-sm-4 col-sm-offset-2">
      <img class="pull-right img-responsive" src="/img/gmo.jpg" style="max-height:100px;">
    </div>
    <div class="col-xs-6 col-sm-4">
      <img class="pull-left img-responsive" src="/img/usda.png" style="max-height:100px;">
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center lil-pad lil-pad-bottom">
    <h2 style="font-family:'Dosis', sans-serif;">LABEL IT</h2>
    <h3 class="lil-pad-bottom" style="color:#777;font-size:18px;font-weight:400;text-align:left;">We believe supplements containing any genetically engineered ingredients should be clearly labeled. While the United States does not yet legally mandate the labeling of GMOs, we are committed to transparency about the products we sell on Genesus. Many of the supplements we carry are certified by the non-GMO project and/or Certified Organic by the USDA, which prohibits the use of GMOs.</h3>
  </div>
</div>
<div class="container-fluid hidden-sm hidden-md hidden-lg" style="background-color:#F6F3EE;">
	<div class="col-xs-12 text-center lil-pad lil-pad-bottom">
    <h2 style="font-size:18px;color:#444;font-weight:400;line-height:1.3;margin-top:0px;">YOUR RIGHT TO KNOW</h2>
    <h3 style="font-size:16px;color:#777;font-weight:400;line-height:1.3;margin-top:0px;">Genesus is passionately committed to creating a world that is free of genetically modified organsims, or GMOs. We believe everyone has a right to know what they are consuming and what chemicals
    are used in the supplements that they consume every day. That's why we have carefully screened our products to ensure we do carry as few GMO supplements as possible. We also focus on providing USDA Certified Organic options wherever they exist. Genetically Modified Organisms are prohibited under the USDA Organic Guidelines.</h3>
  </div>
  <div class="col-xs-12">
    <div class="col-xs-6">
      <center>
        <img class="pull-right img-responsive" src="/img/gmo.jpg" style="max-height:100px;">
      </center>
    </div>
    <div class="col-xs-6">
      <center>
        <img class="pull-left img-responsive" src="/img/usda.png" style="max-height:100px;">
      </center>
    </div>
  </div>
  <div class="col-xs-12 text-center lil-pad-bottom">
    <h2 style="font-size:18px;color:#444;font-weight:400;line-height:1.3;">LABEL IT</h2>
    <h3 style="font-size:16px;color:#777;font-weight:400;line-height:1.3;margin-top:0px;">We believe supplements containing any genetically engineered ingredients should be clearly labeled. While the United States does not yet legally mandate the labeling of GMOs, we are committed to transparency about the products we sell on Genesus. Many of the supplements we carry are certified by the non-GMO project and/or Certified Organic by the USDA, which prohibits the use of GMOs.</h3>
  </div>
</div>
<div class="container-fluid non_gmo_mid hidden-xs">
  <div class="col-sm-12 text-center" style="padding-top:50px;">
    <h1 style="font-family:'Dosis', sans-serif;font-size:78px;font-weight:400;color:#fff;">OUR BODIES ARE OUR GARDENS -<br> OUR WILLS ARE OUR GARDNENERS.</h3>
    <h4 style="font-family:'Dosis', sans-serif;font-size:46px;font-weight:400;color:#fff;"><em>William Shakespeare</em></h4>
  </div>
</div>
<div class="container-fluid non_gmo_mid hidden-sm hidden-md hidden-lg">
  <div class="col-xs-12 lil-pad text-center">
    <h1 style="font-family:'Dosis', sans-serif;font-size:22px;font-weight:400;color:#fff;line-height:1.3;">OUR BODIES ARE OUR GARDENS -<br> OUR WILLS ARE OUR GARDNENERS.</h3>
    <h2 style="font-family:'Dosis', sans-serif;font-size:18px;font-weight:400;color:#fff;"><em>William Shakespeare</em></h2>
  </div>
</div>
<div class="container-fluid hidden-xs" style="background-color:#F6F3EE;">
	<div class="col-sm-8 col-sm-offset-2 text-center lil-pad lil-pad-bottom">
    <h2 style="font-family:'Dosis', sans-serif;">A NEW STANDARD</h2>
    <h3 style="color:#777;font-size:18px;font-weight:400;text-align:left;">Though maintaining a catalog free of GMO foods is difficult, we are excited to support a growing supply chain where there is more visibility, accountability and success in awareness of genetically modified crops. We hope that major corporations will begin offering the non-GMO products they sell to European consumers to American consumers. We hope that certified Organic & non-GMO foods will become the industry standard, not the exception.</h3>
  </div>
</div>
<div class="container-fluid hidden-sm hidden-md hidden-lg" style="background-color:#F6F3EE;">
	<div class="col-xs-12 text-center lil-pad">
    <h2 style="font-size:18px;color:#444;font-weight:400;line-height:1.3;margin-top:0px;">A NEW STANDARD</h2>
    <h3 style="font-size:16px;color:#777;font-weight:400;line-height:1.3;margin-top:0px;">Though maintaining a catalog free of GMO foods is difficult, we are excited to support a growing supply chain where there is more visibility, accountability and success in awareness of genetically modified crops. We hope that major corporations will begin offering the non-GMO products they sell to European consumers to American consumers. We hope that certified Organic & non-GMO foods will become the industry standard, not the exception.</h3>
  </div>
</div>
<div class="container-fluid hidden-xs" style="background-color:#F6F3EE;">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center lil-pad lil-pad-bottom">
    <h2 style="font-family:'Dosis', sans-serif;">A SIMPLE SOLUTION</h2>
    <h3 class="lil-pad-bottom" style="color:#777;font-size:18px;font-weight:400;text-align:left;">Genetic engineering is an extremely important issue, and also one of the most complex issues. Tracing GMO ingredients with 100 percent accuracy
    is extremely difficult, as cross-pollination and seed drift can contaminate natural crops with genetically modified pollen. More than 70 percent of food sold in the United States contains some genetically engineered ingredients and we know how difficult
    it can be for shoppers to always take the time to find out what is in their food. At Genesus, you can trust that we will do our best to never sell GMO supplements and we promise to make it right if something with genetically engineered ingredients should make it on to the site.</h3>
  </div>
</div>
<div class="container-fluid hidden-sm hidden-md hidden-lg" style="background-color:#F6F3EE;">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center lil-pad lil-pad-bottom">
    <h2 style="font-size:18px;color:#444;font-weight:400;line-height:1.3;margin-top:0px;">A SIMPLE SOLUTION</h2>
    <h3 style="font-size:16px;color:#777;font-weight:400;line-height:1.3;margin-top:0px;">Genetic engineering is an extremely important issue, and also one of the most complex issues. Tracing GMO ingredients with 100 percent accuracy
    is extremely difficult, as cross-pollination and seed drift can contaminate natural crops with genetically modified pollen. More than 70 percent of food sold in the United States contains some genetically engineered ingredients and we know how difficult
    it can be for shoppers to always take the time to find out what is in their food. At Genesus, you can trust that we will do our best to never sell GMO supplements and we promise to make it right if something with genetically engineered ingredients should make it on to the site.</h3>
  </div>
</div>
<div class="container-fluid non_gmo_last">
  <div class="hidden-xs col-sm-12 text-center pad-top-100">
    <h1 style="font-family:'Dosis', sans-serif;font-size:78px;font-weight:400;color:#3AC395;">OUR VALUES MEAN<br>EVERYTHING.</h3>
  </div>
  <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-center pad-top-50">
    <h1 style="font-family:'Dosis', sans-serif;font-size:22px;font-weight:400;color:#3AC395;line-height:1.3;">OUR VALUES MEAN<br>EVERYTHING.</h3>
  </div>
</div>
<div class="container-fluid hidden-xs" style="background-color:#F6F3EE;">
	<div class="col-sm-8 col-sm-offset-2 text-center lil-pad lil-pad-bottom">
    <h2 style="font-family:'Dosis', sans-serif;">WE NEED YOU</h2>
    <h3 style="color:#777;font-size:18px;font-weight:400;text-align:left;">We encourage you to point out products that you know or suspect may contain GMOs. If you see something worth noting, please let us know by email at alek@genesus.co. Thank you for your support, and your help in making sure Genesus is free of genetically modified supplements.</h3>
  </div>
</div>
<div class="container-fluid hidden-sm hidden-md hidden-lg" style="background-color:#F6F3EE;">
	<div class="col-xs-12 text-center lil-pad">
    <h2 style="font-size:18px;color:#444;font-weight:400;line-height:1.3;margin-top:0px;">WE NEED YOU</h2>
    <h3 style="font-size:16px;color:#777;font-weight:400;line-height:1.3;margin-top:0px;">We encourage you to point out products that you know or suspect may contain GMOs. If you see something worth noting, please let us know by email at alek@genesus.co. Thank you for your support, and your help in making sure Genesus is free of genetically modified supplements.</h3>
  </div>
</div>
<div id="footer">
  <div class="row">
    <div class="hidden-xs container-fluid" style="background:#F5F2ED;margin-bottom:-2px;">
      <img class="lil-pad" src="/img/footer_design.png" class="img-responsive" style="width:100%;">
    </div>
    <div class="hidden-sm hidden-md hidden-lg container-fluid" style="background:#F5F2ED;margin-bottom:-2px;">
      <img class="lil-pad" src="/img/footer_design_small.jpg" class="img-responsive" style="width:100%;">
    </div>
  </div>
    <footer>
        <div class="row">
            <div class="container col-xs-12 lil-pad lil-pad-bottom">
                <div class='col-xs-12'>
                  <div class="col-xs-12 pull-left no-pad-left lil-pad-bottom">
                    <ul class="footer-nav no-pad-left">
                        <div class='col-xs-6 col-sm-2 col-sm-offset-2'>
                            <li>
                              <h3 class="text-center">Genesus</h3>
                                <!--<h5 style="font-weight:400;cursor:default;padding-top:15px;">
                                  <a style="color:#C1C5CD;" href="/launch" target="_self">Make A Product</a>
                                </h5>-->
                                <!--<h5 style="font-weight:400;cursor:default;padding-top:15px;">
                                  <a style="color:#C1C5CD;" href="/how_it_works" target="_self">How It Works</a>
                                </h5>-->
                                <h5 class="text-center">
                                  <a href="/why_genesus" target="_self">Why Genesus</a>
                                </h5>
                                <h5 class="text-center">
                                  <a href="/our_story" target="_self">Our Story</a>
                                </h5>
                                <h5 class="text-center">
                                  <a href="/non_gmo" target="_self">Non-GMO</a>
                                </h5>
                                <h5 class="text-center">
                                  <a href="/feeling_guarantee" target="_self">Clean Guarantee</a>
                                </h5>
                                <h5 class="text-center">
                                  <a href="/contact_us" target="_self">Careers</a>
                                </h5>
                                <!--<h5 style="font-weight:400;cursor:default;padding-top:15px;">
                                  <a style="color:#C1C5CD;" href="/selling" target="_self">Selling On Genesus</a>
                                </h5>-->
                            </li>
                        </div>
                        <div class='col-xs-6 col-sm-2'>
                            <li>
                              <h3 class="text-center">About</h3>
                                <h5 class="text-center">
                                  <a href="/contact_us" target="_self">Contact Us</a>
                                </h5>
                                <h5 class="text-center">
                                  <a href="/faq" target="_self">FAQ</a>
                                </h5>
                                <h5 class="text-center">
                                  <a href="/shipping" target="_self">Shipping</a>
                                </h5>
                                <h5 class="text-center">
                                  <a href="/drop_shipping" target="_self">Drop Shipping</a>
                                </h5>
                                <h5 class="text-center">
                                  <a href="/how_it_works" target="_self">How It Works</a>
                                </h5>

                            </li>
                        </div>
                        <div class='col-xs-6 col-sm-2 col-sm-offset-2'>
                          <div class="col-xs-12 no-pad-left">
                               <li class="text-center">
                                   <h3 style="color:#fff;cursor:default;float:left;">Follow Us</h3>
                               </li>
                          </div>
                          <div class="col-xs-3" style="display:inline-block;padding-left:0px;">
                               <li class="text-center">
                                   <a href="https://www.facebook.com/genesus.co/?fref=ts" target="_blank"><img src="/img/facebook.png" style="height:25px;"></a>
                               </li>
                             </div>
                             <div class="col-xs-3" style="display:inline-block;padding-left:0px;">
                               <li class="text-center">
                                   <a href="https://www.instagram.com/genesusco/" target="_blank"><img src="/img/insta.png" style="height:25px;"></a>
                               </li>
                           </div>
                        </div>
                    </ul>
                  </div>
                </div>
            </div>

        </div>
    </footer>
</div>
