<div class="container-fluid hidden-sm hidden-md hidden-lg" style="background-color:#37495F;">
	<div class="col-xs-12" style="padding:15px;">
		<h3 style="font-family:'Dosis', sans-serif;color:#fff;">Get an EXTRA 15% OFF your next order. Plus get FREE shipping.</h3>
	</div>
</div>
<div class='container-fluid'>
	<section class="store-bg">
		<div class="container">
			<div class="col-xs-12 text-center">
				<div class="hidden-xs col-sm-12" style="padding-top:100px;">
						<h1>WELCOME TO GENESUS</h1>
				</div>
				<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
						<h1 style="font-size:48px;padding-bottom:0px">WELCOME TO GENESUS</h1>
				</div>
				<div class="col-xs-12">
					<div class="hidden-xs col-sm-12">
						<h3>Find the products you'll love.</h3>
					</div>
					<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
						<h3 style="font-size:28px;">Find the products you'll love.</h3>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!--<section class="hidden-sm hidden-md hidden-lg">
	<div class="row">
		<div class="container-fluid" style="background-color:#fff;">
		<div class="col-xs-12 text-center">
			<div class="col-xs-12" style="border-bottom:1px solid #ddd;padding-top:10px;">
				<div class="col-xs-12">
					<h3 style="color:#3AC395;font-family:'Dosis', sans-serif;">EXTRA 15% OFF</h3>
				</div>
				<div class="col-xs-12">
					<h4 style="color:#777;line-height:1.3;font-size:14px;font-weight:400;">Get an extra 20% off your first order. Shop now!</h4>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="col-xs-12">
					<h3 style="color:#3AC395;font-family:'Dosis', sans-serif;">FREE SHIPPING</h3>
				</div>
				<div class="col-xs-12">
					<h4 style="color:#777;line-height:1.3;font-size:14px;font-weight:400;">On your order. No minimum!</h4>
				</div>
			</div>
		</div>
	</div>
</div>
</section>-->
<!--<div class="row lil-pad hidden-xs" style="background-color:#fff;">
	<section class="store">
		<div class="container">
			<div class="col-xs-12 text-center">
				<div class="col-xs-4 col-xs-offset-2">
					<div class="col-xs-12">
						<h3>EXTRA 20% OFF</h3>
					</div>
					<div class="col-xs-12">
						<h4 style="color:#777;line-height:1.3;font-size:14px;font-weight:400;">Get an extra 20% off your first order. Shop now!</h4>
					</div>
				</div>
				<div class="col-xs-4" style="border-left:1px solid #777;">
					<div class="col-xs-12">
						<h3>FREE SHIPPING</h3>
					</div>
					<div class="col-xs-12">
						<h4 style="color:#777;line-height:1.3;font-size:14px;font-weight:400;">On your order. No minimum!</h4>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>-->
<!--<div class="row" style="background-color:#f5f2ed;">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1" style="border-bottom:1px solid #ddd;">
		<h2 style="font-family:'Dosis', sans-serif;">ALL PRODUCTS</h2>
	</div>
</div>-->
	<section class="hidden-xs" style="background-color:#f5f2ed;">
		<div class="container">
			<div class="col-xs-12">
					<div class="col-xs-12 lil-pad-bottom" ng-repeat="purpose in purposes">
						<div class="col-xs-12 no-pad-left">
							<h2 style="font-family:'Dosis', sans-serif;font-size:24px;text-transform:uppercase;">TOP {{purpose.name}} SELLERS</h2>
						</div>
						<div class="col-xs-12 col-sm-3" ng-repeat="formula in purpose.formulas" style="border:1px solid #eee;border-radius:4px;padding-bottom:15px;cursor:default;display:inline;background-color:#fff;">
							<div class="col-xs-12" style="padding-top:15px;">
								<center>
									<a ng-if="formula.name == 'Green Tea'" href="http://genesus.co/campaign/green-tea" target="_self">
										<div class="col-xs-12" style="max-height:150px;height:150px;background:url('/plugin/design/images/labels/{{formula.name}}.jpg') no-repeat center;background-size:150px;">
											<img class="img-responsive" style="max-height:50px;height:50px;border-radius:4px;position:relative;top:100px;left:50px;" src="/plugin/design/images/owners/{{formula.owner}}.jpg">
											<h5 style="position: relative;top: 90px;left: 50px;color: #444;font-size: 10px;">{{formula.owner}}</h5>
										</div>
									</a>
									<a ng-if="formula.name == 'Raspberry Ketones'" href="http://genesus.co/campaign/raspberry-ketones" target="_self">
										<div class="col-xs-12" style="max-height:150px;height:150px;background:url('/plugin/design/images/labels/{{formula.name}}.jpg') no-repeat center;background-size:150px;">
											<img class="img-responsive" style="max-height:50px;height:50px;border-radius:4px;position:relative;top:100px;left:50px;" src="/plugin/design/images/owners/{{formula.owner}}.jpg">
											<h5 style="position: relative;top: 90px;left: 50px;color: #444;font-size: 10px;">{{formula.owner}}</h5>
										</div>
									</a>
									<a ng-if="formula.name == 'Toner Complex'" href="http://genesus.co/campaign/toner-complex" target="_self">
										<div class="col-xs-12" style="max-height:150px;height:150px;background:url('/plugin/design/images/labels/{{formula.name}}.jpg') no-repeat center;background-size:150px;">
											<img class="img-responsive" style="max-height:50px;height:50px;border-radius:4px;position:relative;top:100px;left:50px;" src="/plugin/design/images/owners/{{formula.owner}}.jpg">
											<h5 style="position: relative;top: 90px;left: 50px;color: #444;font-size: 10px;">{{formula.owner}}</h5>
										</div>
									</a>
									<a ng-if="formula.name == 'Burner Complex'" href="http://genesus.co/campaign/burner-complex" target="_self">
										<div class="col-xs-12" style="max-height:150px;height:150px;background:url('/plugin/design/images/labels/{{formula.name}}.jpg') no-repeat center;background-size:150px;">
											<img class="img-responsive" style="max-height:50px;height:50px;border-radius:4px;position:relative;top:100px;left:50px;" src="/plugin/design/images/owners/{{formula.owner}}.jpg">
											<h5 style="position: relative;top: 90px;left: 50px;color: #444;font-size: 10px;">{{formula.owner}}</h5>
										</div>
									</a>
									<a ng-if="formula.name == 'Turmeric Complex'" href="http://genesus.co/campaign/turmeric-complex" target="_self">
										<div class="col-xs-12" style="max-height:150px;height:150px;background:url('/plugin/design/images/labels/{{formula.name}}.jpg') no-repeat center;background-size:150px;">
											<img class="img-responsive" style="max-height:50px;height:50px;border-radius:4px;position:relative;top:100px;left:50px;" src="/plugin/design/images/owners/{{formula.owner}}.jpg">
											<h5 style="position: relative;top: 90px;left: 50px;color: #444;font-size: 10px;">{{formula.owner}}</h5>
										</div>
									</a>
									<a ng-if="formula.name == 'Nootropic Complex'" href="http://genesus.co/campaign/nootropic" target="_self">
										<div class="col-xs-12" style="max-height:150px;height:150px;background:url('/plugin/design/images/labels/{{formula.name}}.jpg') no-repeat center;background-size:150px;">
											<img class="img-responsive" style="max-height:50px;height:50px;border-radius:4px;position:relative;top:100px;left:50px;" src="/plugin/design/images/owners/{{formula.owner}}.jpg">
											<h5 style="position: relative;top: 90px;left: 50px;color: #444;font-size: 10px;">{{formula.owner}}</h5>
										</div>
									</a>
									<a ng-if="formula.name == 'Fiber Complex'" href="http://genesus.co/campaign/fiber-complex" target="_self">
										<div class="col-xs-12" style="max-height:150px;height:150px;background:url('/plugin/design/images/labels/{{formula.name}}.jpg') no-repeat center;background-size:150px;">
											<img class="img-responsive" style="max-height:50px;height:50px;border-radius:4px;position:relative;top:100px;left:50px;" src="/plugin/design/images/owners/{{formula.owner}}.jpg">
											<h5 style="position: relative;top: 90px;left: 50px;color: #444;font-size: 10px;">{{formula.owner}}</h5>
										</div>
									</a>
									<a ng-if="formula.name == 'Supergreens Complex'" href="http://genesus.co/campaign/supergreens-complex" target="_self">
										<div class="col-xs-12" style="max-height:150px;height:150px;background:url('/plugin/design/images/labels/{{formula.name}}.jpg') no-repeat center;background-size:150px;">
											<img class="img-responsive" style="max-height:50px;height:50px;border-radius:4px;position:relative;top:100px;left:50px;" src="/plugin/design/images/owners/{{formula.owner}}.jpg">
											<h5 style="position: relative;top: 90px;left: 50px;color: #444;font-size: 10px;">{{formula.owner}}</h5>
										</div>
									</a>
									<a ng-if="formula.name == 'Probiotic Complex'" href="http://genesus.co/campaign/probiotic-complex" target="_self">
										<div class="col-xs-12" style="max-height:150px;height:150px;background:url('/plugin/design/images/labels/{{formula.name}}.jpg') no-repeat center;background-size:150px;">
											<img class="img-responsive" style="max-height:50px;height:50px;border-radius:4px;position:relative;top:100px;left:50px;" src="/plugin/design/images/owners/{{formula.owner}}.jpg">
											<h5 style="position: relative;top: 90px;left: 50px;color: #444;font-size: 10px;">{{formula.owner}}</h5>
										</div>
									</a>
									<a ng-if="formula.name == 'Cranberry'" href="http://genesus.co/campaign/cranberry" target="_self">
										<div class="col-xs-12" style="max-height:150px;height:150px;background:url('/plugin/design/images/labels/{{formula.name}}.jpg') no-repeat center;background-size:150px;">
											<img class="img-responsive" style="max-height:50px;height:50px;border-radius:4px;position:relative;top:100px;left:50px;" src="/plugin/design/images/owners/{{formula.owner}}.jpg">
											<h5 style="position: relative;top: 90px;left: 50px;color: #444;font-size: 10px;">{{formula.owner}}</h5>
										</div>
									</a>
									<a ng-if="formula.name == 'Sleep Complex'" href="http://genesus.co/campaign/sleep-complex" target="_self">
										<div class="col-xs-12" style="max-height:150px;height:150px;background:url('/plugin/design/images/labels/{{formula.name}}.jpg') no-repeat center;background-size:150px;">
											<img class="img-responsive" style="max-height:50px;height:50px;border-radius:4px;position:relative;top:100px;left:50px;" src="/plugin/design/images/owners/{{formula.owner}}.jpg">
											<h5 style="position: relative;top: 90px;left: 50px;color: #444;font-size: 10px;">{{formula.owner}}</h5>
										</div>
									</a>
									<a ng-if="formula.name == 'Mushroom Complex'" href="http://genesus.co/campaign/mushroom-complex" target="_self">
										<div class="col-xs-12" style="max-height:150px;height:150px;background:url('/plugin/design/images/labels/{{formula.name}}.jpg') no-repeat center;background-size:150px;">
											<img class="img-responsive" style="max-height:50px;height:50px;border-radius:4px;position:relative;top:100px;left:50px;" src="/plugin/design/images/owners/{{formula.owner}}.jpg">
											<h5 style="position: relative;top: 90px;left: 50px;color: #444;font-size: 10px;">{{formula.owner}}</h5>
										</div>
									</a>
									<a ng-if="formula.name == 'Primal Whey'" href="http://genesus.co/campaign/primal-whey" target="_self">
										<div class="col-xs-12" style="max-height:150px;height:150px;background:url('/plugin/design/images/labels/{{formula.name}}.jpg') no-repeat center;background-size:150px;">
											<img class="img-responsive" style="max-height:50px;height:50px;border-radius:4px;position:relative;top:100px;left:50px;" src="/plugin/design/images/owners/{{formula.owner}}.jpg">
											<h5 style="position: relative;top: 90px;left: 50px;color: #444;font-size: 10px;">{{formula.owner}}</h5>
										</div>
									</a>
									<a ng-if="formula.name == 'CLA'" href="http://genesus.co/campaign/cla" target="_self">
										<div class="col-xs-12" style="max-height:150px;height:150px;background:url('/plugin/design/images/labels/{{formula.name}}.jpg') no-repeat center;background-size:150px;">
											<img class="img-responsive" style="max-height:50px;height:50px;border-radius:4px;position:relative;top:100px;left:50px;" src="/plugin/design/images/owners/{{formula.owner}}.jpg">
											<h5 style="position: relative;top: 90px;left: 50px;color: #444;font-size: 10px;">{{formula.owner}}</h5>
										</div>
									</a>
								</center>
							</div>
							<div class="col-xs-12 text-center">
								<h3 style="font-size:18px;margin-bottom:5px;">{{formula.name}}</h3>
								<h5 style="margin-bottom:0px;margin-top:0px;color:#777;">{{formula.servings}} Servings</h5>
								<center>
									<img ng-src="/plugin/design/images/ratings/{{formula.name}}.jpg" class="img-responsive" style="max-height:30px;height:30px;margin-top:0px;">
								</center>
								<!--<h5 style="color:#777;" ng-bind="formula.description"></h5>-->
							</div>
							<div class="col-xs-12 text-center" style="text-transform:uppercase;">
								<span ng-show="formula.benefit_1" style="display:inline;font-size:8px;font-weight:600;">{{formula.benefit_1}}</span>
								<span ng-show="formula.benefit_2" style="display:inline;font-size:8px;font-weight:600;">&#8226 {{formula.benefit_2}}</span>
								<span ng-show="formula.benefit_3" style="display:inline;font-size:8px;font-weight:600;">&#8226 {{formula.benefit_3}}</span>
							</div>
							<div class="col-xs-12 text-center lil-pad-bottom">
								<!--<span style="color:#777;font-size:14px;text-decoration:line-through;">{{formula.recommended_price | currency}}</span>-->
								<span style="color:#3AC395;font-size:16px;">{{formula.cost30 | currency}}</span>
								<!--<span style="color:#3AC395;font-size:16px;">(Save {{formula.margin}}%)</span>-->
							</div>
							<div class="col-xs-12 text-center">
								<a ng-if="formula.name == 'Green Tea'" href="http://genesus.co/campaign/green-tea" target="_self" class="btn btn-bl btn-sm">BUY IT NOW</a>
								<a ng-if="formula.name == 'Raspberry Ketones'" href="http://genesus.co/campaign/raspberry-ketones" target="_self" class="btn btn-bl btn-sm">BUY IT NOW</a>
								<a ng-if="formula.name == 'Toner Complex'" href="http://genesus.co/campaign/toner-complex" target="_self" class="btn btn-bl btn-sm">BUY IT NOW</a>
								<a ng-if="formula.name == 'Burner Complex'" href="http://genesus.co/campaign/burner-complex" target="_self" class="btn btn-bl btn-sm">BUY IT NOW</a>
								<a ng-if="formula.name == 'Turmeric Complex'" href="http://genesus.co/campaign/turmeric-complex" target="_self" class="btn btn-bl btn-sm">BUY IT NOW</a>
								<a ng-if="formula.name == 'Nootropic Complex'" href="http://genesus.co/campaign/nootropic" target="_self" class="btn btn-bl btn-sm">BUY IT NOW</a>
								<a ng-if="formula.name == 'Fiber Complex'" href="http://genesus.co/campaign/fiber-complex" target="_self" class="btn btn-bl btn-sm">BUY IT NOW</a>
								<a ng-if="formula.name == 'Supergreens Complex'" href="http://genesus.co/campaign/supergreens-complex" target="_self" class="btn btn-bl btn-sm">BUY IT NOW</a>
								<a ng-if="formula.name == 'Probiotic Complex'" href="http://genesus.co/campaign/probiotic-complex" target="_self" class="btn btn-bl btn-sm">BUY IT NOW</a>
								<a ng-if="formula.name == 'Cranberry'" href="http://genesus.co/campaign/cranberry" target="_self" class="btn btn-bl btn-sm">BUY IT NOW</a>
								<a ng-if="formula.name == 'Sleep Complex'" href="http://genesus.co/campaign/sleep-complex" target="_self" class="btn btn-bl btn-sm">BUY IT NOW</a>
								<a ng-if="formula.name == 'Mushroom Complex'" href="http://genesus.co/campaign/mushroom-complex" target="_self" class="btn btn-bl btn-sm">BUY IT NOW</a>
								<a ng-if="formula.name == 'Primal Whey'" href="http://genesus.co/campaign/primal-whey" target="_self" class="btn btn-bl btn-sm">BUY IT NOW</a>
								<a ng-if="formula.name == 'CLA'" href="http://genesus.co/campaign/cla" target="_self" class="btn btn-bl btn-sm">BUY IT NOW</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="hidden-sm hidden-md hidden-lg">
				<div class="row">
					<div class="container-fluid lil-pad-bottom" style="background-color:#F5F2ED;">
						<div class="col-xs-12">
							<div class="col-xs-12 lil-pad-bottom" ng-repeat="purpose in purposes">
								<div class="col-xs-12 no-pad-left">
									<h2 style="font-family:'Dosis', sans-serif;font-size:24px;text-transform:uppercase;">TOP {{purpose.name}} SELLERS</h2>
								</div>
								<div class="col-xs-3 no-pad-left no-pad-right" ng-repeat="formula in purpose.formulas" style="border:1px solid #eee;border-radius:4px;padding-bottom:15px;cursor:default;display:inline;background-color:#fff;">
									<div class="col-xs-12 no-pad-left no-pad-right" style="padding-top:15px;">
										<center>
											<a ng-if="formula.name == 'Green Tea'" href="http://genesus.co/campaign/green-tea" target="_self">
												<div class="col-xs-12" style="max-height:150px;height:150px;background:url('/plugin/design/images/labels/{{formula.name}}.jpg') no-repeat center;background-size:150px;">
													<img class="img-responsive" style="max-height:25px;height:25px;border-radius:4px;position:relative;top:110px;left:30px;" src="/plugin/design/images/owners/{{formula.owner}}.jpg">
													<h5 style="position: relative;top: 100px;left: 30px;color: #444;font-size: 8px;">{{formula.owner}}</h5>
											</div>
											</a>
											<a ng-if="formula.name == 'Raspberry Ketones'" href="http://genesus.co/campaign/raspberry-ketones" target="_self">
												<div class="col-xs-12" style="max-height:150px;height:150px;background:url('/plugin/design/images/labels/{{formula.name}}.jpg') no-repeat center;background-size:150px;">
													<img class="img-responsive" style="max-height:25px;height:25px;border-radius:4px;position:relative;top:110px;left:30px;" src="/plugin/design/images/owners/{{formula.owner}}.jpg">
													<h5 style="position: relative;top: 100px;left: 30px;color: #444;font-size: 8px;">{{formula.owner}}</h5>
											</div>
											</a>
											<a ng-if="formula.name == 'Toner Complex'" href="http://genesus.co/campaign/toner-complex" target="_self">
												<div class="col-xs-12" style="max-height:150px;height:150px;background:url('/plugin/design/images/labels/{{formula.name}}.jpg') no-repeat center;background-size:150px;">
													<img class="img-responsive" style="max-height:25px;height:25px;border-radius:4px;position:relative;top:110px;left:30px;" src="/plugin/design/images/owners/{{formula.owner}}.jpg">
													<h5 style="position: relative;top: 100px;left: 30px;color: #444;font-size: 8px;">{{formula.owner}}</h5>
											</div>
											</a>
											<a ng-if="formula.name == 'Burner Complex'" href="http://genesus.co/campaign/burner-complex" target="_self">
												<div class="col-xs-12" style="max-height:150px;height:150px;background:url('/plugin/design/images/labels/{{formula.name}}.jpg') no-repeat center;background-size:150px;">
													<img class="img-responsive" style="max-height:25px;height:25px;border-radius:4px;position:relative;top:110px;left:30px;" src="/plugin/design/images/owners/{{formula.owner}}.jpg">
													<h5 style="position: relative;top: 100px;left: 30px;color: #444;font-size: 8px;">{{formula.owner}}</h5>
											</div>
											</a>
											<a ng-if="formula.name == 'Turmeric Complex'" href="http://genesus.co/campaign/turmeric-complex" target="_self">
												<div class="col-xs-12" style="max-height:150px;height:150px;background:url('/plugin/design/images/labels/{{formula.name}}.jpg') no-repeat center;background-size:150px;">
													<img class="img-responsive" style="max-height:25px;height:25px;border-radius:4px;position:relative;top:110px;left:30px;" src="/plugin/design/images/owners/{{formula.owner}}.jpg">
													<h5 style="position: relative;top: 100px;left: 30px;color: #444;font-size: 8px;">{{formula.owner}}</h5>
											</div>
											</a>
											<a ng-if="formula.name == 'Nootropic Complex'" href="http://genesus.co/campaign/nootropic" target="_self">
												<div class="col-xs-12" style="max-height:150px;height:150px;background:url('/plugin/design/images/labels/{{formula.name}}.jpg') no-repeat center;background-size:150px;">
													<img class="img-responsive" style="max-height:25px;height:25px;border-radius:4px;position:relative;top:110px;left:30px;" src="/plugin/design/images/owners/{{formula.owner}}.jpg">
													<h5 style="position: relative;top: 100px;left: 30px;color: #444;font-size: 8px;">{{formula.owner}}</h5>
											</div>
											</a>
											<a ng-if="formula.name == 'Fiber Complex'" href="http://genesus.co/campaign/fiber-complex" target="_self">
												<div class="col-xs-12" style="max-height:150px;height:150px;background:url('/plugin/design/images/labels/{{formula.name}}.jpg') no-repeat center;background-size:150px;">
													<img class="img-responsive" style="max-height:25px;height:25px;border-radius:4px;position:relative;top:110px;left:30px;" src="/plugin/design/images/owners/{{formula.owner}}.jpg">
													<h5 style="position: relative;top: 100px;left: 30px;color: #444;font-size: 8px;">{{formula.owner}}</h5>
											</div>
											</a>
											<a ng-if="formula.name == 'Supergreens Complex'" href="http://genesus.co/campaign/supergreens-complex" target="_self">
												<div class="col-xs-12" style="max-height:150px;height:150px;background:url('/plugin/design/images/labels/{{formula.name}}.jpg') no-repeat center;background-size:150px;">
													<img class="img-responsive" style="max-height:25px;height:25px;border-radius:4px;position:relative;top:110px;left:30px;" src="/plugin/design/images/owners/{{formula.owner}}.jpg">
													<h5 style="position: relative;top: 100px;left: 30px;color: #444;font-size: 8px;">{{formula.owner}}</h5>
											</div>
											</a>
											<a ng-if="formula.name == 'Probiotic Complex'" href="http://genesus.co/campaign/probiotic-complex" target="_self">
												<div class="col-xs-12" style="max-height:150px;height:150px;background:url('/plugin/design/images/labels/{{formula.name}}.jpg') no-repeat center;background-size:150px;">
													<img class="img-responsive" style="max-height:25px;height:25px;border-radius:4px;position:relative;top:110px;left:30px;" src="/plugin/design/images/owners/{{formula.owner}}.jpg">
													<h5 style="position: relative;top: 100px;left: 30px;color: #444;font-size: 8px;">{{formula.owner}}</h5>
											</div>
											</a>
											<a ng-if="formula.name == 'Cranberry'" href="http://genesus.co/campaign/cranberry" target="_self">
												<div class="col-xs-12" style="max-height:150px;height:150px;background:url('/plugin/design/images/labels/{{formula.name}}.jpg') no-repeat center;background-size:150px;">
													<img class="img-responsive" style="max-height:25px;height:25px;border-radius:4px;position:relative;top:110px;left:30px;" src="/plugin/design/images/owners/{{formula.owner}}.jpg">
													<h5 style="position: relative;top: 100px;left: 30px;color: #444;font-size: 8px;">{{formula.owner}}</h5>
											</div>
											</a>
											<a ng-if="formula.name == 'GABA Complex'" href="http://genesus.co/campaign/sleep-complex" target="_self">
												<div class="col-xs-12" style="max-height:150px;height:150px;background:url('/plugin/design/images/labels/{{formula.name}}.jpg') no-repeat center;background-size:150px;">
													<img class="img-responsive" style="max-height:25px;height:25px;border-radius:4px;position:relative;top:110px;left:30px;" src="/plugin/design/images/owners/{{formula.owner}}.jpg">
													<h5 style="position: relative;top: 100px;left: 30px;color: #444;font-size: 8px;">{{formula.owner}}</h5>
											</div>
											</a>
											<a ng-if="formula.name == 'Mushroom Complex'" href="http://genesus.co/campaign/mushroom-complex" target="_self">
												<div class="col-xs-12" style="max-height:150px;height:150px;background:url('/plugin/design/images/labels/{{formula.name}}.jpg') no-repeat center;background-size:150px;">
													<img class="img-responsive" style="max-height:25px;height:25px;border-radius:4px;position:relative;top:110px;left:30px;" src="/plugin/design/images/owners/{{formula.owner}}.jpg">
													<h5 style="position: relative;top: 100px;left: 30px;color: #444;font-size: 8px;">{{formula.owner}}</h5>
											</div>
											</a>
											<a ng-if="formula.name == 'Primal Whey'" href="http://genesus.co/campaign/primal-whey" target="_self">
												<div class="col-xs-12" style="max-height:150px;height:150px;background:url('/plugin/design/images/labels/{{formula.name}}.jpg') no-repeat center;background-size:150px;">
													<img class="img-responsive" style="max-height:25px;height:25px;border-radius:4px;position:relative;top:110px;left:30px;" src="/plugin/design/images/owners/{{formula.owner}}.jpg">
													<h5 style="position: relative;top: 100px;left: 30px;color: #444;font-size: 8px;">{{formula.owner}}</h5>
											</div>
											</a>
											<a ng-if="formula.name == 'CLA'" href="http://genesus.co/campaign/cla" target="_self">
												<div class="col-xs-12" style="max-height:150px;height:150px;background:url('/plugin/design/images/labels/{{formula.name}}.jpg') no-repeat center;background-size:150px;">
													<img class="img-responsive" style="max-height:25px;height:25px;border-radius:4px;position:relative;top:110px;left:30px;" src="/plugin/design/images/owners/{{formula.owner}}.jpg">
													<h5 style="position: relative;top: 100px;left: 30px;color: #444;font-size: 8px;">{{formula.owner}}</h5>
											</div>
											</a>
										</center>
									</div>
								<div class="col-xs-12 text-center">
									<a ng-if="formula.name == 'Green Tea'" href="http://genesus.co/campaign/green-tea" target="_self">
										<h3 style="font-size:10px;margin-bottom:5px;height:38px;">{{formula.name}}</h3>
									</a>
									<a ng-if="formula.name == 'Raspberry Ketones'" href="http://genesus.co/campaign/raspberry-ketones" target="_self">
										<h3 style="font-size:10px;margin-bottom:5px;height:38px;">{{formula.name}}</h3>
									</a>
									<a ng-if="formula.name == 'Toner Complex'" href="http://genesus.co/campaign/toner-complex" target="_self">
										<h3 style="font-size:10px;margin-bottom:5px;height:38px;">{{formula.name}}</h3>
									</a>
									<a ng-if="formula.name == 'Burner Complex'" href="http://genesus.co/campaign/burner-complex" target="_self">
										<h3 style="font-size:10px;margin-bottom:5px;height:38px;">{{formula.name}}</h3>
									</a>
									<a ng-if="formula.name == 'Turmeric Complex'" href="http://genesus.co/campaign/turmeric-complex" target="_self">
										<h3 style="font-size:10px;margin-bottom:5px;height:38px;">{{formula.name}}</h3>
									</a>
									<a ng-if="formula.name == 'Nootropic Complex'" href="http://genesus.co/campaign/nootropic" target="_self">
										<h3 style="font-size:10px;margin-bottom:5px;height:38px;">{{formula.name}}</h3>
									</a>
									<a ng-if="formula.name == 'Fiber Complex'" href="http://genesus.co/campaign/fiber-complex" target="_self">
										<h3 style="font-size:10px;margin-bottom:5px;height:38px;">{{formula.name}}</h3>
									</a>
									<a ng-if="formula.name == 'Supergreens Complex'" href="http://genesus.co/campaign/supergreens-complex" target="_self">
										<h3 style="font-size:10px;margin-bottom:5px;height:38px;">{{formula.name}}</h3>
									</a>
									<a ng-if="formula.name == 'Probiotic Complex'" href="http://genesus.co/campaign/probiotic-complex" target="_self">
										<h3 style="font-size:10px;margin-bottom:5px;height:38px;">{{formula.name}}</h3>
									</a>
									<a ng-if="formula.name == 'Cranberry'" href="http://genesus.co/campaign/cranberry" target="_self">
										<h3 style="font-size:10px;margin-bottom:5px;height:38px;">{{formula.name}}</h3>
									</a>
									<a ng-if="formula.name == 'GABA Complex'" href="http://genesus.co/campaign/sleep-complex" target="_self">
										<h3 style="font-size:10px;margin-bottom:5px;height:38px;">{{formula.name}}</h3>
									</a>
									<a ng-if="formula.name == 'Mushroom Complex'" href="http://genesus.co/campaign/mushroom-complex" target="_self">
										<h3 style="font-size:10px;margin-bottom:5px;height:38px;">{{formula.name}}</h3>
									</a>
									<a ng-if="formula.name == 'Primal Whey'" href="http://genesus.co/campaign/primal-whey" target="_self">
										<h3 style="font-size:10px;margin-bottom:5px;height:38px;">{{formula.name}}</h3>
									</a>
									<a ng-if="formula.name == 'CLA'" href="http://genesus.co/campaign/cla" target="_self">
										<h3 style="font-size:10px;margin-bottom:5px;height:38px;">{{formula.name}}</h3>
									</a>
								</div>
						</div>
					</div>
				</div>
			</section>
		</div>
